<script setup lang="ts">
import { AuthService } from '@/api/auth.api';
import { SessionService, type LoginDTO } from '@/api/session.api';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import { useToast } from "primevue/usetoast";
import { useForm } from 'vee-validate';
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from "vue-router";
import * as yup from 'yup';
import Card from 'primevue/card';
import ProgressBar from 'primevue/progressbar';

const router = useRouter();
const route = useRoute();
const toast = useToast();

const loginLoading = ref(false);

const formSchema = yup.object({
    email: yup.string().required()/*.email()*/.label("Email"),
    password: yup.string().required().label("Password")
});
const { defineComponentBinds, handleSubmit, errors, setErrors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});
const email = defineComponentBinds("email");
const password = defineComponentBinds("password");


const onClickLogin = handleSubmit(values => {
    loginLoading.value = true;
    const loginDTO: LoginDTO = {
        username: values['email'],
        password: values['password']
    };

    SessionService.Login(loginDTO).then((res) => {
        const jwt = res.data;
        AuthService.putJWT(jwt);
        router.go(0); // Forces reload -> triggers App.onMounted -> updates userStore.
    }).catch((err) => {
        if (err.response.status == 403 || err.response.status == 404) {
            setErrors({ "submit": "Wrong email or password!" });
        }
        loginLoading.value = false;
    });
});

onMounted(async () => {
    await router.isReady().then(() => {
        if (route.query['redirect']) {
            toast.add({ severity: 'error', summary: 'Sign In', detail: 'Please sign in to continue.', life: 3000 });
        }
    });
});

</script>

<template>
    <div class="flex overflow-hidden">
        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
            <img id="login-img" src="/img_city.png" />
        </div>
        <div class="flex-5 md:flex-none flex align-items-center justify-content-center">       
            <Card id="login-card">
                <template #title>
                    <ProgressBar mode="indeterminate" style="height: 6px" v-if="loginLoading" />
                    <div class="login-card-title">Sign in</div>
                </template>
                <template #content>
                    <div class="card flex justify-content-center">
                        <form @submit="onClickLogin" class="flex flex-column gap-5">
                            <div class="field">
                                <div class="p-float-label">
                                    <InputText id="email" v-bind="email" type="text" :class="{ 'p-invalid': errors.email }" />
                                    <label for="email">Email</label>
                                </div>
                                <small class="p-error">{{ errors.email }}</small>
                            </div>

                            <div class="field">
                                <div class="p-float-label">
                                    <InputText id="password" v-bind="password" type="password" :class="{ 'p-invalid': errors.password }" />
                                    <label id="error-password" for="password">Password</label>
                                </div>
                                <small class="p-error">{{ errors.password }}</small>
                            </div>

                            <div class="field">
                                <div class="p-float-label">
                                    <Button class="login-button" label="Sign In" type="submit" :class="{ 'p-invalid': errors.submit }" />
                                </div>
                                <small class="p-error">{{ errors.submit }}</small>



                                <div style="margin-top: 50px">
                                    Don't have an account?
                                    <RouterLink to="/register">Join us</RouterLink>
                                </div>
                            </div>
                        </form>
                    </div>
                </template>
            </Card>
        </div>
    </div>
</template>

<style>
#login-card {
    margin-top: 6em;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.login-card-title {
    font-size: 1.75em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#login-img {
    width:65%;
    height:65%;
}
</style>