<script setup lang="ts">
import type { ErrorDTO } from '@/api/common.api';
import { UserService, type ClientRegisterDTO } from '@/api/user.api';
import { file2Base64 } from '@/util/base64';
import type { AxiosError, AxiosResponse } from 'axios';
import Button from 'primevue/button';
import FileUpload from 'primevue/fileupload';
import InputText from 'primevue/inputtext';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import * as yup from 'yup';
import Card from 'primevue/card';
import ProgressBar from 'primevue/progressbar';
import { useToast } from 'primevue/usetoast';

const loading = ref(false);
const router = useRouter();
const toast = useToast();

let avatarBase64: string = "";
const formSchema = yup.object({
    email: yup.string().required()/*.email()*/.label("Email"),
    password: yup.string().required().label("Password"),
    passwordConfirm: yup.string().required().oneOf([yup.ref("password")], "Passwords must match!").label("Confirm password"),
    name: yup.string().required().label("Name"),
    lastName: yup.string().required().label("Last name"),
    avatar: yup.object().test("", "Please upload an image.", () => avatarBase64 != "")
});
const { defineComponentBinds, handleSubmit, errors, setErrors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});
const email = defineComponentBinds("email");
const password = defineComponentBinds("password");
const passwordConfirm = defineComponentBinds("passwordConfirm");
const name = defineComponentBinds("name");
const lastName = defineComponentBinds("lastName");
const avatar = defineComponentBinds("avatar");
const avatarFname = ref<string | undefined>(undefined);

const onUpload = async (e: any) => {
    const f: File = e.files[0];
    if (f.size > 1024 * 1024 * 5) {
        // If we test here instead of the yup schema, we don't have to convert to b64, so it's faster.
        setErrors({ "avatar": "File too large. Must be less than 5MB." });
        return;
    }
    if (!['image/jpeg', 'image/png'].includes(f.type)) {
        setErrors({ "avatar": "File must be .jpg or .png." });
        return;
    }
    avatarBase64 = await file2Base64(f);
    avatarFname.value = URL.createObjectURL(f);
};


const onClickRegister = handleSubmit(values => {
    loading.value = true;
    const data: ClientRegisterDTO = {
        email: values['email'],
        password: values['password'],
        name: values['name'],
        lastName: values['lastName'],
        avatarB64: avatarBase64
    }

    UserService.RegisterClient(data).then((res) => {
        loading.value = false;
        toast.add({ severity: 'success', summary: 'Success', detail: `Account created. Check your email (${values['email']}) to verify it.`, life: 5000, group: 'success' });
        router.replace({ path: '/login' });
    }).catch((err: AxiosError<ErrorDTO>) => {
        loading.value = false;
        if (err.response?.status == 400) {
            setErrors({ "submit": err.response.data.message });
        }
        if (err.message && err.message.includes('413')) {
            console.log('The file you tried to upload is too large.')
        }
    });
});


</script>

<template>
<Card id="register-card">
    <template #title>
        <ProgressBar mode="indeterminate" style="height: 6px" v-if="loading" />
        <div class="register-card-title">Join us</div>
    </template>
    <template #content> 
        <form @submit="onClickRegister" class="flex justify-content-center" style="margin: auto;">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <div>
                        <div class="p-float-label mt-4">
                            <InputText id="email" v-bind="email" type="text" :class="{ 'p-invalid': errors.email }"
                                class="w-full" />
                            <label for="email">Email</label>
                        </div>
                        <small class="p-error">{{ errors.email }}</small>
                    </div>

                    <div>
                        <div class="p-float-label mt-4">
                            <InputText id="password" v-bind="password" type="password" :class="{ 'p-invalid': errors.password }"
                                class="w-full" />
                            <label id="password" for="password">Password</label>
                        </div>
                        <small class="p-error">{{ errors.password }}</small>
                    </div>

                    <div>
                        <div class="p-float-label mt-4">
                            <InputText id="passwordConfirm" v-bind="passwordConfirm" type="password"
                                :class="{ 'p-invalid': errors.passwordConfirm }" class="w-full" />
                            <label id="passwordConfirm" for="passwordConfirm">Confirm password</label>
                        </div>
                        <small class="p-error">{{ errors.passwordConfirm }}</small>
                    </div>

                    <div>
                        <div class="p-float-label mt-4">
                            <InputText id="name" v-bind="name" type="text" :class="{ 'p-invalid': errors.name }"
                                class="w-full" />
                            <label id="name" for="name">Name</label>
                        </div>
                        <small class="p-error">{{ errors.name }}</small>
                    </div>
                    <div>
                        <div class="p-float-label mt-4">
                            <InputText id="lastName" v-bind="lastName" type="text" :class="{ 'p-invalid': errors.lastName }"
                                class="w-full" />
                            <label id="lastName" for="lastName">Last name</label>
                        </div>
                        <small class="p-error">{{ errors.lastName }}</small>
                    </div>
                </div>

                <div class="field col-6" style="max-height: 380px; max-width: 400px;">
                    <div class="p-float-label">
                        <span id="avatar">Avatar</span>
                        <FileUpload mode="basic" name="demo[]" accept="image/*" :maxFileSize="5_000_000_000" :auto="true"
                            chooseLabel="Browse" :customUpload="true" @uploader="onUpload" />
                    </div>
                    <small class="p-error">{{ errors.avatar }}</small>
                    <img v-if="avatarFname" :src="avatarFname" class="image-size" />
                    <img v-else src="/noimage.jpg" class="image-size" />
                </div>

                <div class="field" style="margin-left: auto; margin-right: auto; margin-top: 3rem;">
                    <div class="p-float-label">
                        <Button label="Create an account" type="submit" :class="{ 'p-invalid': errors.submit }" />
                    </div>
                    <small class="p-error">{{ errors.submit }}</small>

                    <div style="margin-top: 2rem">
                        Have an account? <RouterLink to="/login">Sign in</RouterLink>
                    </div>
                </div>
            </div>
        </form>
    </template>
</Card>
</template>

<style>
.image-size {
    max-height: 75%;
    max-width: 75%;
}

#register-card {
    margin-top: 3em;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.register-card-title {
    font-size: 1.75em;
    text-align: center;
    margin-top: 0.85em;
    margin-bottom: 0.85em;
}
</style>