<script setup lang="ts">
import type { ErrorDTO } from '@/api/common.api';
import { ValidateService } from '@/api/validate.api';
import type { AxiosError } from 'axios';
import ProgressSpinner from 'primevue/progressspinner';
import { useToast } from 'primevue/usetoast';
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const toast = useToast();
const router = useRouter();
const route = useRoute();

let validated = ref(false);
let usedUp = ref(false);

const errMsg = ref<string | undefined>("");

const verify = async () => {
    await router.isReady().then(() => {
        if (route.query['token']) {
            ValidateService.Validate(route.query['token'] as string).then(async (res) => {
                toast.add({ severity: 'success', summary: 'Success', detail: 'Verification successful', life: 2500 });
                validated.value = true;
                await new Promise(f => setTimeout(f, 1500));
                router.replace({ path: '/login' });
            }).catch(async (err : AxiosError<ErrorDTO>) => {
                errMsg.value = err.response?.data.message; // TODO: This still has the class garbage stuff.
                usedUp.value = true;
                await new Promise(f => setTimeout(f, 3500));
                router.replace({ path: '/login' });

            });
        }
    });
}

onMounted(async () => {
    verify();
});

</script>
<template>
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <div class="field">
                <h1>Verifying</h1>
            </div>
            <br />
            <div class="field justify-content-center">
                <template v-if="!usedUp">
                    <ProgressSpinner v-if="!validated" />
                    <template v-else>
                        <i class="pi pi-check" style="font-size: 5rem; color:lightgreen" />
                        <br />
                        <p>Redirecting you to the login page...</p>
                    </template>
                </template>
                <template v-else>
                    <i class="pi pi-times" style="font-size: 5rem; color:red" />
                    <br />
                    <p>{{ errMsg }}</p>
                    <p>Redirecting you to the login page...</p>
                </template>
            </div>
        </div>
    </div>
</template>../api/ValidateService