<script setup lang="ts">
import { onMounted, ref } from 'vue';
import type { AxiosError, AxiosResponse } from 'axios';
import Button from 'primevue/button';
import AutoComplete from 'primevue/autocomplete';
import Calendar from 'primevue/calendar';
import Paginator, { type PageState } from 'primevue/paginator';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import { distance } from 'fastest-levenshtein';
import type { ErrorDTO } from '@/api/common.api';
import { type DeviceCommandUserMeta, type DeviceCommandHistoryMetaDTO } from '@/api/device.api';
import type { DeviceCmdHistory_Request } from '@/api/device/device-common.api';
import { WashMachine_Service, WashMachine_Util, type WashMachineCmdHistoryDTO, type WashMachineCmdHistoryItemDTO, type WashMachineDTO } from '@/api/device/wash-machine.api';
import type { WashMachineLastState } from '@/views/user/WashMachineView.vue';
import ProgressBar from 'primevue/progressbar';
import Tag from 'primevue/tag';
import { UserService } from '@/api/user.api';

interface Props {
    deviceId: number,
    washMachine: WashMachineDTO | undefined,
    washMachineLastState: WashMachineLastState | undefined,
};
const props = defineProps<Props>();
const emit = defineEmits(["fetchHistoryMeta"]);
const loading = ref(false);

const usersWhoHaveIssuedCommands = ref<DeviceCommandUserMeta[]>([]);

interface CommandHistoryItemPretty {
    raw: WashMachineCmdHistoryItemDTO
    timeString: string
    username: string,
    commandText: string,
    status: string,
    uuid: string
};
const historyData = ref<Array<CommandHistoryItemPretty>>();

const userToName = (u: DeviceCommandUserMeta) => {
    return `${u.name} ${u.lastName}`.trim();
}

const userSearch = ref();
const userSearchSuggestions = ref<Array<DeviceCommandUserMeta>>([]);
const userSearchComplete = (event: any) => {
    UserService.searchClients(event.query).then((res) => {
        userSearchSuggestions.value = [];
        for (let d of res.data) {
            userSearchSuggestions.value.push({
                id: d.id,
                name: d.name,
                lastName: d.lastName
            });
        }
        userSearchSuggestions.value.push({
            id: -1,
            name: 'Automatic',
            lastName: '',
        });
    }).catch((err) => {
        console.error(err);
    });
}

const customDates = ref<[Date, Date]>();
const errorMessage = ref<string>();

const paginatorOffset = ref(0);
const paginatorPageSize = ref(5);
const paginatorTotalValues = ref(0);
const noData = ref(false);

const fetchData = () => {
    const page = paginatorOffset.value / paginatorPageSize.value;
    fetchTablePage(page);
}

const onPaginatorChange = (e: PageState) => {
    paginatorPageSize.value = e.rows;
    fetchData();
}

const sortField = ref<string >("_time");
const sortDesc = ref<boolean>(false);
const onSortFieldUpdate = (e: string) => {
    if (e == "timeString") {
        e = "_time";
    }
    sortField.value = e;
    console.log(sortField.value);
}
const onSortOrderUpdate = (e: undefined | number) => {
    sortDesc.value = (e ? e < 0 : false);
    fetchData();
}

const getSeverity = (status: string) => {
    if (status == "Success") return "success";
    return "danger";
}

const fetchTablePage = (page: number) => {
    if (customDates.value == undefined || customDates.value[0] == null || customDates.value[1] == null) {
        errorMessage.value = "Please enter a start and end date.";
        return;
    }
    errorMessage.value = "";
    loading.value = true;

    if (userSearch.value == undefined) {
        userSearch.value = [];
    }

    const dto: DeviceCmdHistory_Request = {
        id: props.deviceId,
        users: userSearch.value,
        pagination: {
            pageSize: paginatorPageSize.value,
            pageCount: page,
            sortColumn: sortField.value,
            sortDesc: sortDesc.value,
        },
        minDate: customDates.value[0],
        maxDate: customDates.value[1],
    };

    WashMachine_Service.getHistory(dto).then((res: AxiosResponse<WashMachineCmdHistoryDTO>) => {
        loading.value = false;
        historyData.value = res.data.list.map(item => {
            let usernameTry = `${item.user.name} ${item.user.lastName}`.trim();
            const res: CommandHistoryItemPretty = {
                raw: item,
                username: usernameTry,
                commandText: WashMachine_Util.toHumanText(item),
                timeString: new Date((item.timestamp as unknown as number) * 1000).toLocaleString(),
                status: item.status ? "Success" : "Failed",
                uuid: item.uuid,
            };
            return res;
        });
        paginatorTotalValues.value = res.data.totalItems;

        if (res.data.list.length == 0) {
            noData.value = true;
        } else {
            noData.value = false;
        }
    }).catch((err : AxiosError<ErrorDTO>) => {
        loading.value = false;
        if (err.response) {
            errorMessage.value = err.response.data.message;
        }
    });
}

const onClickSubmitHistory = (ev: any) => {
    paginatorOffset.value = 0;
    fetchTablePage(0);
}

</script>

<template>
    <ProgressBar :class="{ invisible: !loading }" mode="indeterminate" style="height: 6px"></ProgressBar>
    <!-- Action history form -->
    <div>
        <AutoComplete 
            v-model="userSearch" 
            :option-label="u => userToName(u)"
            multiple 
            :suggestions="userSearchSuggestions" 
            @complete="userSearchComplete"
            placeholder="Filter by users..." />

        <Calendar v-model="customDates" selectionMode="range" :manualInput="false" style="margin-left: 1em;" showButtonBar placeholder="Enter date range" showIcon />
        <small class="p-error" id="date-error" style="margin-left: 1em;">{{ errorMessage }}</small>

        <Button label="Go" icon="pi pi-arrow-right" style="margin-left: 1em;" @click="onClickSubmitHistory" />

    </div>

    <!-- Action history table -->

    <div v-if="!noData">
        <Paginator 
            style="margin-top: 2em;"
            :rows="paginatorPageSize" 
            :totalRecords="paginatorTotalValues" 
            v-model:first="paginatorOffset" 
            :rowsPerPageOptions="[5, 10, 20, 30]"
            @page="onPaginatorChange" >
        </Paginator>
        <DataTable 
            :value="historyData" 
            stripedRows 
            @update:sortField="onSortFieldUpdate"
            @update:sortOrder="onSortOrderUpdate" >
            <Column field="timeString" sortable header="Time"></Column>
            <Column field="username" header="User">
                <template #body="slotProps">
                    <Tag v-if="slotProps.data.username == 'Automatic'" :value="slotProps.data.username" severity="warning" />
                    <Tag v-else :value="slotProps.data.username" severity="info" />
                </template>
            </Column>
            <Column field="commandText" header="Command"></Column>
            <Column field="status" sortable header="Status">
                <template #body="slotProps">
                    <Tag :value="slotProps.data.status" :severity="getSeverity(slotProps.data.status)" />
                </template>
            </Column>
            <Column field="uuid" header="UUID">
                <template #body="slotProps">
                    <Tag :value="slotProps.data.uuid" style="background: var(--surface-50); color:black; font-weight: 100; font-size: 1em;" />
                </template>
            </Column>
        </DataTable>
    </div>
    <div v-else>
        <div style="font-size: 3em; font-weight: 500; text-align: center; margin-top: 3em; padding-bottom: 3em;">No data in this time range.</div>
    </div>
</template>