<script setup lang="ts">
import { onMounted, ref } from 'vue';
import type { AxiosResponse } from 'axios';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import Knob from 'primevue/knob';
import InputNumber from 'primevue/inputnumber';
import ProgressSpinner from 'primevue/progressspinner';
import Calendar from 'primevue/calendar';
import { v4 as uuidv4 } from 'uuid';
import { WashMachine_Service, WashMachineMode, WashMachine_Util, type WashMachineCmdHistoryItemDTO, type WashMachineCmdScheduleDTO, type WashMachineDTO, WashMachineCommandType } from '@/api/device/wash-machine.api';
import type { WashMachineLastState } from '@/views/user/WashMachineView.vue';
import { DateSchema } from 'yup';
import Card from 'primevue/card';
import ProgressBar from 'primevue/progressbar';
import ScrollTop from 'primevue/scrolltop';


interface Props {
    deviceId: number,
    washMachine: WashMachineDTO | undefined,
    washMachineLastCommandOfEachType: Array<WashMachineCmdHistoryItemDTO>,
    washMachineLastState: WashMachineLastState | undefined,
};


const loading = ref(false);
const props = defineProps<Props>();
const scheduled = ref<Array<WashMachineCmdScheduleDTO>>([]);

const lastCfgCommandId = ref<string | undefined>(undefined);
const waitingForSpinner = ref<boolean>(false);

onMounted(() => {
    fetchScheduledTasks();
});

const showMoreScheduledVisible = () => {
    daysBack.value += 1;
    fetchScheduledTasks();
}

const daysBack = ref<number>(1);

const fetchScheduledTasks = () => {
    loading.value = true;
    WashMachine_Service.getRelevantScheduledTasks(props.deviceId, daysBack.value).then((res) => {
        console.log(res);
        loading.value = false;
        for (let task of res.data) {
            task.time = new Date(new Date(task.time).getTime() * 1000);
        }
        scheduled.value = scheduled.value.concat(res.data);
        sortScheduledList();
    }).catch((err) => {
        loading.value = false;
        console.error(err);
    });
}

const sortScheduledList = () => {
    scheduled.value.sort((a, b) => {
        if (a.time < b.time) return -1;
        if (a.time > b.time) return 1;
        return 0;
    });
}

// Input:
const dropdownMode = ref<InstanceType<typeof Dropdown> | null>();
const selectedMode = ref<WashMachineMode>();
const customDate = ref<Date>(new Date());
const errorMessage = ref<string>();
const today = ref<Date>(new Date());

const onClickSubmitNew = () => {
    if (selectedMode.value == undefined) {
        errorMessage.value = "Please select a mode.";
        return;   
    }
    if (customDate.value == undefined || customDate.value == null) {
        errorMessage.value = "Please enter a date.";
        return;
    }
    if (customDate.value < new Date()) {
        errorMessage.value = "You cannot schedule in the past.";
        return;
    }
    errorMessage.value = "";

    waitingForSpinner.value = true;
    const dto: WashMachineCmdScheduleDTO = {
        id: props.deviceId,
        uuid: uuidv4(),
        mode: selectedMode.value,
        time: new Date(customDate.value.getTime()),
    };

    scheduled.value.push(dto);
    sortScheduledList();

    WashMachine_Service.schedule(dto).then((res) => {
    }).catch((err) => {
        console.error(err);
    }); 
}

const scheduledToTemplateString = (sch: WashMachineCmdScheduleDTO): string => {
    return new Date(sch.time).toLocaleString();
}

const refreshRequestMessage = () => {
    for (let cmd of props.washMachineLastCommandOfEachType) {
        if (cmd.type != WashMachineCommandType.schedule) {
            continue;
        }

        if (lastCfgCommandId.value != cmd.uuid) {
            lastCfgCommandId.value = cmd.uuid;
            waitingForSpinner.value = false;
        }
    }
}

defineExpose({
    refreshRequestMessage,
});

const wool = '/ico_wool.png';
const cotton = '/ico_cotton.png';
const synthetic = '/ico_synthetic.png';
const off = '/ico_washmachine_off.png';
const washMachinePlain = '/ico_wash_machine.png';
const wool2 = '/ico_wool2.png';
const cotton2 = '/ico_cotton2.png';
const synthetic2 = '/ico_synthetic2.png';

const onClickRemItem = (schedule: WashMachineCmdScheduleDTO) => {
    console.log(schedule.id);
    WashMachine_Service.removeSchedule(schedule).catch((err) => {
        console.error(err);
    }).then(() => {
        scheduled.value.forEach( (item, index) => {
            if(item === schedule) scheduled.value.splice(index,1);
        });
    });
}

</script>

<template>

<!-- Add new -->
<Card>
    <template #title>
        <h3>Schedule a new wash machine cycle:</h3>
    </template>
    <template #content>
        <div class="flex align-items-center">
            <Dropdown 
                ref="dropdownMode" 
                v-model="selectedMode" 
                :options="washMachine?.supportedModes" 
                placeholder="Select mode"
                style="width: 20%">
                        <template #value="slotProps">
                            <span v-if="slotProps.value" class="flex align-items-center">
                                <img :src="wool2" v-if="WashMachine_Util.isWool(slotProps.value)" style="width: 20px; margin-top:0.0em; margin-right:9px; display:inline-block; vertical-align:middle"/>
                                <img :src="cotton2" v-if="WashMachine_Util.isCotton(slotProps.value)" style="width: 20px; margin-top:0.0em; margin-right:9px; display:inline-block; vertical-align:middle"/>
                                <img :src="synthetic2" v-if="WashMachine_Util.isSynthetic(slotProps.value)" style="width: 20px; margin-top:0.0em; margin-right:9px; display:inline-block; vertical-align:middle"/>
                                <span style="min-height: 20px; margin-top:0.0em;">{{ WashMachine_Util.toHumanTextMode(slotProps.value) }}</span>
                            </span>
                            <span v-else>
                                {{ slotProps.placeholder }}
                            </span>
                        </template>
                        <template #option="slotProps">
                            <img :src="wool2" v-if="WashMachine_Util.isWool(slotProps.option)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                            <img :src="cotton2" v-if="WashMachine_Util.isCotton(slotProps.option)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                            <img :src="synthetic2" v-if="WashMachine_Util.isSynthetic(slotProps.option)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                            <span>{{ WashMachine_Util.toHumanTextMode(slotProps.option) }}</span>
                        </template>
            </Dropdown>
            <Calendar 
                class="margin-left-20"
                v-model="customDate" 
                :manualInput="false" 
                showButtonBar 
                showIcon 
                showTime 
                hourFormat="24" 
                iconDisplay="input" 
                :minDate="today" />
            <Button label="Add" class="margin-left-80" icon="pi pi-plus" @click="onClickSubmitNew" :disabled="waitingForSpinner" />
            <ProgressSpinner v-if="waitingForSpinner" style="width: 40px; height: 40px" strokeWidth="8" />

            <br />
            <small class="p-error" id="date-error" style="margin-left: 1em">{{ errorMessage }}</small>
        </div>
    </template>
</Card>

<ProgressBar v-if="loading" mode="indeterminate" style="height: 6px"></ProgressBar>

<Button label="Refresh" icon="pi pi-refresh" @click="fetchScheduledTasks()" style="margin: 1em;" />

<div style="background-color:var(--surface-ground); margin-left: 15%; margin-right: 15%; padding: 1%;">

<!-- List -->
<div v-for="sch of scheduled">
    <div class="mini-card">
        <div style="display: flex;">
            <div style="flex-grow: 1;">
                <span>
                    <img :src="wool2" v-if="WashMachine_Util.isWool(sch.mode)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                    <img :src="cotton2" v-if="WashMachine_Util.isCotton(sch.mode)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                    <img :src="synthetic2" v-if="WashMachine_Util.isSynthetic(sch.mode)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                    <span class="font-bold">{{ WashMachine_Util.toHumanTextMode(sch.mode) }}</span>
                </span>
                <span>
                    <span class="font-gray"> scheduled for </span>
                    <span class="font-bold"> {{ scheduledToTemplateString(sch) }} </span>
                </span> 
            </div >
            <div>    
                <Button icon="pi pi-times" severity="danger" text raised rounded aria-label="Cancel" @click="onClickRemItem(sch)" />
            </div>
        </div>
    </div>
</div>

<Button @click="showMoreScheduledVisible" class="centered-button">Load more...</Button>
<ScrollTop/>
</div>

</template>

<style>
.margin-left-20 {
    margin-left: 20px;
}
.margin-left-80 {
    margin-left: 40px;
}
.font-gray {
    font-weight: 100;
}
.font-bold {
    font-weight: 100;
}

.mini-card {
    margin: 20px; 
    font-size: 1.25em; 
    margin-left: 10%; 
    margin-right: 10%; 
    vertical-align: middle; 
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
    background-color: var(--surface-0);
}

.centered-button {
    margin:0 auto;
    display:block;
}
</style>