<script setup lang="ts">
import { ref } from 'vue';
import { WashMachine_Service, WashMachine_Util, WashMachineMode, type WashMachineCmdModeDTO, type WashMachineDTO, type WashMachineCmdHistoryItemDTO, WashMachineCommandType } from '@/api/device/wash-machine.api';
import { v4 as uuidv4 } from 'uuid';
import DeviceLogs from '@/components/device/DeviceLogs.vue';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import ProgressSpinner from 'primevue/progressspinner';
import type { WashMachineLastState } from '@/views/user/WashMachineView.vue';

interface Props {
    deviceId: number,
    washMachine: WashMachineDTO | undefined,
    washMachineLastState: WashMachineLastState | undefined,
    washMachineLastCommandOfEachType: Array<WashMachineCmdHistoryItemDTO>,
    washMachineLiveLog: Array<WashMachineCmdHistoryItemDTO> | undefined,
    lastFetchText: string,
    loading: boolean
};
const props = defineProps<Props>();

///////////////////////////////////////////////////////////////////////////////

const pendingCommandOfEach = ref<Map<WashMachineCommandType, string>>(new Map());
const lastCommandOfEach = ref<Map<WashMachineCommandType, string>>(new Map());

const dropdownMode = ref<InstanceType<typeof Dropdown> | null>();
const selectedMode = ref<WashMachineMode>(WashMachineMode.off);

const pushPendingCommand = (type: WashMachineCommandType, uuid: string) => {
    pendingCommandOfEach.value.set(type, uuid);
};

const popPendingCommand = (type: WashMachineCommandType) => {
    pendingCommandOfEach.value.delete(type);
};

const getPendingCommand = (type: WashMachineCommandType): string | undefined => {
    return pendingCommandOfEach.value.get(type);
};

const refreshRequestMessage = () => {
    if (props.washMachineLastCommandOfEachType == undefined || props.washMachineLiveLog == undefined) {
        return;
    }

    if (props.washMachineLiveLog != undefined) {
        for (let cmd of props.washMachineLiveLog) {
            const found = getPendingCommand(cmd.type) == cmd.uuid && cmd.status == false;
            if (found) {
                popPendingCommand(cmd.type);
                revertUI(cmd.type);
            }
        }
    }

    for (let cmd of props.washMachineLastCommandOfEachType) {
        const uuid_in_mem = pendingCommandOfEach.value.get(cmd.type);
        const uuid_of_this = cmd.uuid;
        let shouldChange = false;

        if (uuid_in_mem != undefined) {
            if (uuid_in_mem == uuid_of_this) {
                popPendingCommand(cmd.type);
                shouldChange = true;
            }
        } else {
            popPendingCommand(cmd.type);
            shouldChange = true;
        }

        // This command was already applied to the UI -> ignore it. That way,
        // the UI won't reset the temperature knob to a value that the AC is
        // running on at the moment.
        if (lastCommandOfEach.value.get(cmd.type) == cmd.uuid) {
            shouldChange = false;
        }
        
        // Perform update.
        if (shouldChange) {
            lastCommandOfEach.value.set(cmd.type, cmd.uuid);

            if (cmd.type == WashMachineCommandType.mode) {
                selectedMode.value = cmd.oneOf.mode!;
            }
        }
    }
};
defineExpose({
    refreshRequestMessage,
});

const revertUI = (type: WashMachineCommandType) => {
    if (!props.washMachineLastState) {
        return;
    }

    if (type == WashMachineCommandType.mode) {
        selectedMode.value = props.washMachineLastState.mode;
    } 
}

///////////////////////////////////////////////////////////////////////////////

const onClickChangeMode = () => {
    if (selectedMode == undefined) {
        return;
    }

    const dto: WashMachineCmdModeDTO = {
        id: props.deviceId,
        uuid: uuidv4(),
        mode: selectedMode.value,
    };
    pushPendingCommand(WashMachineCommandType.mode, dto.uuid);
    WashMachine_Service.setMode(dto).catch((err) => {
        console.error(err);
    });
}

const onClickTurnOff = () => {
    const dto: WashMachineCmdModeDTO = {
        id: props.deviceId,
        uuid: uuidv4(),
        mode: WashMachineMode.off,
    };
    pushPendingCommand(WashMachineCommandType.mode, dto.uuid);
    WashMachine_Service.setMode(dto).catch((err) => {
        console.error(err);
    });
}

const wool = '/ico_wool.png';
const cotton = '/ico_cotton.png';
const synthetic = '/ico_synthetic.png';
const off = '/ico_washmachine_off.png';
const washMachinePlain = '/ico_wash_machine.png';
const wool2 = '/ico_wool2.png';
const cotton2 = '/ico_cotton2.png';
const synthetic2 = '/ico_synthetic2.png';

</script>

<template>
<div style="text-align: center; font-size: 2em; font-weight: 500; margin-bottom:1em; opacity: 50%;">{{ lastFetchText }}</div>
<div class="flex">
    <div class="flex-1">
        <div class="centered">
            <span v-if="washMachineLastState">
                <img :src="off" v-if="washMachineLastState!.mode == WashMachineMode.off" width="256"/>
                <img id="washmachineimg" :src="wool" v-if="WashMachine_Util.isWool(washMachineLastState!.mode)" width="256"/>
                <img id="washmachineimg" :src="cotton" v-if="WashMachine_Util.isCotton(washMachineLastState!.mode)" width="256"/>
                <img id="washmachineimg" :src="synthetic" v-if="WashMachine_Util.isSynthetic(washMachineLastState!.mode)" width="256"/>
            </span>
            <span v-else>
                <img :src="washMachinePlain" width="256"/>
            </span>
        </div>

        <div style="margin-top: 1em;" class="centered" v-if="!loading">
            <Dropdown 
                ref="dropdownMode" 
                v-model="selectedMode" 
                :options="washMachine?.supportedModes" 
                placeholder="Select mode"
                :disabled="getPendingCommand(WashMachineCommandType.mode) != undefined"
                style="width: 50%">
                    <template #value="slotProps">
                        <span v-if="slotProps.value" class="flex align-items-center">
                            <img :src="wool2" v-if="WashMachine_Util.isWool(slotProps.value)" style="width: 24px; margin-top:0.5em; margin-right:9px; display:inline-block; vertical-align:middle"/>
                            <img :src="cotton2" v-if="WashMachine_Util.isCotton(slotProps.value)" style="width: 24px; margin-top:0.5em; margin-right:9px; display:inline-block; vertical-align:middle"/>
                            <img :src="synthetic2" v-if="WashMachine_Util.isSynthetic(slotProps.value)" style="width: 24px; margin-top:0.5em; margin-right:9px; display:inline-block; vertical-align:middle"/>
                            <span>{{ WashMachine_Util.toHumanTextMode(slotProps.value) }}</span>
                        </span>
                        <span v-else>
                            {{ slotProps.placeholder }}
                        </span>
                    </template>
                    <template #option="slotProps">
                        <img :src="wool2" v-if="WashMachine_Util.isWool(slotProps.option)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                        <img :src="cotton2" v-if="WashMachine_Util.isCotton(slotProps.option)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                        <img :src="synthetic2" v-if="WashMachine_Util.isSynthetic(slotProps.option)" style="width: 24px; margin-right:9px; vertical-align:middle"/>
                        <span>{{ WashMachine_Util.toHumanTextMode(slotProps.option) }}</span>
                    </template>
            </Dropdown>
            <br/>
            <Button 
                @click="onClickChangeMode"
                label="Start"
                icon="pi pi-arrow-right"
                style="margin-top: 1em;"
                :disabled="getPendingCommand(WashMachineCommandType.mode) != undefined" />
            <Button 
                @click="onClickTurnOff"
                label="Turn off"
                severity="danger"
                icon="pi pi-power-off"
                style="margin-left: 1em;"
                :disabled="getPendingCommand(WashMachineCommandType.mode) != undefined || washMachineLastState?.mode == WashMachineMode.off" />
            <br/>
            <ProgressSpinner 
                v-if="dropdownMode?.$props.disabled"
                style="width: 80px; 
                height: 80px" 
                strokeWidth="6" />
        </div>
    </div>

    <DeviceLogs 
        :live-log="washMachineLiveLog" 
        :message-func="WashMachine_Util.toHumanText">
    </DeviceLogs>
</div>

</template>

<style scoped>
#washmachineimg {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
</style>