<script setup lang="ts">
import { PropertyService, PropertyDTOWithOwnerProp, PropertyType } from '@/api/property.api';
import PropertySummaryAdmin from '@/components/property/PropertySummaryAdmin.vue';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import { onMounted, ref } from 'vue';
import Paginator, { type PageState } from 'primevue/paginator';
import ProgressBar from 'primevue/progressbar';
import Button from 'primevue/button';

const pending = ref<PropertyDTOWithOwnerProp[]>([]);


const loading = ref(false);
const page = ref(0);
const pageSize = ref(10);
const totalAdmins = ref(0);
const sortField = ref<string | undefined>(undefined);
const sortOrder = ref<number | undefined>(undefined);
const onPageChange = (e: PageState) => {
    page.value = e.page;
    pageSize.value = e.rows;
    loadPending();
}

const onSortFieldUpdate = (e: string) => {
    // https://stackoverflow.com/questions/41807631/spring-jpa-rest-sort-by-nested-property
    if (e.startsWith("property.")) {
        e = e.substring(9);
        console.log(e);
    }
    if (e == "countryName") {
        e = "city_country_name";
    }
    if (e == "owner.email") {
        e = "owner_email";
    }


    sortField.value = e;
    // Even though onSortFieldUpdate and onSortOrderUpdate are called from different
    // events, they are invoked at the same time. Do _not_ call loadAdmins in
    // both functions, because that's 2 async functions changing the same data.
    // Even this is not perfect if sortField.value gets updated AFTER loadAdmins
    // in onSortOrderUpdate.
}

const onSortOrderUpdate = (e: undefined | number) => {
    sortOrder.value = e;
    loadPending();
}

const loadPending = () => {
    loading.value = true;
    PropertyService.getPendingPaginated(page.value, pageSize.value, sortField.value, sortOrder.value).then((result) => {
        totalAdmins.value = result.data.totalCount;
        pending.value = result.data.items;
        loading.value = false;
    }).catch((err) => {
        loading.value = false;
    });
}

onMounted(() => {
    loadPending();
})

//----------------------------------------------
// Make it pretty.

const icoHousePath = '/ico_house.png';
const icoApartmentPath = '/ico_apartment.png';
const icoLocationPinPath = '/ico_location_pin.png';
const icoBuildingFloors = '/ico_building_floors.png';
const icoBuildingArea = '/ico_building_area.png';

</script>

<template>
    <div v-if="pending.length == 0">
        <div style="font-size: 3em; text-align: center; font-weight: 600; margin-top:6em;">There are no pending property requests at the moment.</div>
    </div>
    <div class="card" v-else>
        <div>
            <Paginator
                :rows="pageSize"
                :rowsPerPageOptions="[10, 20, 50]"
                :totalRecords="totalAdmins" 
                @page="onPageChange"
                style="width: 100%; display: inline-block;" 
            />
            <ProgressBar 
                mode="indeterminate"
                style="height: 6px"
                :class="{ invisible: !loading }"
            />
        </div>

        <DataTable 
            :value="pending" 
            stripedRows
            @update:sortField="onSortFieldUpdate"
            @update:sortOrder="onSortOrderUpdate"
            style="margin-top: 1em;"
            >
            <Column field="property.id" sortable header="ID"></Column>
            <Column field="property.type" sortable header="Type">
                <template #body="slotProps">
                    <span class="center-items">
                        <img :src="icoHousePath" class="img-type" v-if="slotProps.data.property.type == PropertyType.House">
                        <img :src="icoApartmentPath" class="img-type" v-if="slotProps.data.property.type == PropertyType.Apartment">
                        {{ slotProps.data.property.type }}
                    </span>
                </template>
            </Column>
            <Column field="property.address" sortable header="Address"></Column>
            <Column field="property.cityName" sortable header="City"></Column>
            <Column field="property.countryName" sortable header="Country"></Column>
            <Column field="property.size" sortable header="Area">
            </Column>
            <Column field="property.floors" sortable header="Floors"></Column>
            <Column field="owner.email" sortable header="User email"></Column>
            <Column header="View">
                <template #body="slotProps">
                    <RouterLink :to="`/property-approve/${slotProps.data.property.id}`">
                        <Button label="View" icon="pi pi-pencil" />
                    </RouterLink>
                </template>
            </Column>
        </DataTable>
    </div>
</template>

<style>
.invisible, .invisible * {
    visibility: hidden;
}
</style>