<script setup lang="ts">
import { PropertyService, type PropertyWithOwnerDTO } from '@/api/property.api';
import { LMap, LMarker, LTileLayer } from '@vue-leaflet/vue-leaflet';
import "leaflet/dist/leaflet.css";
import Button from 'primevue/button';
import { useToast } from 'primevue/usetoast';
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import Image from 'primevue/image';
import PropertyDetailsBasicInfo from '@/components/property/details/PropertyDetailsBasicInfo.vue';
import { getAvatar } from '@/util/http';
import Avatar from 'primevue/avatar';
import SelectButton from 'primevue/selectbutton';
import Textarea from 'primevue/textarea';

const property = ref<PropertyWithOwnerDTO>();
const route = useRoute();
const router = useRouter();
const toast = useToast()

const propertyId = <number>(route.params.propertyId as unknown);
const denyReason = ref("");

const approveDenyOptions = ['Approve', 'Deny'];
const approveDeny = ref<string>(approveDenyOptions[0]);
const error = ref("");

const loadProperty = () => {
    PropertyService.GetPending(propertyId).then((res) => {
        property.value = res.data;
        coordinates.value = [res.data.property.location.latitude, res.data.property.location.longitude];
      
        ownerImgSrc.value = getAvatar(res.data.owner.email);
    }).catch((err) => {
        if (err.response.status == 404) {
            router.push("/404");
        }
    });
};

const submitResponse = () => {
    if (approveDeny.value == 'Approve') {
        PropertyService.Approve(propertyId).then(res => {
            toast.add({ severity: 'success', summary: 'Success', detail: 'Approved Property', life: 2500, group: 'success' });
            router.push({ path: '/' });
        });
    } else if (approveDeny.value == 'Deny') {
        if (denyReason.value.trim().length == 0) {
            error.value = "Please state a reason for denying";
        } else {
            PropertyService.Deny(propertyId, denyReason.value).then(res => {
                toast.add({ severity: 'success', summary: 'Success', detail: 'Denied Property', life: 2500, group: 'success' });
                router.push({ path: '/' });
            });
        }
    }
}

const floorsStr = (floors: number) => {
    if (floors == 0) return "floors"
    if (floors == 1) return "floor"
    else return "floors"
}

const zoom = ref(17)
const coordinates = ref<[number, number]>([50, 50])
const ownerImgSrc = ref("");
const imgSrc = ref("");

const getImg = () => {
    PropertyService.GetPropertyImageBlob(propertyId).then(async res => {
        imgSrc.value = URL.createObjectURL(res.data);
    }).catch(res => {
        console.log(res);
    })
}

onMounted(() => {
    getImg();
});

</script>

<template>
    <!-- Image & Map -->
    <div class="flex h-30rem">
        <Image 
            imageClass="property-img"
            :src="imgSrc" 
            placeholder="Property image"
            :alt="property?.property.type"
            preview
        />
        <div class="map">
            <!-- Have to use use-global-leaflet="false" otherwise the map doesn't work for some reason -->
            <LMap class="map" @ready="loadProperty" :center="coordinates" :zoom="zoom" :use-global-leaflet="false">
                <LTileLayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" layer-type="base"
                    name="OpenStreetMap" />
                <LMarker :lat-lng="coordinates" />
            </LMap>
        </div>
    </div>

    <!-- Basic info -->
    <div class="basic-info">
        <PropertyDetailsBasicInfo :property="property?.property" />
        <hr/>
    </div>

    <div class="row bottom-part">
        <!-- Who was it requested by? -->
        <div class="requested-by-who column">  
                Requested by
                <Avatar 
                    :image="ownerImgSrc"
                    class="mr-2"
                    size="xlarge"
                    shape="circle"
                    style="margin: 0 0.8em"
                    @error="(e: Event) => { (e.target as any).image = '/noavatar.jpg'; }"
                />
                <span class="highlighted">{{ property?.owner.name }} {{ property?.owner.lastName }}</span>
                <span class="smaller"> ({{ property?.owner.email }})</span>
        </div>

        <!-- Admin actions -->
        <div class="admin-actions column">
            <div>
                <div style="font-size: 2em; font-weight: 500; margin-bottom: 1em;">Submit your response</div>
                <SelectButton style="display:inline; margin-right: 2em;" v-model="approveDeny" :options="approveDenyOptions">
                    <template #option="slotProps">
                        <span v-if="slotProps.option == 'Approve'">
                            Approve <span style="color: var(--indigo-500);" class="pi pi-check"></span>
                        </span>
                        <span v-if="slotProps.option == 'Deny'">
                            Deny <span style="color: red" class="pi pi-times"></span>
                        </span>
                    </template>
                </SelectButton>
                <Button 
                    v-if="approveDeny == 'Approve' || approveDeny == undefined"
                    label="Grant approval"
                    @click="submitResponse" 
                    :disabled="approveDeny == undefined" />
                <Button 
                    v-if="approveDeny == 'Deny'"
                    severity="danger"
                    label="Deny request"
                    @click="submitResponse" 
                    :disabled="approveDeny == undefined" />

                <span  class="p-float-label" style="margin-top: 2em" v-if="approveDeny == 'Deny'">
                    <Textarea v-model="denyReason" rows="5" cols="60" />
                    <label>Please state a reason for denying</label>
                    <br/>
                    <small class="red">{{ error }}</small>
                </span>
                
            </div>
        </div>
    </div>

    
</template>

<style scoped>

.property-img {
    height: 480px;
    border-radius: 32px;
    max-height: 480px;
}

.map {
    margin-left: 32px;
    width: 600px;
    border-radius: 32px; 
    z-index: 500;
}

.leaflet-control-attribution {
    display: none;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    color:red;
}
.basic-info {
    background-color: var(--surface-card);
    margin-top: 2em;
    padding: 1em;
}

.requested-by-who {
    background-color: var(--surface-card);
    padding: 1em;
    font-size: 1.85em;
    display: flex;
    align-items:center;
}

.highlighted {
    color: var(--indigo-500);
}

.smaller {
    margin-left: 1em;
    font-size: 0.6em !important;
}

.admin-actions {
    background-color: var(--surface-card);
    padding: 1em;
    margin-top: 10px;
    margin-left: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.bottom-part {
    min-height: 24em;
}
</style>