<script setup lang="ts">

import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import { UserService, type UserDTO, type UserInfoDTO } from '@/api/user.api';
import Button from "primevue/button";
import DynamicDialog from 'primevue/dynamicdialog';
import { useDialog } from 'primevue/usedialog';
import { onMounted, ref, type Ref } from 'vue';
import AddAdminDialog from '@/components/superadmin/AddAdminDialog.vue';
import Paginator, { type PageState } from 'primevue/paginator';
import ProgressBar from 'primevue/progressbar';
import { useToast } from 'primevue/usetoast';
import type { ErrorDTO } from '@/api/common.api';
import type { AxiosError } from 'axios';

const dialog = useDialog();
const admins: Ref<Array<UserInfoDTO>> = ref([]);
    
const loading = ref(false);
const page = ref(0);
const pageSize = ref(10);
const totalAdmins = ref(0);
const sortField = ref<string | undefined>(undefined);
const sortOrder = ref<number | undefined>(undefined);
const onPageChange = (e: PageState) => {
    page.value = e.page;
    pageSize.value = e.rows;
    loadAdmins();
}

const onSortFieldUpdate = (e: string) => {
    sortField.value = e;
    // Even though onSortFieldUpdate and onSortOrderUpdate are called from different
    // events, they are invoked at the same time. Do _not_ call loadAdmins in
    // both functions, because that's 2 async functions changing the same data.
    // Even this is not perfect if sortField.value gets updated AFTER loadAdmins
    // in onSortOrderUpdate.
}

const onSortOrderUpdate = (e: undefined | number) => {
    sortOrder.value = e;
    loadAdmins();
}

const loadAdmins = () => {
    loading.value = true;
    UserService.getAllAdmins(page.value, pageSize.value, sortField.value, sortOrder.value).then((result) => {
        totalAdmins.value = result.data.totalCount;
        admins.value = result.data.items;
        loading.value = false;
    }).catch((err) => {
        loading.value = false;
    });
}

const openAdminCreationDialog = () => {
    dialog.open(AddAdminDialog, {
        props: {
            header: 'Add admin',
            style: {
                width: '50vw',
            },
            breakpoints: {
                '960px': '75vw',
                '640px': '90vw'
            },
            modal: true
        },
        onClose: (options) => {
            const data = options?.data;
            if (data) {
                createUser(data);
            } else {
            }
        }
    });
};


const toast = useToast();
const createUser = (user: UserDTO) => {
    UserService.RegisterAdmin(user).then((res) => {
        loadAdmins();
    }).catch((err : AxiosError<ErrorDTO>) => {
        toast.add({ severity: 'error', summary: 'Could not create admin', detail: err.response?.data.message, life: 2500});
    });
};

onMounted(() => {
    loadAdmins();
})

</script>

<template>
    <DynamicDialog />

    <div v-if="admins.length == 0">
        <div style="font-size: 3em; text-align: center; font-weight: 600; margin-top:6em;">There are no admins in the system.</div>
    
        <Button
            icon="pi pi-plus"
            label="Add a new admin"
            style="margin-left: 45%"
            @click="openAdminCreationDialog"
        />
    </div>
    <div class="card" v-else>
            <div>
                <Paginator
                    :rows="pageSize"
                    :rowsPerPageOptions="[10, 20, 50]"
                    :totalRecords="totalAdmins" 
                    @page="onPageChange"
                    style="width: 90%; display: inline-block;" 
                />
                <Button
                    icon="pi pi-plus"
                    style="height: 4em; width: 4em; margin-left: 2em;"
                    @click="openAdminCreationDialog"
                />
                <ProgressBar 
                    mode="indeterminate"
                    style="height: 6px"
                    :class="{ invisible: !loading }"
                />
            </div>

            <DataTable 
                :value="admins" 
                stripedRows
                @update:sortField="onSortFieldUpdate"
                @update:sortOrder="onSortOrderUpdate"
                style="margin-top: 1em;"
                >
                <Column field="id" sortable header="ID"></Column>
                <Column field="email" sortable header="Email"></Column>
                <Column field="name" sortable header="Name"></Column>
                <Column field="lastName" sortable header="Last Name"></Column>
            </DataTable>
    </div>
    
</template>