<script setup lang="ts">
import InputSwitch from 'primevue/inputswitch';
import ProgressSpinner from 'primevue/progressspinner';
import { computed, ref } from 'vue';
import { v4 as uuidv4 } from 'uuid';
import { SprinklersCommandType, type SprinklersStartDTO, Sprinklers_Service } from '@/api/device/sprinklers.api';

interface Props {
    deviceId: number,
    pendingCommandOfEach: Map<SprinklersCommandType, string>,
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<Props>();

const emit = defineEmits(['pushPendingCommand']);

const sprinklersOnPath = '/device_sprinklers_bg_on.png';
const sprinklersOffPath = '/device_sprinklers_bg_off.png';

// This gets changed immediately when we press the InputSwitch, so make sure
// to also respect waitingOnSwitch when using it as until waitingOnSwitch is
// false we don't know if the switch went through
const onOffChecked = ref(false);
const isOnSprinklers = computed(() => {
    if (getPendingCommand(SprinklersCommandType.isOn)) {
        return onOffChecked.value ? false : true
    } else {
        return onOffChecked.value ? true : false;
    }
});

const onSwitchOnOff = () => {
    if (onOffChecked.value == undefined) {
        return;
    }
    const dto: SprinklersStartDTO = {
        id: props.deviceId,
        start: onOffChecked.value,
        uuid: uuidv4()
    };
    emit('pushPendingCommand', SprinklersCommandType.isOn, dto.uuid);
    Sprinklers_Service.setOnOff(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const getPendingCommand = (type: SprinklersCommandType): string | undefined => {
    return props.pendingCommandOfEach.get(type);
};

const existsPending = (type: SprinklersCommandType): boolean => {
    return props.pendingCommandOfEach.get(type) != undefined
}

defineExpose({
    onOffChecked,
});
</script>

<template>
    <div class="flex justify-content-center">
        <div class="flex flex-column">
            <div class="flex justify-content-center h-3rem">
                <InputSwitch v-if="!existsPending(SprinklersCommandType.isOn)" class="relative" @change="onSwitchOnOff" v-model="onOffChecked"
                    :disabled="existsPending(SprinklersCommandType.isOn)" />
                <ProgressSpinner v-else-if="existsPending(SprinklersCommandType.isOn)" style="width: 40px; height: 40px" strokeWidth="8" />
            </div>
            <img :src="sprinklersOffPath" v-if="isOnSprinklers !== true" />
            <img :src="sprinklersOnPath" v-else />
        </div>
    </div>
</template>