<script setup lang="ts">
import SprinklersView_Controls from './SprinklersView_Controls.vue';
import DeviceLogs from '@/components/device/DeviceLogs.vue';
import { ref } from 'vue';
import type { SprinklersLastState } from '@/views/user/SprinklersView.vue';
import { type SprinklersCmdHistoryItemDTO, SprinklersCommandType, Sprinklers_Util } from '@/api/device/sprinklers.api';

interface Props {
    deviceId: number,
    sprinklersLastState: SprinklersLastState | undefined,
    sprinklersLastCommandOfEachType: Array<SprinklersCmdHistoryItemDTO>,
    sprinklersLiveLog: Array<SprinklersCmdHistoryItemDTO> | undefined,
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<Props>();

const sprinklersViewControls = ref<InstanceType<typeof SprinklersView_Controls> | null>();

const pendingCommandOfEach = ref<Map<SprinklersCommandType, string>>(new Map());
const lastCommandOfEach = ref<Map<SprinklersCommandType, string>>(new Map());

const pushPendingCommand = (type: SprinklersCommandType, uuid: string) => {
    pendingCommandOfEach.value.set(type, uuid);
};

const popPendingCommand = (type: SprinklersCommandType) => {
    pendingCommandOfEach.value.delete(type);
};

const getPendingCommand = (type: SprinklersCommandType): string | undefined => {
    return pendingCommandOfEach.value.get(type);
};

const revertUI = (type: SprinklersCommandType) => {
    if (!props.sprinklersLastState) {
        return;
    }

    if (type == SprinklersCommandType.isOn) {
        if (sprinklersViewControls.value) {
            sprinklersViewControls.value.onOffChecked = props.sprinklersLastState.isOn;
        }
    }
}

const refreshRequestMessage = () => {
    if (props.sprinklersLastCommandOfEachType == undefined || props.sprinklersLiveLog == undefined) {
        return;
    }

    if (props.sprinklersLiveLog != undefined) {
        for (let cmd of props.sprinklersLiveLog) {
            const found = getPendingCommand(cmd.type) == cmd.uuid && cmd.status == false;
            if (found) {
                popPendingCommand(cmd.type);
                revertUI(cmd.type);
            }
        }
    }

    for (let cmd of props.sprinklersLastCommandOfEachType) {
        const uuid_in_mem = pendingCommandOfEach.value.get(cmd.type);
        const uuid_of_this = cmd.uuid;
        let shouldChange = false;

        if (uuid_in_mem != undefined) {
            if (uuid_in_mem == uuid_of_this) {
                popPendingCommand(cmd.type);
                shouldChange = true;
            }
        } else {
            popPendingCommand(cmd.type);
            shouldChange = true;
        }

        if (lastCommandOfEach.value.get(cmd.type) == cmd.uuid) {
            shouldChange = false;
        }
        
        // Perform update.
        if (shouldChange) {
            lastCommandOfEach.value.set(cmd.type, cmd.uuid);

            if (cmd.type == SprinklersCommandType.isOn) {
                if (sprinklersViewControls.value) {
                    sprinklersViewControls.value.onOffChecked = cmd.oneOf.is_on!;
                }
            }
        }
    }
};
defineExpose({
    refreshRequestMessage,
});


</script>

<template>
<div class="flex">
    <div class="flex-1">
        <SprinklersView_Controls ref="sprinklersViewControls" :device-id="deviceId" :pending-command-of-each="pendingCommandOfEach" @push-pending-command="pushPendingCommand" />
    </div>
    <DeviceLogs :live-log="sprinklersLiveLog" :message-func="Sprinklers_Util.toHumanText"></DeviceLogs>
</div>
</template>