<script setup lang="ts">
import { ref } from 'vue';
import type { AxiosResponse } from 'axios';
import Button from 'primevue/button';
import type { SprinklersLastState } from '@/views/user/SprinklersView.vue';
import Dropdown from 'primevue/dropdown';
import Knob from 'primevue/knob';
import InputNumber from 'primevue/inputnumber';
import ProgressSpinner from 'primevue/progressspinner';
import { v4 as uuidv4 } from 'uuid';
import { Sprinklers_Service, SprinklersCommandType, type SprinklersCmdHistoryItemDTO, type SprinklersTriggersDTO, type SprinklersTrigger, Sprinklers_Util } from '@/api/device/sprinklers.api';
import SelectButton from 'primevue/selectbutton';
import MultiSelect from 'primevue/multiselect';

interface Props {
    deviceId: number,
    sprinklersLastCommandOfEachType: Array<SprinklersCmdHistoryItemDTO>,
    sprinklersLastState: SprinklersLastState | undefined,
}

const triggers = ref<SprinklersTrigger[]>();

const props = defineProps<Props>();

const onNewTrigger = (trgStr: string, uuid: string | undefined) => {
    if (triggers.value == undefined || uuid != lastTrgCommandId.value) {
        try {
            triggers.value = JSON.parse(trgStr);
        } catch {
            triggers.value = [];
        }
    }
}

const onClickSubmitTrigger = () => {
    if (triggers.value != undefined) {
        const dto: SprinklersTriggersDTO = {
            id: props.deviceId,
            triggers: triggers.value,
            uuid: uuidv4()
        };

        Sprinklers_Service.setTriggers(dto).then((res: AxiosResponse<void>) => {
            // FIXME: Can softlock because on a failed command has no way of recovering.
            // waitingForSpinner.value = true;
        }).catch((err) => {
            console.error(err);
        });
    }
}

const onClickAddRow = () => {
    if (triggers.value != undefined) {
        let newValue: SprinklersTrigger = {
            "hour": 0,
            "minute": 0,
            "days": [],
            "isOn": true,
        };
        triggers.value.push(newValue);
    }
}

const onClickRemItem = (item: SprinklersTrigger) => {
    const index = triggers.value?.indexOf(item);
    if (index != undefined) {
        triggers.value?.splice(index, 1);
    }
}


const lastTrgCommandId = ref<string | undefined>(undefined);
const waitingForSpinner = ref<boolean>(false);

const refreshRequestMessage = () => {
    for (let cmd of props.sprinklersLastCommandOfEachType) {
        if (cmd.type != SprinklersCommandType.setTriggers) {
            continue;
        }

        if (lastTrgCommandId.value != cmd.uuid) {
            lastTrgCommandId.value = cmd.uuid;
            // waitingForSpinner.value = false;
        }
    }
}


const isOnOffOptions = ref([
    { label: 'On', value: true},
    { label: 'Off', value: false},
]);

const dayOfWeekOptions = ref([
    { label: 'Mon', value: 0},
    { label: 'Tue', value: 1},
    { label: 'Wed', value: 2},
    { label: 'Thu', value: 3},
    { label: 'Fri', value: 4},
    { label: 'Sat', value: 5},
    { label: 'Sun', value: 6},
])

defineExpose({
    refreshRequestMessage,
    onNewTrigger
});
</script>

<template>
    <div v-for="item of triggers" class="flex flex-row gap-2">
        <InputNumber 
            v-model="item.hour" 
            showButtons
            :min="0"
            :max="23"/>
        <InputNumber 
            v-model="item.minute" 
            showButtons
            :min="0"
            :max="59"/>
        <MultiSelect v-model="item.days" :options="dayOfWeekOptions" optionLabel="label" optionValue="value" placeholder="Select days" class="w-12rem" />
        <SelectButton v-model="item.isOn" :options="isOnOffOptions" optionLabel="label" optionValue="value" aria-labelledby="basic" :allowEmpty="false" />
        <Button icon="pi pi-times" severity="danger" rounded outlined @click="onClickRemItem(item)" />
    
    </div>

    <br/> <br/>
    <Button icon="pi pi-plus" rounded @click="onClickAddRow" />

    <br/>
    <hr/>

    <Button label="Submit new triggers" @click="onClickSubmitTrigger" :disabled="waitingForSpinner" />
    <ProgressSpinner v-if="waitingForSpinner"
                    style="width: 40px; height: 40px" strokeWidth="8" />
</template>

<style>

.inline-knob {
    display: inline;  
}
</style>