<script setup lang="ts">
import { DeviceService, DeviceType } from '@/api/device.api';
import { AC_Service } from '@/api/device/ac.api';
import InputNumber from 'primevue/inputnumber';
import Button from 'primevue/button';
import MultiSelect from 'primevue/multiselect';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import * as yup from 'yup';
import AddDeviceCommonVue from '@/components/device/AddDeviceCommon.vue';
import { ACMode, type ACRegisterDTO } from '@/api/device/ac.api';

const route = useRoute();
const router = useRouter();
const type: string = route.params.type as string;
const propertyId: number = route.params.propertyId as unknown as number;

interface ModeKV {
    name: string,
    code: ACMode,
}

const modes: Array<ModeKV> = [
    { name: 'Heat', code: ACMode.heat },
    { name: 'Cool', code: ACMode.cool },
    { name: 'Fan', code: ACMode.fan },
    { name: 'Auto', code: ACMode.auto },
];
const selectedModes = ref<Array<ModeKV>>([]);


const formSchema = yup.object({
    minTemperature: yup.number().required().label("Minimum temperature").min(10).max(16),
    maxTemperature: yup.number().required().label("Maximum temperature").min(20).max(34),
    supportedModes: yup.object().label("Modes").test("", "Select at least one mode.", () => selectedModes.value!.length > 0)
});
const { defineComponentBinds, handleSubmit, errors, setFieldValue, setErrors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});
const minTemperature = defineComponentBinds("minTemperature");
const maxTemperature = defineComponentBinds("maxTemperature");
const supportedModes = defineComponentBinds("supportedModes");


const addDeviceCommon = ref<InstanceType<typeof AddDeviceCommonVue> | undefined>(undefined);
const onClickRegister = handleSubmit(async values => {
    const commonResult = await addDeviceCommon.value?.submitAndReturnValues();
    if (commonResult == undefined) {
        return;
    }

    const allValues = {
        propertyId,
        type,
        ...values,
        ...commonResult,
        'selectedModes': selectedModes.value.map((ac) => ac.code)
    };

    const dto: ACRegisterDTO = {
        base: {
            propertyId: allValues['propertyId'],
            type: DeviceType[allValues['type'] as keyof typeof DeviceType],
            imageB64: allValues['imageBase64'],
            powerSupply: allValues['powerSupply'],
            powerDrainage: allValues['powerDrainage'],
        },
        supportedModes: allValues['selectedModes'],
        minTemperature: values['minTemperature'],
        maxTemperature: values['maxTemperature'],
    };

    AC_Service.register(dto).then((res) => {
        router.replace({
            path: `/property/${propertyId}`
        });
    }).catch((err) => {
        console.error(err);
    });
});


</script>

<template>
<div class="add-device-container">
    <form @submit="onClickRegister">
        <AddDeviceCommonVue ref="addDeviceCommon" />

        <div class="minTemp margin-top-10">
            <div class="p-float-label">
                <InputNumber id="number-input" v-bind="minTemperature" :useGrouping="false" :class="{ 'p-invalid': errors!.minTemperature }"/>
                <label for="number-input">Min temperature (°C)</label>
            </div>
            <small class="p-error">{{ errors.minTemperature }}</small>
        </div>

        <div class="maxTemp margin-top-10">
            <div class="p-float-label">
                <InputNumber id="number-input2" v-bind="maxTemperature" :useGrouping="false" :class="{ 'p-invalid': errors!.maxTemperature }"/>
                <label for="number-input2">Max temperature (°C)</label>
            </div>
            <small class="p-error">{{ errors.maxTemperature }}</small>
        </div>

        <div class="supportedModes">
            <div>
                <MultiSelect v-model="selectedModes"
                    :class="{ 'p-invalid': errors.supportedModes }" 
                    :options="modes" optionLabel="name" :maxSelectedLabels="4"
                    display="chip"
                    placeholder="Select modes of operation" 
                    aria-describedby="text-error" />
            </div>
            <small id="text-error" class="p-error">{{ errors.supportedModes || '&nbsp;' }}</small>
        </div>

        <Button label="Submit" type="submit" />
    </form>
</div>
</template>

<style scoped>
.add-device-container {
    background-color: var(--surface-0);
    border-radius: 1em;
    margin: auto;
    width: 50%;
    padding: 2em;
    min-height: 400px;
}

.margin-top-10 {
    margin-top: 2em;
}
</style>