<script setup lang="ts">
import AddDeviceSelectionItem from './AddDeviceSelectionItem.vue';
</script>

<template>
    <div class="header">
        <h1>Add a new device to your home system</h1>
    </div>
    <div class="flex flex-row">

        <div class="flex flex-column add-device-select-column">
            <h2 style="text-align: center;" v-tooltip.top="{ value: 'Indoor devices'}">Indoor</h2>

            <AddDeviceSelectionItem type="dht" :enabled="true"/>
            <AddDeviceSelectionItem type="ac" :enabled="true"/>
            <AddDeviceSelectionItem type="wash" :enabled="true"/>
        </div>
        <div class="flex flex-column add-device-select-column">
            <h2 style="text-align: center;" v-tooltip.top="{ value: 'Outdoor devices'}">Outdoor</h2>

            <AddDeviceSelectionItem type="lamp" :enabled="true"/>
            <AddDeviceSelectionItem type="gate" :enabled="true"/>
            <AddDeviceSelectionItem type="sprinkler" :enabled="true"/>
        </div>
        <div class="flex flex-column add-device-select-column">
            <h2 style="text-align: center;" v-tooltip.top="{ value: 'High voltage devices (TBA)'}">High voltage</h2>

            <AddDeviceSelectionItem type="solar" :enabled="false"/>
            <AddDeviceSelectionItem type="battery" :enabled="false"/>
            <AddDeviceSelectionItem type="charger" :enabled="false"/>
        </div>
    </div>
</template>

<style scoped>
.add-device-select-column {
    padding-left: 2em;
    padding-right: 2em;
}

AddDeviceSelectionItem {
    width: 100%;
}

.bg-red {
    background: var(--indigo-400);
}

.bg-blue {
    background: var(--indigo-500);
}

.bg-orange {
    background: var(--indigo-600);
}
</style>