<script setup lang="ts">
import { file2Base64 } from '@/util/base64';
import FileUpload from 'primevue/fileupload';
import InputNumber from 'primevue/inputnumber';
import SelectButton from 'primevue/selectbutton';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import * as yup from 'yup';
import { map } from '@/components/device/AddDeviceMap';

let imageBase64: string = "";

const schema = yup.object({
    powerSupply: yup.object().required().label("Power supply"),
    powerDrainage: yup.number().required().label("Power drainage").min(1),
    image: yup.object().test("", "Please upload an image.", () => imageBase64 != "")
});

const { defineComponentBinds, handleSubmit, errors, setFieldValue, setErrors } = useForm({
    validationSchema: schema,
    initialErrors: {}
});

const powerSupply = defineComponentBinds("powerSupply");
const powerDrainage = defineComponentBinds("powerDrainage");
const imageFname = ref<string | undefined>(undefined);

const onUpload = async (e: any) => {
    const f: File = e.files[0];
    if (f.size > 1024 * 1024 * 5) {
        setErrors({ "image": "File too large. Must be less than 5MB." });
        return;
    }
    if (!['image/jpeg', 'image/png'].includes(f.type)) {
        setErrors({ "image": "File must be .jpg or .png." });
        return;
    }
    imageBase64 = await file2Base64(f);
    imageFname.value = URL.createObjectURL(f);
};

const powerSupplyOptions = [
    {value: "Network", img: '/ico_power_network.png'},
    {value: "Battery", img: '/ico_power_battery.png'},
];

setFieldValue("powerSupply", powerSupplyOptions[0]);
setFieldValue("powerDrainage", 2);

const submitAndReturnValues = handleSubmit((values) => {
    const res = {
        powerSupply: values['powerSupply']['value'],
        powerDrainage: values['powerDrainage'],
        imageBase64
    }
    return res;
});

defineExpose({
    /**
     * @description Performs a "fake" submit to the underlying form.
     * 
     * @note This function is meant to be called within a parent form's `handleSubmit`. Because
     * this functions is `async`, it is recommended to `await` the invocation in the parent component.
     * 
     * @returns A dictionary object containing all form values, or `undefined` if the form is invalid.
     * 
     * @usage ```ts
     * const commonResult = await addDeviceCommonRef.value.submitAndReturnValues();
     * if (commonResult == undefined) {
     *            return; // Form is invalid, cannot get values.
     * }
     * // Form is valid, use commonResult[key].
     * ```
     */
    submitAndReturnValues
});



const canBePoweredByBattery = ref<boolean>(true);

const route = useRoute();
const type: string = route.params.type as string;
canBePoweredByBattery.value = map.get(type)!.canBePoweredByBattery;

</script>

<template>
<div class="flex">
    <div class="flex-1">
        <!-- Power supply -->
        <!-- If the device cannot be powered by battery, don't render this. It's network powered by default. -->
        <template v-if="canBePoweredByBattery">
            <div class="field">
                <div>
                    <label for="powerSupply" class="block mb-2">Power supply</label>
                    <SelectButton 
                        id="powerSupply" 
                        v-bind="powerSupply" 
                        :options="powerSupplyOptions" 
                        :allowEmpty="false"
                        optionLabel="value"
                        dataKey="value"
                        :class="{ 'p-invalid': errors!.powerSupply }">
                    
                        <template #option="slotProps">
                            <img :src="slotProps.option.img" style="width: 2em; height: 2em; margin-right: 10px;"/>
                            <span>{{ slotProps.option.value }}</span>
                        </template>
                    </SelectButton>
                </div>
                <small class="p-error">{{ errors.powerSupply }}</small>
            </div>
        </template>

        <!-- Power drainage -->
        <div class="field">
            <div>
                <label for="integeronly" class="block mb-2"> Power drainage (kWh) </label>
                <InputNumber id="integeronly" v-bind="powerDrainage" :useGrouping="false"
                    :class="{ 'p-invalid': errors!.powerDrainage }" />
            </div>
            <small class="p-error">{{ errors.powerDrainage }}</small>
        </div>
    </div>

    <div class="flex-1">
        <!-- Device photo -->
        <div class="field">
            <div>
                <label class="block mb-2"> Photo </label>
                <FileUpload mode="basic" name="demo[]" accept="image/*" :maxFileSize="5_242_880" :auto="true"
                    chooseLabel="Browse" :customUpload="true" @uploader="onUpload" />
            </div>
            <small class="p-error">{{ errors.image }}</small>
            <img v-if="imageFname" :src="imageFname" class="image-size" width="400" />
        </div>
    </div>
</div>
</template>