<script setup lang="ts">

import Button from 'primevue/button';
import { useRoute, useRouter } from 'vue-router';
import AddDeviceIcon from './AddDeviceIcon.vue';
import { map } from './AddDeviceMap';

const route = useRoute();
const router = useRouter();

interface Props {
    type: string,
    enabled: boolean
};


const props = defineProps<Props>();
const colorClass = map.get(props.type!)?.colorClass;

const onClick = () => {
    router.push({
        name: 'Add Device',
        params: {
            type: props.type,
            propertyId: route.params.propertyId
        }
    });
}

</script>

<template>
    <Button class="add-item-button" :class="colorClass" @click="onClick" :disabled="!enabled">
        <AddDeviceIcon :type="props.type"></AddDeviceIcon>
    </Button>
</template>

<style>
Button.add-item-button {
    width: 100%;
    justify-content: center;
    margin-bottom: 1em;
}

Button.add-item-button:hover {
    background-color: var(--indigo-700);
}
</style>