<script setup lang="ts">
import { map } from './AddDeviceMap';
import { DeviceType, deviceTypeToHumanText } from '@/api/device.api';

const props = defineProps({
    type: String,
    renderOwnBgColor: Boolean
});

const colorClass = map.get(props.type!)?.colorClass;
const imageFile = map.get(props.type!)?.imageFile;

</script>

<template>
    <img 
        :class="renderOwnBgColor ? colorClass : ''" :src="`/${imageFile}`"
        width="100"
        height="100"
        v-tooltip.top="{ value: deviceTypeToHumanText(DeviceType[type as keyof typeof DeviceType])}"
    />
</template>

<style>
.bg-red {
    background: var(--indigo-400);
}

.bg-blue {
    background: var(--indigo-500);
}

.bg-orange {
    background: var(--indigo-600);
}
</style>