<script setup lang="ts">
import { DeviceService, DeviceType, type DeviceRegisterDTO } from '@/api/device.api';
import Button from 'primevue/button';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import * as yup from 'yup';
import AddDeviceCommonVue from '@/components/device/AddDeviceCommon.vue';

const route = useRoute();
const router = useRouter();
const type: string = route.params.type as string;
const propertyId: number = route.params.propertyId as unknown as number;

const formSchema = yup.object({
});

const { handleSubmit } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});

const addDeviceCommon = ref<InstanceType<typeof AddDeviceCommonVue> | undefined>(undefined);
const onClickRegister = handleSubmit(async values => {
    const commonResult = await addDeviceCommon.value?.submitAndReturnValues();
    if (commonResult == undefined) {
        return;
    }

    const allValues = {
        propertyId,
        type,
        ...values,
        ...commonResult,
    };

    const dto: DeviceRegisterDTO = {
        propertyId: allValues['propertyId'],
        type: DeviceType[allValues['type'] as keyof typeof DeviceType],
        imageB64: allValues['imageBase64'],
        powerSupply: allValues['powerSupply'],
        powerDrainage: allValues['powerDrainage'],
    };

    DeviceService.RegisterDevice(dto).then((res) => {
        router.replace({
            path: `/property/${propertyId}`
        });
    }).catch((err) => {
        console.error(err);
    })
});

</script>

<template>
    <div class="add-device-container">
        <form @submit="onClickRegister">
            <AddDeviceCommonVue ref="addDeviceCommon" />

            <Button class="submit-button-centered" label="Submit" type="submit" />
        </form>
    </div>
</template>

<style scoped>
.add-device-container {
    background-color: var(--surface-0);
    border-radius: 1em;
    margin: auto;
    width: 50%;
    padding: 2em;
    min-height: 400px;
}
</style>