<script setup lang="ts">
import { DeviceService, DeviceType, type DeviceRegisterDTO } from '@/api/device.api';
import Button from 'primevue/button';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import * as yup from 'yup';
import AddDeviceCommonVue from '@/components/device/AddDeviceCommon.vue';
import Chips from 'primevue/chips';
import { Gate_Service, type GateRegisterDTO } from '@/api/device/gate.api';

const route = useRoute();
const router = useRouter();
const type: string = route.params.type as string;
const propertyId: number = route.params.propertyId as unknown as number;

const formSchema = yup.object({
    plates: yup.array().of(yup.string())
});

const { handleSubmit, defineComponentBinds } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});

const plates = defineComponentBinds("plates");
plates.value.modelValue = ['NS-387-000', 'NS-593-000', 'NS-033-000']

const addDeviceCommon = ref<InstanceType<typeof AddDeviceCommonVue> | undefined>(undefined);
const onClickRegister = handleSubmit(async values => {
    const commonResult = await addDeviceCommon.value?.submitAndReturnValues();
    if (commonResult == undefined) {
        return;
    }

    if (values['plates'] === undefined) {
        values['plates'] = plates.value.modelValue;
    }
    const allValues = {
        propertyId,
        type,
        ...values,
        ...commonResult,
    };

    const dto: GateRegisterDTO = {
        base: {
            propertyId: allValues['propertyId'],
            type: DeviceType[allValues['type'] as keyof typeof DeviceType],
            imageB64: allValues['imageBase64'],
            powerSupply: allValues['powerSupply'],
            powerDrainage: allValues['powerDrainage'],
        },
        plates: values['plates']
    };

    Gate_Service.register(dto).then((res) => {
        router.replace({
            path: `/property/${propertyId}`
        });
    }).catch((err) => {
        console.error(err);
    })
});

</script>

<template>
<div class="add-device-container">
    <form @submit="onClickRegister">
        <AddDeviceCommonVue ref="addDeviceCommon" />
        <div class="p-float-label mt-4 mb-4">
            <Chips id="plates" v-bind="plates" />
            <label for="plates">Whitelisted Plates</label>
        </div>
        <Button label="Submit" type="submit" />
    </form>
</div>
</template>

<style scoped>
.add-device-container {
    background-color: var(--surface-0);
    border-radius: 1em;
    margin: auto;
    width: 50%;
    padding: 2em;
    min-height: 400px;
}
</style>