<script setup lang="ts">
import { DeviceType } from '@/api/device.api';
import InputNumber from 'primevue/inputnumber';
import Button from 'primevue/button';
import MultiSelect from 'primevue/multiselect';
import { useForm } from 'vee-validate';
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import * as yup from 'yup';
import AddDeviceCommonVue from '@/components/device/AddDeviceCommon.vue';
import { WashMachineMode, WashMachine_Service, type WashMachineRegisterDTO, WashMachine_Util } from '@/api/device/wash-machine.api';
const route = useRoute();
const router = useRouter();
const type: string = route.params.type as string;
const propertyId: number = route.params.propertyId as unknown as number;

interface ModeKV {
    name: string,
    code: WashMachineMode,
    img: string
}

const wool2 = '/ico_wool2.png';
const cotton2 = '/ico_cotton2.png';
const synthetic2 = '/ico_synthetic2.png';


const modes: Array<ModeKV> = [];
for (let mode of Object.values(WashMachineMode)) {
    if (mode == WashMachineMode.off) {
        continue;
    }

    const kv: ModeKV = {
        name: WashMachine_Util.toHumanTextMode(mode),
        code: mode,
        img: WashMachine_Util.isCotton(mode) ? cotton2 : WashMachine_Util.isWool(mode) ? wool2 : synthetic2,
    };
    modes.push(kv);
}

const selectedModes = ref<Array<ModeKV>>([]);


const formSchema = yup.object({
    supportedModes: yup.object().label("Modes").test("", "Select at least one mode.", () => selectedModes.value!.length > 0)
});
const { defineComponentBinds, handleSubmit, errors, setFieldValue, setErrors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});
const supportedModes = defineComponentBinds("supportedModes");

const addDeviceCommon = ref<InstanceType<typeof AddDeviceCommonVue> | undefined>(undefined);
const onClickRegister = handleSubmit(async values => {
    const commonResult = await addDeviceCommon.value?.submitAndReturnValues();
    if (commonResult == undefined) {
        return;
    }

    const allValues = {
        propertyId,
        type,
        ...values,
        ...commonResult,
        'selectedModes': selectedModes.value.map((ac) => ac.code)
    };

    const dto: WashMachineRegisterDTO = {
        base: {
            propertyId: allValues['propertyId'],
            type: DeviceType[allValues['type'] as keyof typeof DeviceType],
            imageB64: allValues['imageBase64'],
            powerSupply: allValues['powerSupply'],
            powerDrainage: allValues['powerDrainage'],
        },
        supportedModes: allValues['selectedModes'],
    };
    
    WashMachine_Service.register(dto).then((res) => {
        router.replace({
            path: `/property/${propertyId}`
        });
    }).catch((err) => {
        console.error(err);
    });
});
</script>

<template>
<div class="add-device-container">
    <form @submit="onClickRegister">
        <AddDeviceCommonVue ref="addDeviceCommon" />

        <div class="supportedModes">
            <div>

                <span class="p-float-label w-full md:w-20rem">
                    <MultiSelect
                        v-model="selectedModes"
                        id="ms-cities"
                        :class="{ 'p-invalid': errors.supportedModes }" 
                        :options="modes" optionLabel="name" :maxSelectedLabels="4"
                        display="chip"
                        aria-describedby="text-error"
                        style="width: 100%"
                        filter>

                        <template #option="slotProps">
                            <div class="flex align-items-center">
                                <img :alt="slotProps.option.name" :src="slotProps.option.img" :class="`flag flag-${slotProps.option.code.toLowerCase()} mr-2`" style="width: 18px" />
                                <div>{{ slotProps.option.name }}</div>
                            </div>
                        </template>

                    </MultiSelect>
                    <label for="ms-cities">Select modes of operation</label>
                </span>





            </div>
            <small id="text-error" class="p-error">{{ errors.supportedModes || '&nbsp;' }}</small>
        </div>

        <Button label="Submit" type="submit" />
    </form>
</div>
</template>

<style scoped>
.add-device-container {
    background-color: var(--surface-0);
    border-radius: 1em;
    margin: auto;
    width: 50%;
    padding: 2em;
    min-height: 400px;
}

.margin-top-10 {
    margin-top: 2em;
}
</style>