
<script setup lang="ts" generic="T">
import ScrollPanel from 'primevue/scrollpanel';
import Tag from 'primevue/tag';
import ProgressBar from 'primevue/progressbar';


interface T {
    timestamp: Date,
    status: boolean,
    user: {
        name: string,
        lastName: string
    }
}

interface Props {
    liveLog: Array<T> | undefined
    messageFunc: Function //  (logItem: T) => string
};
const props = defineProps<Props>();
</script>

<template>
    <div class="flex-1" id="device-live-log">
        <ProgressBar v-if="liveLog == undefined" mode="indeterminate" style="height: 6px"></ProgressBar>
        <div style="text-align: center; font-size: 2em; font-weight: 900; margin-top:0.5em; margin-bottom: 0.5em; opacity: 60%;">Logs</div>
        <ScrollPanel 
            style="
                width: 100%; 
                min-height: 80%;"
                :pt="{
                    wrapper: {
                        style: { 'border-right': '10px solid var(--surface-ground)' }
                    },
                    bary: 'hover:bg-primary-400 bg-primary-300 opacity-100'
                }">
            <div v-for="item of props.liveLog" class="device-live-log-card">                             
                <i>{{ new Date(item.timestamp).toLocaleString() }}</i>
                <Tag v-if="item.status == false" severity="danger" value="Failed" style="margin-left: 1em;" />
                <b style="margin-right: 10px; margin-left:1em;"> {{ (item.user.name + " " + item.user.lastName).trim()}}</b>
                <span>{{ messageFunc(item) }}</span>.
            </div>
        </ScrollPanel>
    </div>
</template>

<style>
#device-live-log {
    background-color: var(--purple-50);
    padding: 10px;
    border: 3px solid var(--surface-border);
    border-radius: 20px;
}

.device-live-log-card {
    margin-bottom: 10px;
    font-family: monospace;
    background-color: var(--surface-0);
    padding: 1em;
    border-radius: 32px;
}
</style>