<script setup lang="ts">
import { onMounted, ref } from 'vue';
import Dropdown from 'primevue/dropdown';
import Calendar from 'primevue/calendar';
import Button from 'primevue/button';
import { DeviceService, type DeviceHistoricalDTO, type DeviceAvailabilityReport, type DeviceAvailabilityReportDTO, AvailabilityDistanceUnit } from '@/api/device.api';
import type { AxiosError, AxiosResponse } from 'axios';
import type { ErrorDTO } from '@/api/common.api';
import Image from 'primevue/image';
import ProgressBar from 'primevue/progressbar';
import 'zingchart/es6';
import 'zingchart/modules-es6/zingchart-depth.min.js';
// @ts-ignore
import ZingChartVue from 'zingchart-vue';

interface Props {
    deviceId: number
}

const props = defineProps<Props>();

const loading = ref(false);

interface Mode {
    name: string,
    code: string
}

const mode = ref<Array<Mode>>([
    { name: 'Last 6 hours', code: 'mode6h' },
    { name: 'Last 12 hours', code: 'mode12h' },
    { name: 'Last 24 hours', code: 'mode24h' },
    { name: 'Last week', code: 'mode1w' },
    { name: 'Last month', code: 'mode1m' },
    { name: 'Custom', code: 'modeCustom' },
]);

const selectedMode = ref<Mode>(mode.value[0]);
const customDates = ref<[Date, Date]>();
const errorMessage = ref<string>();

const chartAvailability = ref();
const chartDataAvailability = {
    type: "bar",
    title: { text: "Availability (in minutes)" },
    plot: {
        tooltip: {
            text: "%v minutes<br>%data-percentages uptime<br>%kt",
        }
    },
    scaleX: { labels: [] },
}

// https://stackoverflow.com/a/15289883
function dateDiffInDays(a: Date, b: Date) {
    const _MS_PER_DAY = 1000 * 60 * 60 * 24;
    const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
    const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

    return Math.floor((utc2 - utc1) / _MS_PER_DAY);
}

const onSubmitHistoricalData = () => {
    // Validation (it's too much work to hook this up to vee-validate).

    if (selectedMode.value.code == 'modeCustom') {
        if (customDates.value == undefined || customDates.value[0] == null || customDates.value[1] == null) {
            errorMessage.value = "Please enter a start and end date.";
            return;
        }

        if (dateDiffInDays(customDates.value[0], customDates.value[1]) > 31) {
            errorMessage.value = "Date range must be less than 1 month.";
            return;
        }
    }
    loading.value = true;

    errorMessage.value = "";

    let dto: DeviceHistoricalDTO = {
        id: props.deviceId,
        mode: selectedMode.value.code,
    }

    if (customDates.value != undefined) {
        dto.date1 = customDates.value[0];
        dto.date2 = customDates.value[1];
    }

    DeviceService.GetDeviceAvailabilityReport(dto).then((res: AxiosResponse<DeviceAvailabilityReportDTO>) => {
        const arr = res.data;
        drawHistoricalGraph(arr);
        loading.value = false;
    }).catch((err: AxiosError<ErrorDTO>) => {
        errorMessage.value = err?.response?.data.message;
        console.error(err);
        loading.value = false;
    });

    const drawHistoricalGraph = (data: DeviceAvailabilityReportDTO) => {
        let secondsSeries = [];
        let percentagesData = [];
        let labels = [];

        let reports = data.reports;

        for (let i = 0; i < reports.length; i++) {
            let d = reports[i];
            const start = new Date(d.start as unknown as number * 1000);
            const end = new Date(d.end as unknown as number * 1000);
            let x = "";
            if (data.unit === AvailabilityDistanceUnit.hours) {
                x = `${start.getHours()}h-${end.getHours()}h`;
            } else {
                x = `${start.getDate()}.${start.getMonth() + 1}-${end.getDate()}.${end.getMonth() + 1}`;
            }
            secondsSeries.push(parseFloat((d.durationInS / 60).toFixed(2)))
            percentagesData.push(`${(d.percentage * 100).toFixed(2)}%`)
            labels.push(x);
        }

        // It took so long to find a way to make data-percentages work...
        chartAvailability.value.setseriesdata({
            data: [{
                values: secondsSeries,
                "data-percentages": percentagesData,
                "background-color": '#5472D4'
            }]
        });
        chartAvailability.value.setscalevalues({ scale: 'scale-x', values: labels })
    }
}

const imgSrc = ref("");
const getImg = () => {
    DeviceService.getDeviceImageBlob(props.deviceId).then(async res => {
        console.log(res);
        imgSrc.value = URL.createObjectURL(res.data);
    }).catch(err => {
        console.error(err);
    })
};

onMounted(() => {
    getImg();
});

</script>

<template>
    <div>
        <ProgressBar v-if="loading" mode="indeterminate" style="height: 6px"></ProgressBar>

        <!-- Device image -->
        <div class="center" >
            <Image :src="imgSrc" placeholder="Property image" :alt="deviceId" preview height="225" />
        </div>

        <hr />

        <!-- Form -->
        <b>Show online statistics for</b>
        <Dropdown v-model="selectedMode" :options="mode" optionLabel="name" />
        <template v-if="selectedMode.code == 'modeCustom'">
            <Calendar style="margin-left:1em" showIcon v-model="customDates" selectionMode="range" :manualInput="false"
                showButtonBar placeholder="Enter a date range" />
            <small style="margin-left:1em" class="p-error" id="date-error">{{ errorMessage }}</small>
        </template>
        <Button style="margin-left:1em" icon="pi pi-arrow-right" label="Submit" :disabled="loading"
            @click="onSubmitHistoricalData" />
        <ZingChartVue :data="chartDataAvailability" ref="chartAvailability" />

        <br />
    </div>
</template>

<style scoped>
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>