<script setup lang="ts">
import { Permission_Service, type NewPermissionDTO, type PermissionDTO, PermissionType, type RevokePermissionDTO } from '@/api/permission.api';
import { onMounted, ref } from 'vue';
import Button from 'primevue/button';
import type { AxiosError, AxiosResponse } from 'axios';
import type { ErrorDTO } from '@/api/common.api';
import AutoComplete from 'primevue/autocomplete';
import { UserService, type UserInfoDTO } from '@/api/user.api';
import { distance } from 'fastest-levenshtein';
import { getAvatar } from '@/util/http';
import Image from 'primevue/image';
import Paginator, { type PageState } from 'primevue/paginator';

interface Props {
    deviceId: number | undefined
}


interface PermissionDTO_Image extends PermissionDTO {
    img: string
}

const props = defineProps<Props>();
const permissions = ref<PermissionDTO_Image[]>([]);
const error = ref<string | undefined>(undefined);

const page = ref(0);
const pageSize = ref(5);
const totalItems = ref(0);

const onPageChange = (e: PageState) => {
    page.value = e.page;
    pageSize.value = e.rows;
    loadPermissions();
}

const loadPermissions = () => {
    if (props.deviceId == undefined) {
        return;
    }

    Permission_Service.getDevicePremissions(props.deviceId, page.value, pageSize.value).catch((err: AxiosError<ErrorDTO>) => {
        error.value = err.response?.data.message;
    }).then((res) => {
        if (res) {
            console.log(res);
            totalItems.value = res.data.totalCount;
            permissions.value = res.data.items.map((u) => {return {...u, img: getAvatar(u.userEmail)}});
        }
    });
}

const addNewPermission = () => {
    if (props.deviceId == undefined) {
        return;
    }
    if (userSearch.value == undefined) {
        error.value = "Enter a user"
        return;
    }
    error.value = undefined;
    
    const dto: NewPermissionDTO = {
        userId: userSearch.value.id,
        entityId: props.deviceId,
        entityType: PermissionType.device
    }
    
    Permission_Service.newDevicePermission(dto).catch((err: AxiosError<ErrorDTO>) => {
        error.value = err.response?.data.message;
    }).then((res) => {
        loadPermissions();
    });
}

const revokePermission = (permission: PermissionDTO) => {
    if (props.deviceId == undefined) {
        return;
    }
    
    const dto: RevokePermissionDTO = {
        userId: permission.userId,
        entityId: permission.entityId,
        entityType: PermissionType.device
    }
    
    Permission_Service.revokeDevicePermission(dto).catch((err) => {
        console.error(err);
    }).then((res) => {
        loadPermissions();
    });
}

onMounted(() => {
    loadPermissions();
})

const userSearch = ref<UserSearchSuggestion | undefined>(undefined);
const userList = ref<Array<UserInfoDTO>>([]);

interface UserSearchSuggestion {
    id: number,
    name: string,
    img: string
}
const userSearchSuggestionsWithImage = ref<UserSearchSuggestion[]>([]);

const userSearchComplete = (event: any) => {
    UserService.searchClients(event.query).then((res) => {
        userList.value = res.data; 

        userSearchSuggestionsWithImage.value = userList.value
        .map((u): UserSearchSuggestion => { return {
                id: u.id, 
                name: `${u.name} ${u.lastName}`.trim(),
                img: getAvatar(u.email),
            };
        });
    }).catch((err) => {
        console.error(err);
    });
}


</script>

<template>
    <div class="permission-search-container">
        <span class="p-float-label">
            <AutoComplete 
                class="autocomplete"
                v-model="userSearch"
                :suggestions="userSearchSuggestionsWithImage" 
                @complete="userSearchComplete"
                optionLabel="name"
                forceSelection 
                inputId="ac">
     
                <template #option="slotProps">
                    <div class="flex align-options-center" style="font-size: 1.35em">
                        <img alt="" :src="slotProps.option.img" style="max-width: 2em; max-height: 2em; margin-right: 10px" />
                        <div>{{ slotProps.option.name }}</div>
                    </div>
                </template>
            
            </AutoComplete>
            <label for="ac">Search for users...</label>
            <Button @click="addNewPermission" icon="pi pi-user-plus" label="Add" />
            <small class="err">{{ error }}</small>
        </span>
    </div>

    <br />
    <div v-if="permissions.length > 0" class="permission-list">
        <Paginator 
            :rows="pageSize"
            :totalRecords="totalItems"
            :rowsPerPageOptions="[5, 10, 20, 100]"
            @page="onPageChange" />
        <div v-for="p of permissions" class="permission-list-item">
            <Image :src="p.img" preview />
            <span>{{ p.userName }} {{ p.userLastName }}</span>
            <Button style="margin-left: 40px; float: right" icon="pi pi-times" severity="danger" rounded outlined @click="revokePermission(p)" />
        </div>
    </div>
    <div v-else>
        <div class="not-sharing">
            You are currently not sharing this device with anyone.
        </div>
        
    </div>
    
</template>


<style>
.err {
    color: red;
}

.permission-list-item {
    display: flex;
    align-items: center;
    margin-top: 0.85em;
    background-color: var(--surface-0);
    padding: 7px;
    border: 2px solid var(--bluegray-100);
    border-radius: 5px;
}

.permission-list-item .p-button {
    width: 3.4em;
    height: 3.4em;
}

.permission-list {
    font-size: 1.65em;
    margin-left: 13em;
    margin-right: 13em;
    background-color: #F8F6FD;
    padding: 1em;
    border: 3px solid var(--bluegray-100);
    border-radius: 5px;
}

.permission-list img {
    max-width: 4em; 
    max-height: 4em; 
    margin-right: 10px;
}

.permission-search-container {
    margin-top: 1em;
    margin: auto;
    width: 50%;
}

.permission-search-container .p-autocomplete-input {
    width: 40em;
}

.permission-search-container .p-button {
    margin-left: 2em;
}

.not-sharing {
    margin-top: 4em;
    padding-bottom: 8em;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}
</style>