<script setup lang="ts">
import { onActivated, onMounted, onUpdated, ref, watch } from "vue";
import { AuthService } from '@/api/auth.api'
import { userStore } from '@/store/userStore';
import Toolbar from 'primevue/toolbar';
import Button from "primevue/button";
import { getAvatar } from "../../util/http";
import OverlayPanel from 'primevue/overlaypanel';
import Divider from 'primevue/divider';
import Skeleton from 'primevue/skeleton';
import UserPopupItem from "./UserPopupItem.vue";
import { PropertyService } from "@/api/property.api";
import Badge from 'primevue/badge';
import { onBeforeRouteUpdate, type NavigationGuard } from "vue-router";

const shouldRenderSuperAdmin = () => {
    return userStore.hasRole("SUPER_ADMIN");
}
const shouldRenderRegularAdmin = () => {
    return userStore.hasRole("ADMIN");
}


const shouldRenderUnreg = () => {
    return userStore.signedOut();
}

const shouldRenderClient = () => {
    return userStore.hasRole("CLIENT");
}

const op = ref<OverlayPanel | null>(null);
const toggleUserOverlay = (event: any) => {
    op.value?.toggle(event);
}

const avatarSrc = ref("");
const avatarLoaded = ref(false);

onMounted(() => {
    avatarSrc.value = getAvatar(AuthService.getEmail());
    avatarLoaded.value = true;
});

</script>

<template>
    <Toolbar id="navbar">
        <template #start>

            <!-- All -->
            <h1 class="navbarTitle"><span class="black">S</span>mart<span class="black">c</span>ity<span class="black">h</span>ub</h1>
            <!-- Signed out -->
            <span v-if="shouldRenderUnreg()">
                <RouterLink to="/login"> <Button label="Login" class="mr-1" />
                </RouterLink>
            </span>
            <!-- Super-admin -->
            <span v-if="shouldRenderSuperAdmin()">
                <RouterLink to="/"> <Button label="Requests" icon="pi pi-home" class="mr-" /> </RouterLink>
                <RouterLink to="/superadmin/admins"> <Button label="Admins" icon="pi pi-user" class="mr-1" /></RouterLink>
            </span>
            <!-- Admin -->
            <span v-if="shouldRenderRegularAdmin()">
                <RouterLink to="/"> <Button label="Requests" icon="pi pi-home" class="mr-" /> </RouterLink>
            </span>
            <!-- Client -->
            <span v-if="shouldRenderClient()">
                <RouterLink to="/"> <Button label="Home" icon="pi pi-home" class="mr-" /> </RouterLink>
                <RouterLink to="/property/request">
                    <Button label="Request Property" class="mr-1" />
                </RouterLink>
            </span>
            <!-- All,Signed in -->
        </template>

        <template #end>
            <span v-if="!shouldRenderUnreg()">
                <Button type="button" icon="pi pi-image bg-none" label="Image" rounded outlined @click="toggleUserOverlay">
                    <Skeleton v-if="!avatarLoaded" size="3rem" class="mr-3" />
                    <img 
                        v-if="avatarLoaded" 
                        :src="avatarSrc" 
                        class="h-3rem w-3rem" 
                        style="vertical-align:middle; border-radius: 100%;"
                        @error="(e: Event) => { (e.target as HTMLImageElement).src = '/noavatar.jpg'; }" />
                </Button>

                <OverlayPanel ref="op" class="flex-row">
                    <span class="flex h-2rem">
                        {{ AuthService.getEmail() }}
                    </span>

                    <Divider class="flex" />
                    <UserPopupItem router-link="/passwordchange" label="Change your password" pi-icon="pi-cog" />
                    <Divider class="flex" />
                    <UserPopupItem router-link="/logout" label="Sign Out" pi-icon="pi-sign-out" />

                </OverlayPanel>
            </span>
        </template>
    </Toolbar>
</template>

<style>
body {
    background-color: var(--purple-50);
}
.black {
    color: var(--surface-900);
}
.navbarTitle {
    margin-right: 24px;
    color: var(--indigo-500);
}

#navbar button {
    margin-right: 10px;
}
</style>