<script setup lang="ts">

const props = defineProps({
    routerLink: String,
    label: String,
    piIcon: String
});
</script>

<template>
    <RouterLink :to="props.routerLink ?? '#'" class="flex h-2rem no-underline">
        <div class="flex flex-row align-content-center">
            <i v-if="props.piIcon != undefined" class="flex align-items-center pi w-3rem" :class="props.piIcon"
                style="font-size: 1.5rem" />
            <span class="flex align-items-center fg-gray">{{ props.label ?? "Your label" }}</span>
        </div>
    </RouterLink>
</template>

<style>
.no-underline {
    color: gray;
    text-decoration: none;
}

.fg-gray {
    text-decoration: none;
    color: gray;
}

.fg-gray:hover {
    text-decoration: underline;
    color: blue;
}
</style>