<script setup lang="ts">
import Button from 'primevue/button';
import InputNumber from 'primevue/inputnumber';
import InputSwitch from 'primevue/inputswitch';
import ProgressSpinner from 'primevue/progressspinner';
import SelectButton from 'primevue/selectbutton';
import { computed, ref } from 'vue';
import { v4 as uuidv4 } from 'uuid';
import { LampCommandType, type LampStartDTO, LampMode, type LampModeDTO, Lamp_Service } from '@/api/device/lamp.api';

interface Props {
    deviceId: number,
    pendingCommandOfEach: Map<LampCommandType, string>,
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<Props>();

const emit = defineEmits(['pushPendingCommand']);

const lampOnPath = '/device_lamp_bg_glowing.png';
const lampOffPath = '/device_lamp_bg.png';

// This gets changed immediately when we press the InputSwitch, so make sure
// to also respect waitingOnSwitch when using it as until waitingOnSwitch is
// false we don't know if the switch went through
const onOffChecked = ref(false);
const isGlowingLamp = computed(() => {
    if (getPendingCommand(LampCommandType.is_on)) {
        return onOffChecked.value ? false : true
    } else {
        return onOffChecked.value ? true : false;
    }
});

const onSwitchOnOff = () => {
    if (onOffChecked.value == undefined) {
        return;
    }
    const dto: LampStartDTO = {
        id: props.deviceId,
        start: onOffChecked.value,
        uuid: uuidv4()
    };
    emit('pushPendingCommand', LampCommandType.is_on, dto.uuid);
    Lamp_Service.setOnOff(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}
const selectedMode = ref(LampMode.MANUAL);
const activeMode = ref(LampMode.MANUAL);
const luxThreshold = ref(5.0);
const onModeSelect = () => {
    if (selectedMode.value === LampMode.AUTO || selectedMode.value === activeMode.value) {
        // Only select mode, don't attempt to set it to active
        return;
    }
    onModeSetActive();
}
const onModeSetActive = () => {
    if (selectedMode.value == undefined) {
        return;
    }
    const dto: LampModeDTO = {
        id: props.deviceId,
        mode: selectedMode.value,
        threshold: luxThreshold.value,
        uuid: uuidv4()
    };
    emit('pushPendingCommand', LampCommandType.mode, dto.uuid);
    Lamp_Service.setMode(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const getPendingCommand = (type: LampCommandType): string | undefined => {
    return props.pendingCommandOfEach.get(type);
};

const existsPending = (type: LampCommandType): boolean => {
    return props.pendingCommandOfEach.get(type) != undefined
}

defineExpose({
    onOffChecked,
    activeMode,
    selectedMode,
    luxThreshold,
});
</script>

<template>
    <div class="flex justify-content-center">
        <div class="flex flex-column">
            <div class="flex justify-content-center h-2rem">
                <InputSwitch v-if="!existsPending(LampCommandType.is_on)" class="relative" @change="onSwitchOnOff" v-model="onOffChecked"
                    :disabled="existsPending(LampCommandType.is_on) || activeMode === LampMode.AUTO" />
                <ProgressSpinner v-else-if="existsPending(LampCommandType.is_on)" style="width: 40px; height: 40px" strokeWidth="8" />
            </div>
            <img :src="lampOffPath" v-if="isGlowingLamp !== true" />
            <img :src="lampOnPath" v-else />
        </div>
        <div class="flex flex-column gap-5 align-items-start">
            <div class="flex">
                <SelectButton @change="onModeSelect" v-model="selectedMode" :options="Object.values(LampMode)"
                    :allowEmpty="false" :disabled="existsPending(LampCommandType.mode)">
                    <template #option="slotProps">
                        <span :style="slotProps.option === activeMode ? 'color: green' : ''">{{ slotProps.option }}</span>
                    </template>
                </SelectButton>
                <ProgressSpinner v-if="existsPending(LampCommandType.mode)" style="width: 40px; height: 40px" strokeWidth="8" />
            </div>
            <template v-if="selectedMode === LampMode.AUTO">
                <div class="p-float-label">
                        <InputNumber id="threshold" v-model="luxThreshold" :useGrouping="false" :minFractionDigits="0" :maxFractionDigits="2"
                            suffix=" lux" :allowEmpty="false" :disabled="existsPending(LampCommandType.mode)" :min="0" :max="1000" />
                        <label for="threshold">Threshold</label>
                </div>
                <Button @click="onModeSetActive" label="Set mode" :disabled="existsPending(LampCommandType.mode)" />
            </template>
        </div>
    </div>
</template>