<script setup lang="ts">
import LampView_Controls from './LampView_Controls.vue';
import DeviceLogs from '@/components/device/DeviceLogs.vue';
import { ref } from 'vue';
import type { LampLastState } from '@/views/user/LampView.vue';
import { type LampCmdHistoryItemDTO, LampCommandType, Lamp_Util } from '@/api/device/lamp.api';

interface Props {
    deviceId: number,
    lampLastState: LampLastState | undefined,
    lampLastCommandOfEachType: Array<LampCmdHistoryItemDTO>,
    lampLiveLog: Array<LampCmdHistoryItemDTO> | undefined,
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<Props>();

const lampViewControls = ref<InstanceType<typeof LampView_Controls> | null>();

const pendingCommandOfEach = ref<Map<LampCommandType, string>>(new Map());
const lastCommandOfEach = ref<Map<LampCommandType, string>>(new Map());

const pushPendingCommand = (type: LampCommandType, uuid: string) => {
    pendingCommandOfEach.value.set(type, uuid);
};

const popPendingCommand = (type: LampCommandType) => {
    pendingCommandOfEach.value.delete(type);
};

const getPendingCommand = (type: LampCommandType): string | undefined => {
    return pendingCommandOfEach.value.get(type);
};

const revertUI = (type: LampCommandType) => {
    if (!props.lampLastState) {
        return;
    }

    if (type == LampCommandType.is_on) {
        if (lampViewControls.value) {
            lampViewControls.value.onOffChecked = props.lampLastState.is_on;
        }
    } else if (type == LampCommandType.mode) {
        if (lampViewControls.value) {
            lampViewControls.value.activeMode = props.lampLastState.mode;
        }
    }
}

const refreshRequestMessage = () => {
    if (props.lampLastCommandOfEachType == undefined || props.lampLiveLog == undefined) {
        return;
    }

    if (props.lampLiveLog != undefined) {
        for (let cmd of props.lampLiveLog) {
            const found = getPendingCommand(cmd.type) == cmd.uuid && cmd.status == false;
            if (found) {
                popPendingCommand(cmd.type);
                revertUI(cmd.type);
            }
        }
    }

    for (let cmd of props.lampLastCommandOfEachType) {
        const uuid_in_mem = pendingCommandOfEach.value.get(cmd.type);
        const uuid_of_this = cmd.uuid;
        let shouldChange = false;

        if (uuid_in_mem != undefined) {
            if (uuid_in_mem == uuid_of_this) {
                popPendingCommand(cmd.type);
                shouldChange = true;
            }
        } else {
            popPendingCommand(cmd.type);
            shouldChange = true;
        }

        if (lastCommandOfEach.value.get(cmd.type) == cmd.uuid) {
            shouldChange = false;
        }
        
        // Perform update.
        if (shouldChange) {
            lastCommandOfEach.value.set(cmd.type, cmd.uuid);

            if (cmd.type == LampCommandType.is_on) {
                if (lampViewControls.value) {
                    lampViewControls.value.onOffChecked = cmd.oneOf.isOn!;
                }
            } else if (cmd.type == LampCommandType.mode) {
                if (lampViewControls.value) {
                    lampViewControls.value.activeMode = cmd.oneOf.mode!;
                    lampViewControls.value.selectedMode = cmd.oneOf.mode!;
                    if (cmd.oneOf.threshold) {
                        lampViewControls.value.luxThreshold = cmd.oneOf.threshold;
                    }
                }
            }
        }
    }
};
defineExpose({
    refreshRequestMessage,
});


</script>

<template>
<div class="flex justify-content-between">
    <div class="flex-1">
        <LampView_Controls ref="lampViewControls" :device-id="deviceId" :pending-command-of-each="pendingCommandOfEach" @push-pending-command="pushPendingCommand" />
    </div>
    <DeviceLogs :live-log="lampLiveLog" :message-func="Lamp_Util.toHumanText"></DeviceLogs>
</div>
</template>