<script setup lang="ts">
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import { onMounted, onUnmounted, ref } from 'vue';
import 'zingchart/es6'; 
// @ts-ignore
import ZingChartVue from 'zingchart-vue';
import 'zingchart/modules-es6/zingchart-depth.min.js';
import Dropdown from 'primevue/dropdown';
import Calendar from 'primevue/calendar';
import Button from 'primevue/button';
import { type DeviceHistoricalDTO } from '@/api/device.api';
import type { AxiosError, AxiosResponse } from 'axios';
import type { ErrorDTO } from '@/api/common.api';
import { type LampReadingDTO, Lamp_Service } from '@/api/device/lamp.api';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';


//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    deviceId: number
}

const props = defineProps<Props>();


//-----------------------------------------------------------------------------
// Chart
//-----------------------------------------------------------------------------

const chartDataIlluminance = {
    type: "line", 
    title: {
        text: "Illuminance"
    },
    scaleX: {
        transform: {
            type: 'date',
            all: '%m/%d/%y<br>%h:%i %A'
        }
    },  
    series: [  
        {  
            values : [ /* [UNIXTIMESTAMP:number, VALUE:number] */],
            text: "Illuminance (lux)",
            scales: 'scale-x, scale-y',
            lineColor: '#e53935',
        },
    ],
    plot: {
        marker: {
            visible: false,
        },
        tooltip: {
            visible: false,
        }
    },
    'crosshair-x': {

    },
    scaleY: {
        maxItems: 6,
        lineColor: '#e53935',
    },
};

const chartIlluminance = ref();

//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "lamp_m", props.deviceId, -1, (ev: SockNVTResponse) => {
        onGetLatestReading(ev.payload as Array<LampReadingDTO>);
    });
}

const onGetLatestReading = (data: Array<LampReadingDTO>) => {
    // TODO: The crosshair dies after setseriesvalues(). 

    let illuminanceSeries = [];

    const maxPointsPerGraph = 100;
    const stepSize = Math.floor(data.length / maxPointsPerGraph);
    for (let i = 0; i < data.length; i += 1) {
        const d = data[i];
        const t = new Date(d.timestamp).getTime();

        illuminanceSeries.push([ t, d.illuminance ]);
    }

    chartIlluminance.value.setseriesvalues({values: [illuminanceSeries]});
}

const chartHistoricalIlluminance = ref();
const shouldDrawHistoricalCharts = ref<boolean>(false);

interface Mode {
    name: string,
    code: string
};

const mode = ref<Array<Mode>>([
    {name: 'Last 6 hours', code: 'mode6h' },
    {name: 'Last 12 hours', code: 'mode12h' },
    {name: 'Last 24 hours', code: 'mode24h' },
    {name: 'Last week', code: 'mode1w' },
    {name: 'Last month', code: 'mode1m' },
    {name: 'Custom', code: 'modeCustom' },
]);

const selectedMode = ref<Mode>(mode.value[0]);
const customDates = ref<[Date, Date]>();
const errorMessage = ref<string>();

const onSubmitHistoricalData = () => {
    // Validation (it's too much work to hook this up to vee-validate).

    if (selectedMode.value.code == 'modeCustom') {
        if (customDates.value == undefined || customDates.value[0] == null || customDates.value[1] == null) {
            errorMessage.value = "Please enter a start and end date.";
            return;
        }

        // https://stackoverflow.com/a/15289883
        function dateDiffInDays(a: Date, b: Date) {
            const _MS_PER_DAY = 1000 * 60 * 60 * 24;
            const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
            const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

            return Math.floor((utc2 - utc1) / _MS_PER_DAY);
        }

        if (dateDiffInDays(customDates.value[0], customDates.value[1]) > 31) {
            errorMessage.value = "Date range must be less than 1 month.";
            return;
        }
    }

    errorMessage.value = "";

    let dto: DeviceHistoricalDTO = {
        id: props.deviceId,
        mode: selectedMode.value.code,
    }

    if (customDates.value != undefined) {
        dto.date1 = customDates.value[0];
        dto.date2 = customDates.value[1];
    }

    Lamp_Service.getMeasurements(dto).then((res: AxiosResponse<Array<LampReadingDTO>>) => {
        const arr = res.data;
        drawHistoricalGraph(arr);
    }).catch((err: AxiosError<ErrorDTO>) => {
        errorMessage.value = err?.response?.data.message;
        
        console.error(err);
    });
}

const drawHistoricalGraph = (data: Array<LampReadingDTO>) => {
    let illuminanceSeries = [];
    
    // Downsampling.
    const maxPointsPerGraph = 100;
    const stepSize = Math.max(1, Math.floor(data.length / maxPointsPerGraph));

    for (let i = 0; i < data.length; i += stepSize) {
        let d = data[i];
        const t = new Date(d.timestamp).getTime();

        illuminanceSeries.push([ t, d.illuminance ]);
    }

    chartHistoricalIlluminance.value.setseriesvalues({values: [illuminanceSeries]});
    shouldDrawHistoricalCharts.value = true;
}

//-----------------------------------------------------------------------------
// Lifecycle hooks
//-----------------------------------------------------------------------------

onMounted(() => {
    ws.connect();
});

onUnmounted(() => {
    ws.close();
});


</script>

<template>
<TabView>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-wifi"></i>
                <span class="font-bold white-space-nowrap">Live</span>
            </div>
        </template>
        <h2>Real time Lamp data:</h2>
        <span class="half">
            <ZingChartVue :data="chartDataIlluminance" ref="chartIlluminance"/>
        </span>
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-history"></i>
                <span class="font-bold white-space-nowrap">Historical</span>
            </div>
        </template>
        <h2>Preview historical data:</h2>

        <!-- Form -->
        <Dropdown v-model="selectedMode" :options="mode" optionLabel="name" />
        <br/>
        <template v-if="selectedMode.code == 'modeCustom'">
            <Calendar v-model="customDates" selectionMode="range" :manualInput="false" showButtonBar />
            <br/>
            <small class="p-error" id="date-error">{{ errorMessage }}</small>
            <br/>
        </template>
        <Button label="Submit" @click="onSubmitHistoricalData" />

        <br/>

        <!-- Resulting graph -->
        <div v-show="shouldDrawHistoricalCharts"> <!-- Need v-show (not v-if) or else the refs below won't get initialized properly. -->
            <span class="half">
                <ZingChartVue :data="chartDataIlluminance" ref="chartHistoricalIlluminance"/>
            </span>
        </div>
    </TabPanel>
</TabView>
</template>

<style>
.half {
    width: 49%;
    display: inline-block;
}
</style>