<script setup lang="ts">
import { PropertyDTOWithOwnerProp } from '@/api/property.api';

const props = defineProps({
    property: {
        type: PropertyDTOWithOwnerProp,
        required: true,
    },
});
const property = props.property;

</script>

<template>
    <div>
        <RouterLink :to="`/property-approve/${property.property.id}`">(View)</RouterLink>
        ({{ property.owner.email }}) {{ property.property.type }} at {{ property.property.address }} in {{
            property.property.cityName }}, {{ property.property.countryName }}
    </div>
</template>