<script setup lang="ts">
import { PropertyDTOProp, PropertyService, PropertyType } from '@/api/property.api';
import Card from 'primevue/card';
import { onMounted, ref } from 'vue';
import { number } from 'yup';


const props = defineProps({
    property: {
        type: PropertyDTOProp,
        required: true,
    },
});
const property = props.property;

const imgSrc = ref<string>("");

const getImg = () => {
    PropertyService.GetPropertyImageBlob(props.property.id).then(async res => {
        imgSrc.value = URL.createObjectURL(res.data);
    }).catch(res => {
        console.log(res);
    })
};

onMounted(() => {
    getImg();
});

const icoHousePath = '/ico_house.png';
const icoApartmentPath = '/ico_apartment.png';
const icoLocationPinPath = '/ico_location_pin.png';
const icoBuildingFloors = '/ico_building_floors.png';
const icoBuildingArea = '/ico_building_area.png';

const floorsStr = (floors: number) => {
    if (floors === undefined) return "floors"
    if (floors == 0) return "floors"
    if (floors == 1) return "floor"
    else return "floors"
};

</script>

<template>
    <Card class="property-card">
        <template #header>
            <RouterLink :to="`/property/${property.id}`">
                <img class="card-img" :alt="`Property image for ${property.id}`" :src="imgSrc" onerror="this.src='/noimage.jpg'" />
            </RouterLink>
        </template>
        <template #title>
            <span class="center-items">
                <img :src="icoHousePath" class="img-type" v-if="property.type == PropertyType.House">
                <img :src="icoApartmentPath" class="img-type" v-if="property.type == PropertyType.Apartment">
            </span>
           {{ property.type }} @{{ property.id }}
        </template>
        <template #subtitle>
            <span class="center-items">
                <img :src="icoLocationPinPath" class="img-type"  v-tooltip.bottom="{ value: 'Address'}">
                {{ property.address }} in {{ property.cityName }}, {{property.countryName }}
            </span>
        </template>
        <template #content>
            <div class="center-items">
                <img :src="icoBuildingFloors" class="img-type"  v-tooltip.bottom="{ value: 'Number of floors'}">
                <span class="txt-type">{{ property.floors }} {{ property ? floorsStr(property.floors) : '0' }}</span>
            </div>

            <div class="center-items">
                <img :src="icoBuildingArea" class="img-type"  v-tooltip.bottom="{ value: 'Area'}">
                <span class="txt-type">{{property.size }}m<sup>2</sup></span>
            </div>

            <div style="text-align: center; margin-top: 10px; font-size: 1.25em;">
                <RouterLink :to="`/property/${property.id}`">(View)</RouterLink>
            </div>         

            <div v-if="property.share.isShared" class="share-text">
                Shared by {{ property.share.sharedByName }} {{ property.share.sharedByLastName }}
            </div>
        </template>
    </Card>
</template>

<style scoped>
.single-device .p-card-title {
    font-size: 1em;
    text-align: center;
}

.img-type {
    max-width: 32px;
    max-height: 32px;
}

.property-card {
    width: 25em;
    display:inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    transition: background-color 0.25s ease;
}

.property-card:hover {
    background-color: var(--surface-50);
    transition: background-color 0.25s ease;
}

.card-img {
    width: 80%;
    height: 80%;
    max-width: 250px;
    max-height: 250px;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

.share-text {
    color: var(--indigo-500);
    text-align: right;
}

.center-items {
    display: inline;
    align-items:center;
}
</style>