<script setup lang="ts">
import { PropertyType, type PropertyDTO } from '@/api/property.api';
import Skeleton from 'primevue/skeleton';

interface Props {
    property: PropertyDTO | undefined
}

const props = defineProps<Props>();

const floorsStr = (floors: number) => {
    if (floors === undefined) return "floors"
    if (floors == 0) return "floors"
    if (floors == 1) return "floor"
    else return "floors"
};

const icoHousePath = '/ico_house.png';
const icoApartmentPath = '/ico_apartment.png';
const icoLocationPinPath = '/ico_location_pin.png';
const icoBuildingFloors = '/ico_building_floors.png';
const icoBuildingArea = '/ico_building_area.png';

</script>

<template>
<div class="margin-top">
    <span v-if="property">
        <span v-if="property?.type == PropertyType.House" class="center-items">
            <img :src="icoHousePath" class="img-type">
            <span class="txt-type">House</span>
        </span>

        <span v-if="property?.type == PropertyType.Apartment" class="center-items">
            <img :src="icoApartmentPath" class="img-type">
            <span class="txt-type">Apartment</span>
        </span>

        <span class="center-items">
            <img :src="icoLocationPinPath" class="img-type"  v-tooltip.bottom="{ value: 'Address'}">
            <span class="txt-type">{{ property?.address }} in {{ property?.cityName }}, {{property?.countryName }}</span>
        </span>

        <span class="center-items">
            <img :src="icoBuildingFloors" class="img-type"  v-tooltip.bottom="{ value: 'Number of floors'}">
            <span class="txt-type">{{ property?.floors }} {{ property ? floorsStr(property.floors) : '0' }}</span>
        </span>

        <span class="center-items">
            <img :src="icoBuildingArea" class="img-type"  v-tooltip.bottom="{ value: 'Area'}">
            <span class="txt-type">{{property?.size }}m<sup>2</sup></span>
        </span>
    </span>
    <span v-else>
        <Skeleton width="50%" height="48px"></Skeleton>
    </span>

</div>
</template>

<style>

.margin-top {
    margin-top: 10px;
}

.center-items {
    display: inline-flex;
    align-items:center;
    margin-left: 1em;
    margin-right: 1em;
}

.txt-type {
    font-size: 1.55em;
}

.img-type {
    max-width: 48px;
    max-height: 48px;
}
</style>