<script setup lang="ts">
import { DeviceType, type DeviceDTO, deviceTypeToHumanText } from '@/api/device.api';
import Card from 'primevue/card';

interface Props {
    device: DeviceDTO
}

const props = defineProps<Props>();


const onlineText = (online: boolean) => {
    return online ? "Online" : "Offline";
}


const icoDHT = '/ico_dht_sensor.png';
const icoAC = '/ico_ac.png';
const icoWash = '/ico_wash_machine_2.png';
const icoLamp = '/ico_lamp.png';
const icoGate = '/ico_gate.png';
const icoSprinkler = '/ico_sprinkler.png';

const getIcon = () => {
    switch (props.device.type) {
        case DeviceType.dht: return icoDHT;
        case DeviceType.ac: return icoAC;
        case DeviceType.wash: return icoWash;
        case DeviceType.lamp: return icoLamp;
        case DeviceType.gate: return icoGate;
        case DeviceType.sprinkler: return icoSprinkler;
        default: return '';
    }
}

</script>

<template>

<div class="single-device">
    <Card class="card" :class="{ offline: !device.online }">
        <template #header>
            <RouterLink :to='`/device/${device.id}`'>
                <img :src="getIcon()" class="device-icon">
            </RouterLink>
        </template>
        <template #title>
            <RouterLink :to='`/device/${device.id}`'>
                {{ deviceTypeToHumanText(device.type) }} @{{ device.id }}
            </RouterLink>   
        </template>
        <template #content>
            <span v-tooltip.right="{value: 'Updates every 10-20 seconds.'}">
                <span class="dot" :class="{'background-color-red': !device.online}"></span>
                {{ onlineText(device.online) }}
            </span>
        </template>
    </Card>
</div> 
</template>

<style>
.single-device .dot {
    height: 16px;
    width: 16px;
    background-color: var(--indigo-500);
    border-radius: 50%;
    display: inline-block;
}

.single-device .background-color-red {
    background-color: red;
}

.single-device .p-card-title {
    font-size: 1.25em;
    text-align: center;
}

.single-device .p-card-title a, a::after {
    text-decoration: none;
    color: var(--surface-700);
}

.single-device .card {
    width: 18rem;
    overflow: hidden;
    margin: 10px;
    background-color: var(--surface-50);
    transition: background-color 0.25s ease;
}

.single-device .card:hover {
    background-color: var(--surface-0);
    transition: background-color 0.25s ease;
}

.single-device .offline {
    background-color: var(--surface-200);
}

.single-device .device-icon {
    max-width: 128px;
    max-width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
</style>