<script setup lang="ts">
import type { PropertyWithDevicesDTO } from '@/api/property.api';
import PropertyDetailsDevicesSingleDevice from './PropertyDetailsDevicesSingleDevice.vue';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import { onMounted, ref, watch } from 'vue';
import { type DeviceDTO, deviceTypeToHumanText } from '@/api/device.api';
import Checkbox from 'primevue/checkbox';


interface Props {
    property: PropertyWithDevicesDTO | undefined
}
const props = defineProps<Props>();
const devicesAfterFiltering = ref<Array<DeviceDTO>>();


const setDevicesAfterFilteringFromNoFiltering = () => {
    devicesAfterFiltering.value = props.property?.devices;
}

onMounted(() => {
    setDevicesAfterFilteringFromNoFiltering();
});

watch(() => props.property?.devices, (_, __) => {
    updateFilter();
});

//----------------------------------------------------------------
// Filtering

const showFilters = ref(false);
const toggleFilterShow = () => {
    showFilters.value = !showFilters.value;
}
const searchText = ref("");
const whichToShow = ref(['online', 'offline']);

const textCompare = (s1: string, s2: string) => {
    const ss1 = s1.toLowerCase().trim();
    const ss2 = s2.toLowerCase().trim();
    return (ss1.includes(ss2) || ss2.includes(ss1));
}

const updateFilter = () => {
    if (searchText.value == "") {
        setDevicesAfterFilteringFromNoFiltering();
    } else {
        devicesAfterFiltering.value = props.property?.devices.filter(d => textCompare(deviceTypeToHumanText(d.type), searchText.value));
    }
    
    devicesAfterFiltering.value = devicesAfterFiltering.value?.filter(d => d.online && whichToShow.value.includes('online') || !d.online && whichToShow.value.includes('offline'));
}

//----------------------------------------------------------------



</script>

<template>

<div>
    <div v-if="devicesAfterFiltering && property">
        <!-- Filter -->
        <div style="margin-top:15px">
            <Button icon="pi pi-filter" @click="toggleFilterShow" outlined  severity="secondary"/>

            <span v-if="showFilters" style="margin-left: 15px">
                <span class="p-input-icon-left">
                    <i class="pi pi-search" />
                    <InputText v-model="searchText" placeholder="Search" v-on:update:model-value="updateFilter" />
                </span>

                <span class="flex align-items-center">
                    <Checkbox v-model="whichToShow" @change="updateFilter" value="online" />
                    <label class="ml-2">Show online</label>
                </span>

                <span class="flex align-items-center">
                    <Checkbox v-model="whichToShow" @change="updateFilter" value="offline" />
                    <label class="ml-2">Show offline</label>
                </span>
            </span>
            
            <span v-if="devicesAfterFiltering.length < property.devices.length">
                Showing {{ devicesAfterFiltering.length }} out of {{ property.devices.length }} devices.
            </span>
        </div>


        <span v-for="d in devicesAfterFiltering" style="display: inline-block;">
            <PropertyDetailsDevicesSingleDevice :device="d" />
        </span>
    </div>
</div>

</template>

<style>
</style>