<script setup lang="ts">
import type { ErrorDTO } from '@/api/common.api';
import { UserService, type ChangePasswordDTO } from '@/api/user.api';
import type { AxiosError } from 'axios';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import { useToast } from "primevue/usetoast";
import { useForm } from 'vee-validate';
import { useRoute, useRouter } from "vue-router";
import * as yup from 'yup';

const router = useRouter();

const formSchema = yup.object({
    oldPassword: yup.string().required()/*.email()*/.label("Old Password"),
    newPassword: yup.string().required().label("New password"),
    newPasswordConfirm: yup.string().required().oneOf([yup.ref("newPassword")], "Passwords must match!").label("Confirm password"),
});
const { defineComponentBinds, handleSubmit, errors, setErrors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});
const oldPassword = defineComponentBinds("oldPassword");
const newPassword = defineComponentBinds("newPassword");
const newPasswordConfirm = defineComponentBinds("newPasswordConfirm");

const onClickLogin = handleSubmit(values => {
    const dto: ChangePasswordDTO = {
        oldPassword: values['oldPassword'],
        newPassword: values['newPassword'],
    };

    UserService.ChangePassword(dto).then((res) => {
        router.push({ path: '/logout' });
    }).catch((err: AxiosError<ErrorDTO>) => {
        setErrors({ "submit": err.response?.data.message});
    });
});

</script>

<template>
    <div class="card flex justify-content-center">

        <form @submit="onClickLogin" class="flex flex-column gap-2">
            <div class="field">
                <h2> Change your password.</h2>
            </div>

            <div class="field">
                <div class="p-float-label">
                    <InputText id="oldPassword" v-bind="oldPassword" type="password"
                        :class="{ 'p-invalid': errors.oldPassword }" />
                    <label for="oldPassword">Current password</label>
                </div>
                <small class="p-error">{{ errors.oldPassword }}</small>
            </div>

            <div class="field">
                <div class="p-float-label">
                    <InputText id="newPassword" v-bind="newPassword" type="password"
                        :class="{ 'p-invalid': errors.newPassword }" />
                    <label id="error-newPassword" for="newPassword">New password</label>
                </div>
                <small class="p-error">{{ errors.newPassword }}</small>
            </div>

            <div class="field">
                <div class="p-float-label">
                    <InputText id="newPasswordConfirm" v-bind="newPasswordConfirm" type="password"
                        :class="{ 'p-invalid': errors.newPasswordConfirm }" />
                    <label id="error-newPasswordConfirm" for="newPasswordConfirm">Confirm new password</label>
                </div>
                <small class="p-error">{{ errors.newPasswordConfirm }}</small>
            </div>

            <div class="field">
                <div class="p-float-label">
                    <Button label="Change password" type="submit" :class="{ 'p-invalid': errors.submit }" />
                </div>
                <small>You will be signed out after this.</small>
                <br />
                <small class="p-error">{{ errors.submit }}</small>
            </div>
        </form>
    </div>
</template>@/api/AuthService./user.api