<script setup lang="ts">
import { userStore } from '@/store/userStore';
import NotFound from '@/views/shared/NotFoundView.vue';
import MyPropertiesView from '@/views/user/MyPropertiesView.vue';
import PendingPropertyRequestsView from '@/views/admin/PendingPropertyRequestsView.vue';
// import PendingPropertyRequests from "../property/PendingPropertyRequests.vue";
// import UserPropertiesPage from "./UserPropertiesPage.vue";

</script>

<template>
    <PendingPropertyRequestsView v-if="userStore.role == 'ADMIN' || userStore.role == 'SUPER_ADMIN'" />
    <MyPropertiesView v-else-if="userStore.role == 'CLIENT'" />
    <NotFound v-else />
</template>