<script setup lang="ts">
import GateView_Controls from './GateView_Controls.vue';
import { ref } from 'vue';
import type { GateLastState } from '@/views/user/GateView.vue';
import { type GateDTO, GateCommandType, GateOpen, GateSensorEvent, type GateCmdHistoryItemDTO, Gate_Util } from '@/api/device/gate.api';
import DeviceLogs from '@/components/device/DeviceLogs.vue';

interface Props {
    gate: GateDTO | undefined,
    deviceId: number,
    gateLastState: GateLastState | undefined,
    gateLastCommandOfEachType: Array<GateCmdHistoryItemDTO>,
    gateLiveLog: Array<GateCmdHistoryItemDTO> | undefined,
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<Props>();

const emit = defineEmits(["fetchHistoryMeta"]);

const gateViewControls = ref<InstanceType<typeof GateView_Controls> | null>();

const pendingCommandOfEach = ref<Map<GateCommandType, string>>(new Map());
const lastCommandOfEach = ref<Map<GateCommandType, string>>(new Map());

const pushPendingCommand = (type: GateCommandType, uuid: string) => {
    pendingCommandOfEach.value.set(type, uuid);
};

const popPendingCommand = (type: GateCommandType) => {
    pendingCommandOfEach.value.delete(type);
};

const getPendingCommand = (type: GateCommandType): string | undefined => {
    return pendingCommandOfEach.value.get(type);
};

const revertUI = (type: GateCommandType) => {
    if (!props.gateLastState) {
        return;
    }

    if (!gateViewControls.value) {
        return;
    }

    if (type === GateCommandType.open_state) {
        gateViewControls.value.gateOpenState = props.gateLastState.open_state
        if (props.gateLastState.open_state === GateOpen.OPEN) {
            gateViewControls.value.onOffChecked = true
        } else if (props.gateLastState.open_state === GateOpen.CLOSED) {
            gateViewControls.value.onOffChecked = false
        }
    } else if (type === GateCommandType.mode) {
        gateViewControls.value.selectedMode = props.gateLastState.mode
    } else if (type === GateCommandType.override) {
        gateViewControls.value.activeOverride = props.gateLastState.override
        gateViewControls.value.selectedOverride = props.gateLastState.override
    } else if (type === GateCommandType.sensor_exit) {
        gateViewControls.value.platesAtGateExit = props.gateLastState.plates_exit
    } else if (type === GateCommandType.sensor_entry) {
        gateViewControls.value.platesAtGateEntrance = props.gateLastState.plates_entry
    }
}

const refreshRequestMessage = () => {
    if (props.gateLastCommandOfEachType == undefined || props.gateLiveLog == undefined) {
        return;
    }

    if (props.gateLiveLog != undefined) {
        for (let cmd of props.gateLiveLog) {
            const found = getPendingCommand(cmd.type) == cmd.uuid && cmd.status == false;
            if (found) {
                popPendingCommand(cmd.type);
                revertUI(cmd.type);
            }
        }
    }

    for (let cmd of props.gateLastCommandOfEachType) {
        const uuid_in_mem = pendingCommandOfEach.value.get(cmd.type);
        const uuid_of_this = cmd.uuid;
        let shouldChange = false;

        if (uuid_in_mem != undefined) {
            if (uuid_in_mem == uuid_of_this) {
                popPendingCommand(cmd.type);
                shouldChange = true;
            }
        } else {
            popPendingCommand(cmd.type);
            shouldChange = true;
        }

        if (lastCommandOfEach.value.get(cmd.type) == cmd.uuid) {
            shouldChange = false;
        }
        
        // Perform update.
        if (shouldChange) {
            lastCommandOfEach.value.set(cmd.type, cmd.uuid);
            if (!gateViewControls.value) {
                return
            }
            if (cmd.type === GateCommandType.open_state) {
                gateViewControls.value.gateOpenState = cmd.oneOf.openState!
                if (cmd.oneOf.openState! === GateOpen.OPEN) {
                    gateViewControls.value.onOffChecked = true
                } else if (cmd.oneOf.openState! === GateOpen.CLOSED) {
                    gateViewControls.value.onOffChecked = false
                }
            } else if (cmd.type === GateCommandType.mode) {
                gateViewControls.value.selectedMode = cmd.oneOf.mode!
            } else if (cmd.type === GateCommandType.override) {
                gateViewControls.value.activeOverride = cmd.oneOf.override!
                gateViewControls.value.selectedOverride = cmd.oneOf.override!
            } else if (cmd.type === GateCommandType.sensor_exit) {
                gateViewControls.value.platesAtGateExit = cmd.oneOf.event === GateSensorEvent.ARRIVED ? cmd.oneOf.plate! : ""
            } else if (cmd.type === GateCommandType.sensor_entry) {
                gateViewControls.value.platesAtGateEntrance = cmd.oneOf.event === GateSensorEvent.ARRIVED ? cmd.oneOf.plate! : ""
            }
        }
    }
};
defineExpose({
    refreshRequestMessage,
});


</script>

<template>
<div class="flex justify-content-between">
    <div class="flex-1">
        <GateView_Controls ref="gateViewControls" :gate="gate" :device-id="deviceId" :pending-command-of-each="pendingCommandOfEach" @push-pending-command="pushPendingCommand" />
    </div>
    <DeviceLogs :live-log="gateLiveLog" :message-func="Gate_Util.toHumanText"></DeviceLogs>
</div>
</template>