<script setup lang="ts">
import InputSwitch from 'primevue/inputswitch';
import ProgressSpinner from 'primevue/progressspinner';
import SelectButton from 'primevue/selectbutton';
import { ref } from 'vue';
import { v4 as uuidv4 } from 'uuid';
import { type GateDTO, GateCommandType, GateOpen, type GateStartDTO, GateMode, type GateModeDTO, GateOverride, type GateOverrideDTO, Gate_Service, Gate_Util } from '@/api/device/gate.api';

interface Props {
    gate: GateDTO | undefined,
    deviceId: number,
    pendingCommandOfEach: Map<GateCommandType, string>,
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<Props>();
const emit = defineEmits(['pushPendingCommand']);


const gateOpenPath = '/device_gate_bg_open.png';
const gateOpeningPath = '/device_gate_bg_opening.png';
const gateClosingPath = '/device_gate_bg_closing.png';
const gateClosedPath = '/device_gate_bg_closed.png';

const onOffChecked = ref(false);
const gateOpenState = ref(GateOpen.CLOSED);

const onSwitchOnOff = () => {
    if (onOffChecked.value == undefined) {
        return;
    }
    const dto: GateStartDTO = {
        id: props.deviceId,
        open: onOffChecked.value ? GateOpen.OPENING : GateOpen.CLOSING,
        uuid: uuidv4()
    };
    emit('pushPendingCommand', GateCommandType.open_state, dto.uuid);
    Gate_Service.setOnOff(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const existsPending = (type: GateCommandType): boolean => {
    return props.pendingCommandOfEach.get(type) != undefined
}

const selectedMode = ref(GateMode.PRIVATE);
const onSelectMode = () => {
    if (selectedMode.value == undefined) {
        return;
    }
    const dto: GateModeDTO = {
        id: props.deviceId,
        mode: selectedMode.value,
        uuid: uuidv4()
    };
    emit('pushPendingCommand', GateCommandType.mode, dto.uuid);
    Gate_Service.setMode(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const activeOverride = ref(GateOverride.NO)
const selectedOverride = ref(GateOverride.NO);
const onSelectOverride = () => {
    if (selectedOverride.value == undefined) {
        return;
    }
    const dto: GateOverrideDTO = {
        id: props.deviceId,
        override: selectedOverride.value,
        uuid: uuidv4()
    };
    emit('pushPendingCommand', GateCommandType.override, dto.uuid);
    Gate_Service.setOverride(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const prettifyMode = (mode: GateMode) => {
    switch (mode) {
        case GateMode.PRIVATE: return "Private"
        case GateMode.PUBLIC: return "Public"
    }
}

const platesAtGateEntrance = ref<string>("");
const platesAtGateExit = ref<string>("");

defineExpose({
    onOffChecked,
    gateOpenState,
    selectedMode,
    selectedOverride,
    activeOverride,
    platesAtGateEntrance,
    platesAtGateExit,
});

</script>
<template>
    <div class="flex justify-content-center">
        <div class="flex flex-column">
            <div class="flex justify-content-center h-2rem mb-2">
                <span v-if="gateOpenState === GateOpen.OPENING">Opening...</span>
                <span v-else-if="gateOpenState === GateOpen.CLOSING">Closing...</span>
                <template v-else>
                    <InputSwitch v-if="!existsPending(GateCommandType.open_state)" class="relative" @change="onSwitchOnOff" v-model="onOffChecked"
                        :disabled="existsPending(GateCommandType.open_state) || activeOverride === GateOverride.NO" />
                    <ProgressSpinner v-else-if="existsPending(GateCommandType.open_state)" style="width: 40px; height: 40px" strokeWidth="8" />
                </template>
            </div>
            <img :src="gateOpenPath" v-if="gateOpenState === GateOpen.OPEN" />
            <img :src="gateOpeningPath" v-else-if="gateOpenState === GateOpen.OPENING" />
            <img :src="gateClosingPath" v-else-if="gateOpenState === GateOpen.CLOSING" />
            <img :src="gateClosedPath" v-else-if="gateOpenState === GateOpen.CLOSED" />
            <div>
                <div>
                    Entrance:
                    <span v-if="platesAtGateEntrance !== ''" :style="props.gate?.plates.includes(platesAtGateEntrance) === true ? 'color: green' : 'color: red'">
                        {{ platesAtGateEntrance }}
                    </span>
                    <span v-else>none</span>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exit:
                    <span v-if="platesAtGateExit !== ''">
                        {{ platesAtGateExit }}
                    </span>
                    <span v-else>none</span>
                </div>
            </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="flex">
                <SelectButton @change="onSelectMode" v-model="selectedMode" :options="Object.values(GateMode)"
                    :allowEmpty="false" :disabled="existsPending(GateCommandType.mode) || activeOverride === GateOverride.YES" >
                    <template #option="slotProps">
                        <span>{{ prettifyMode(slotProps.option) }}</span>
                    </template>
                </SelectButton>
                <ProgressSpinner v-if="existsPending(GateCommandType.mode)" style="width: 40px; height: 40px" strokeWidth="8" />
            </div>
            <div class="flex">
                <SelectButton @change="onSelectOverride" v-model="selectedOverride" :options="Object.values(GateOverride)"
                    :allowEmpty="false" :disabled="existsPending(GateCommandType.override)">
                    <template #option="slotProps">
                        <span>{{  Gate_Util.toHumanText_Override(slotProps.option) }}</span>
                    </template>
                </SelectButton>
                <ProgressSpinner v-if="existsPending(GateCommandType.override)" style="width: 40px; height: 40px" strokeWidth="8" />
            </div>
        </div>
    </div>
</template>