<script setup lang="ts">
import { onUpdated, ref } from 'vue';
import Knob from 'primevue/knob';
import { type DHTReadingDTO } from '@/api/device.api';
import 'zingchart/es6'; 
import 'zingchart/modules-es6/zingchart-depth.min.js';
// @ts-ignore


//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    loading: boolean
}

const props = defineProps<Props>();

//-----------------------------------------------------------------------------
// Data
//-----------------------------------------------------------------------------

const lastTemperature = ref<number>(0);
const lastHumidity = ref<number>(0); // Rounded to integer.

/**
 * Called by DHTView_Main when it fetches new data from the websocket.
 */
const onFetchData = (data: Array<DHTReadingDTO>) => {
    lastTemperature.value = data[data.length - 1].temperature;
    lastHumidity.value = Math.round(data[data.length - 1].humidity);
    percentage.value = `${100 - lastHumidity.value + 5}%`;
}

defineExpose({onFetchData});

//-----------------------------------------------------------------------------
// Lifecycle hooks
//-----------------------------------------------------------------------------

onUpdated(() => {
    const t = lastTemperature.value;
    if (t < th.value.minT) {
        colorFromScript.value = "rgb(51, 102, 255)";
    } else if (t < 0) {
        colorFromScript.value = "rgb(102, 255, 255)";
    } else if (t < 20) {
        colorFromScript.value = "rgb(255, 255, 102)";
    } else if (t < th.value.maxT) {
        colorFromScript.value = "rgb(255, 51, 0)";
    } else {
        colorFromScript.value = "rgb(153, 0, 0)";
    }
});

//-----------------------------------------------------------------------------
// Thermometer UI
//-----------------------------------------------------------------------------

const colorFromScript = ref<string>("rgba(64, 255, 12)");
class Thermometer {
    y: number = 32
    w: number = 32
    h: number = 230
    minT: number = -10
    maxT: number = +30
};

const th = ref<Thermometer>(new Thermometer());

const thermometerMercuryHeight = (): number => {
    const curr = lastTemperature.value;
    const mini = th.value.minT;
    const maxi = th.value.maxT;
    const range = maxi - mini;
    const height = th.value.h;
    const percentage = ((curr - mini) / range) * height;

    return Math.max(0, Math.min(percentage, height));
}

const ticks = ref<number[]>([0.2, 0.4, 0.6, 0.8]); // Percentage of height

const percentage = ref("55%");
</script>

<template>

<div>
    <div style="display: block; margin-left: auto; margin-right: auto; width:35%">
        <svg width="220" :height="th.h + (4 * 5) + th.w + th.w + th.y">
            <circle
                :cx="th.w + th.w / 2" :cy="th.y + th.h + th.w/2"
                :r="th.w * 1.5"
                style="fill:#5472D4" />
            <rect 
                :x="th.w" :y="th.y"
                :width="th.w" :height="th.h"
                rx="15"
                style="fill:rgb(68, 68, 68, 0); stroke-width:24; stroke:#5472D4" />
            <rect 
                :x="th.w" :y="th.y"
                :width="th.w" :height="th.h"
                style="fill:rgb(178, 178, 178);"
                rx="15" />
            <g v-if="loading">
                <circle
                    style="fill:rgb(178, 178, 178);"
                    :cx="th.w + th.w / 2" :cy="th.y +th.h + th.w/2"
                    :r="th.w"/>
            </g>
            <g v-if="!loading">
                <rect 
                    class="thermometerMercuryCol"
                    :x="th.w" :y="th.y + th.h - thermometerMercuryHeight()"
                    :width="th.w" :height="thermometerMercuryHeight()" />
                <circle
                    class="thermometerMercuryCol"
                    :cx="th.w + th.w / 2" :cy="th.y +th.h + th.w/2"
                    :r="th.w"/>
                <rect 
                    :x="th.w + 48 - 3" :y="th.y + th.h - thermometerMercuryHeight() - (20 + 3*2)/2"
                    :width="76 + 3*2" :height="20 + 3*2"
                    style="fill:rgb(39, 39, 39);"
                    rx="15" />
                <text 
                    :x="th.w + 48 + 12" :y="th.y + th.h - thermometerMercuryHeight() + 18 - (20 + 3*2)/2"
                    style="fill: white;">
                    {{ lastTemperature.toFixed(1) }}&deg;C
                </text>
            </g>
                <rect v-for="t of ticks"
                    :x="th.w" :y="th.y + (th.h * t)"
                    :width="th.w / 2" :height="3"
                    style="fill:rgb(39, 39, 39);"/>
        </svg>

        <Knob 
            style="display:inline-block"
            readonly 
            v-model="lastHumidity" 
            valueTemplate="&#127778;{value}%" 
            v-tooltip.top="{ value: 'Humidity'}"
            :size="300"
            :strokeWidth="7"
        /> 
    </div>
</div>

</template>

<style>
.thermometerMercuryCol {
    fill: v-bind('colorFromScript');
}
</style>