<script setup lang="ts">
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import { onMounted, onUnmounted, onUpdated, ref } from 'vue';
import Dropdown from 'primevue/dropdown';
import Calendar from 'primevue/calendar';
import Button from 'primevue/button';
import Knob from 'primevue/knob';
import { DeviceService, type DHTHistoricalDTO, type DHTReadingDTO } from '@/api/device.api';
import type { AxiosError, AxiosResponse } from 'axios';
import type { ErrorDTO } from '@/api/common.api';
import 'zingchart/es6'; 
import 'zingchart/modules-es6/zingchart-depth.min.js';
import ProgressBar from 'primevue/progressbar';
import DHTView_MainChart from './DHTView_MainChart.vue';
// @ts-ignore
import ZingChartVue from 'zingchart-vue';
import DHTView_MainCurrent from './DHTView_MainCurrent.vue';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';

//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    deviceId: number
}

const props = defineProps<Props>();
const loading = ref(false);
const lastFetchTime = ref<Date | undefined>(undefined);
const lastFetchedText = ref("Fetching the latest data just for you...");

const componentChart = ref<InstanceType<typeof DHTView_MainChart> | undefined>();
const componentCurrent = ref<InstanceType<typeof DHTView_MainCurrent> | undefined>();

const noData = ref(false);

//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "dht", props.deviceId, -1, (ev: SockNVTResponse) => {
        onGetLatestReading(ev.payload as Array<DHTReadingDTO>);
    });
}

const onGetLatestReading = (data: Array<DHTReadingDTO>) => {
    if (loading.value == true) {
        loading.value = false;
    }

    lastFetchTime.value = new Date();
    lastFetchedText.value = `Last fetched on ${new Date().toLocaleString()}`;

    if (data.length == 0) {
        noData.value = true;
        return;
    } else {
        noData.value = false;
    }

    componentChart.value?.onFetchData(data);
    componentCurrent.value?.onFetchData(data);
}

//-----------------------------------------------------------------------------
// Lifecycle hooks
//-----------------------------------------------------------------------------

onMounted(() => {
    loading.value = true;
    ws.connect();
});

onUnmounted(() => {
    ws.close();
});

</script>

<template>

<div>
    <ProgressBar v-if="loading" mode="indeterminate" style="height: 6px"></ProgressBar>
    <div class="when-fetched">{{ lastFetchedText }}</div>

    <!-- Tab view, when there is data. -->
    <TabView v-show="!noData">
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-eye"></i>
                    <span class="font-bold white-space-nowrap">Right now</span>
                </div>
            </template>
            <DHTView_MainCurrent :loading="loading" ref="componentCurrent" />
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-chart-line"></i>
                    <span class="font-bold white-space-nowrap">Charts</span>
                </div>
            </template>
            <DHTView_MainChart :loading="loading" ref="componentChart" />
        </TabPanel>
    </TabView>

    <!-- Not enough data -->
    <div v-if="noData">
        <div style="text-align: center; font-weight: 400; font-size: 3em; margin-top: 4em; padding-bottom: 4em;">
            Could not fetch recent data.
            <br/>
            Your device may be offline.
        </div>
    </div>

</div>

</template>

<style>
.when-fetched {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
}
</style>