<script setup lang="ts">
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import { onMounted, onUnmounted, onUpdated, ref } from 'vue';
import Dropdown from 'primevue/dropdown';
import Calendar from 'primevue/calendar';
import Button from 'primevue/button';
import Knob from 'primevue/knob';
import { DeviceService, type DHTHistoricalDTO, type DHTReadingDTO } from '@/api/device.api';
import type { AxiosError, AxiosResponse } from 'axios';
import type { ErrorDTO } from '@/api/common.api';
import 'zingchart/es6'; 
import 'zingchart/modules-es6/zingchart-depth.min.js';
import ProgressBar from 'primevue/progressbar';
// @ts-ignore
import ZingChartVue from 'zingchart-vue';


//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    deviceId: number
}

const props = defineProps<Props>();

const loading = ref(false);

//-----------------------------------------------------------------------------
// Historical data preview
//-----------------------------------------------------------------------------

const chartDataHistoricalTemperature = {
    type: "line", 
    'scroll-x': {},
    'scroll-y': {},
    title: { text: "Temperature" }, 
    scaleX: { zooming: true, transform: { type: 'date', all: '%D, %d.%m.%y<br>%h:%i %A' } },  
    series: [ { values : [], text: "Temperature (°C)", scales: 'scale-x, scale-y', lineColor: '#5472D4', } ],
    'crosshair-x': {},
    plot: {
        midPoint: false,
        marker: {
            visible: false,
        },
        aspect: "spline",
        tooltip: {
            text: "At %kt, %vt °C",
        },
    },
    scaleY: { zooming: true, maxItems: 6, lineColor: '#5472D4' },
};

const chartDataHistoricalHumidity = {
    type: "line", 
    aspect: "spline",
    'scroll-x': {},
    'scroll-y': {},
    title: { text: "Humidity" }, 
    scaleX: { zooming: true, transform: { type: 'date', all: '%D, %d.%m.%y<br>%h:%i %A' } },  
    series: [ { values : [], text: "Humidity (%)", scales: 'scale-x, scale-y', lineColor: '#5472D4', } ],
    'crosshair-x': {},
    plot: {
        midPoint: false,
        marker: {
            visible: false,
        },
        aspect: "spline",
        tooltip: {
            text: "At %kt, %vt °C",
        },
    },
    scaleY: { zooming: true, maxItems: 6, lineColor: '#5472D4' },
};

const chartHistoricalTemperature = ref();
const chartHistoricalHumidity = ref();
const shouldDrawHistoricalCharts = ref<boolean>(false);

interface Mode {
    name: string,
    code: string
};

const mode = ref<Array<Mode>>([
    {name: 'Last 6 hours', code: 'mode6h' },
    {name: 'Last 12 hours', code: 'mode12h' },
    {name: 'Last 24 hours', code: 'mode24h' },
    {name: 'Last week', code: 'mode1w' },
    {name: 'Last month', code: 'mode1m' },
    {name: 'Custom', code: 'modeCustom' },
]);

const selectedMode = ref<Mode>(mode.value[0]);
const customDates = ref<[Date, Date]>();
const errorMessage = ref<string>();
const notEnoughData = ref(false);

const onSubmitHistoricalData = () => {
    // Validation (it's too much work to hook this up to vee-validate).

    if (selectedMode.value.code == 'modeCustom') {
        if (customDates.value == undefined || customDates.value[0] == null || customDates.value[1] == null) {
            errorMessage.value = "Please enter a start and end date.";
            return;
        }

        // https://stackoverflow.com/a/15289883
        function dateDiffInDays(a: Date, b: Date) {
            const _MS_PER_DAY = 1000 * 60 * 60 * 24;
            const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
            const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

            return Math.floor((utc2 - utc1) / _MS_PER_DAY);
        }

        if (dateDiffInDays(customDates.value[0], customDates.value[1]) > 31) {
            errorMessage.value = "Date range must be less than 1 month.";
            return;
        }
    }
    loading.value = true;

    errorMessage.value = "";

    let dto: DHTHistoricalDTO = {
        id: props.deviceId,
        mode: selectedMode.value.code,
    }

    if (customDates.value != undefined) {
        dto.date1 = customDates.value[0];
        dto.date2 = customDates.value[1];
    }

    DeviceService.GetDHTHIstorical(dto).then((res: AxiosResponse<Array<DHTReadingDTO>>) => {
        const arr = res.data;
        drawHistoricalGraph(arr);
        loading.value = false;
    }).catch((err: AxiosError<ErrorDTO>) => {
        errorMessage.value = err?.response?.data.message;
        console.error(err);
        loading.value = false;
    });
}

const drawHistoricalGraph = (data: Array<DHTReadingDTO>) => {
    let tempSeries = [];
    let humiditySeries = [];

    if (data.length < 2) {
        notEnoughData.value = true;
        return;
    } else {
        notEnoughData.value = false;
    }

    const round2 = (num: number) => {
        return Math.round((num + Number.EPSILON) * 100) / 100;
    }

    for (let i = 0; i < data.length; i ++) {
        let d = data[i];
        const t = new Date(d.timestamp as unknown as number * 1000).getTime();

        tempSeries.push([ t, round2(d.temperature) ]);
        humiditySeries.push([ t, round2(d.humidity) ]);
    }

    chartHistoricalTemperature.value.setseriesvalues({values: [tempSeries]});
    chartHistoricalHumidity.value.setseriesvalues({values: [humiditySeries]});
    shouldDrawHistoricalCharts.value = true;
}

</script>

<template>

<div>
    <ProgressBar v-if="loading" mode="indeterminate" style="height: 6px"></ProgressBar>

    <!-- Form -->
    <b>Show historical data for </b><Dropdown v-model="selectedMode" :options="mode" optionLabel="name" />
    <template v-if="selectedMode.code == 'modeCustom'">
        <span class="p-float-label">
            <Calendar id="birth_date" v-model="customDates" selectionMode="range" :manualInput="false" showButtonBar showIcon style="margin-left: 1em" placeholder="Enter date range" />
            <label for="birth_date">Enter date range</label>
        </span>
        
        <small class="p-error" id="date-error" style="margin-left: 1em">{{ errorMessage }}</small>
    </template>
    <Button style="margin-left: 1em" icon="pi pi-arrow-right" label="Go" @click="onSubmitHistoricalData" />

    <!-- Resulting graph -->
    <div v-show="shouldDrawHistoricalCharts && !notEnoughData" style="margin-top: 3em"> <!-- Need v-show (not v-if) or else the refs won't get initialized. -->
        <span class="half">
            <ZingChartVue :data="chartDataHistoricalTemperature" ref="chartHistoricalTemperature"/>
        </span>
        <span class="half">
            <ZingChartVue :data="chartDataHistoricalHumidity" ref="chartHistoricalHumidity"/>
        </span>
    </div>
    <!-- Not enough data -->
    <div v-if="notEnoughData">
        <div style="text-align: center; font-weight: 400; font-size: 3em; margin-top: 4em; padding-bottom: 4em;">
            Not enough data. Try a different time interval.
        </div>
    </div>
</div>

</template>