<script setup lang="ts">
import { ref } from 'vue';
import { type DHTReadingDTO } from '@/api/device.api';
import 'zingchart/es6'; 
import 'zingchart/modules-es6/zingchart-depth.min.js';
import ProgressBar from 'primevue/progressbar';
// @ts-ignore
import ZingChartVue from 'zingchart-vue';

//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    loading: boolean
}

const props = defineProps<Props>();

//-----------------------------------------------------------------------------
// Chart
//-----------------------------------------------------------------------------

const chartDataTemperature = {
    type: "line", 
    title: {
        text: "Temperature"
    },
    'scroll-x': {},
    'scroll-y': {},
    scaleX: {
        zooming: true,
        transform: {
            type: 'date',
            all: '%D, %d.%m.%y<br>%h:%i %A'
        },
        
    },  
    series: [  
        {  
            values : [ /* [UNIXTIMESTAMP:number, VALUE:number] */],
            text: "Temperature (°C)",
            scales: 'scale-x, scale-y',
            lineColor: '#5472D4',
        },
    ],
    plot: {
        midPoint: false,
        marker: {
            visible: false,
        },
        aspect: "spline",
        tooltip: {
            text: "At %kt, %vt °C",
        }
    },
    'crosshair-x': {

    },
    scaleY: {
        zooming: true,
        maxItems: 6,
        lineColor: '#5472D4',
    },
};

const chartDataHumidity = {
    type: "line", 
    title: {
        text: "Humidity"
    },
    'scroll-x': {},
    'scroll-y': {},
    scaleX: {
        zooming: true,
        transform: {
            type: 'date',
            all: '%D, %d.%m.%y<br>%h:%i %A'
        }
    },  
    series: [  
        {  
            values : [ /* [UNIXTIMESTAMP:number, VALUE:number] */],
            text: "Humidity (%)",
            scales: 'scale-x, scale-y',
            lineColor: '#5472D4',
        },
    ],
    plot: {
        midPoint: false,
        marker: {
            visible: false,
        },
        aspect: "spline",
        tooltip: {
            text: "At %kt, %vt °C",
        }
    },
    'crosshair-x': {

    },
    scaleY: {
        zooming: true,
        maxItems: 6,
        lineColor: '#5472D4',
    },
};

const chartTemperature = ref();
const chartHumidity = ref();

/**
 * Called by DHTView_Main when it fetches new data from the websocket.
 */
const onFetchData = (data: Array<DHTReadingDTO>) => {
    let tempSeries = [];
    let humiditySeries = [];

    // const maxPointsPerGraph = 100;
    // const stepSize = Math.floor(data.length / maxPointsPerGraph);
    for (let i = 0; i < data.length; i += 1) {
        const d = data[i];
        const t = new Date(d.timestamp).getTime();

        tempSeries.push([ t, d.temperature ]);
        humiditySeries.push([ t, d.humidity ]);
    }

    chartTemperature.value.setseriesvalues({values: [tempSeries]});
    chartHumidity.value.setseriesvalues({values: [humiditySeries]});
}

defineExpose({ onFetchData });

</script>

<template>

<div>
    <span class="half">
        <ZingChartVue :data="chartDataTemperature" ref="chartTemperature"/>
    </span>
    <span class="half">
        <ZingChartVue :data="chartDataHumidity" ref="chartHumidity"/>
    </span>
</div>

</template>

<style>
.half {
    width: 49%;
    display: inline-block;
}
</style>