<script setup lang="ts">
import type { CreateUserDTO, UserDTO } from "@/api/user.api";
import Button from "primevue/button";
import InputText from 'primevue/inputtext';
import { useForm } from 'vee-validate';
import { inject } from "vue";
import * as yup from 'yup';

const formSchema = yup.object({
    email: yup.string().required().email().label("Email"),
    password: yup.string().required().label("Password"),
    passwordConfirm: yup.string().required().oneOf([yup.ref("password")], "Passwords must match!").label("Confirm Password"),
    name: yup.string().required().label("Name"),
    lastName: yup.string().required().label("Last name"),
});
const { defineComponentBinds, handleSubmit, errors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});
const email = defineComponentBinds("email");
const password = defineComponentBinds("password");
const passwordConfirm = defineComponentBinds("passwordConfirm");
const name = defineComponentBinds("name");
const lastName = defineComponentBinds("lastName");

const dialogRef = inject("dialogRef") as any;

const onSubmit = handleSubmit((values) => {
    const user: CreateUserDTO = {
        email: values['email'],
        password: values['password'],
        name: values['name'],
        lastName: values['lastName']
    };
    dialogRef.value.close(user);
});

</script>

<template>
    <div>
        <div class="card flex justify-content-center">
            <form @submit="onSubmit" class="flex flex-column gap-2">
                <div class="field">
                    <div class="p-float-label">
                        <InputText id="email" v-bind="email" type="text" :class="{ 'p-invalid': errors.email }" />
                        <label for="email">Email</label>
                    </div>
                    <small class="p-error">{{ errors.email }}</small>
                </div>
                <div class="field">
                    <div class="p-float-label">
                        <InputText id="password" v-bind="password" type="password"
                            :class="{ 'p-invalid': errors.password }" />
                        <label id="error-password" for="password">Password</label>
                    </div>
                    <small class="p-error">{{ errors.password }}</small>
                </div>
                <div class="field">
                    <div class="p-float-label">
                        <InputText id="passwordConfirm" v-bind="passwordConfirm" type="password"
                            :class="{ 'p-invalid': errors.passwordConfirm }" />
                        <label for="passwordConfirm">Confirm password</label>
                    </div>
                    <small class="p-error">{{ errors.passwordConfirm }}</small>
                </div>
                <div class="field">
                    <div class="p-float-label">
                        <InputText id="name" v-bind="name" type="text" :class="{ 'p-invalid': errors.name }" />
                        <label for="name">Name</label>
                    </div>
                    <small class="p-error">{{ errors.name }}</small>
                </div>
                <div class="field">
                    <div class="p-float-label">
                        <InputText id="lastName" v-bind="lastName" type="text" :class="{ 'p-invalid': errors.lastName }" />
                        <label for="lastName">Last name</label>
                    </div>
                    <small class="p-error">{{ errors.lastName }}</small>
                </div>

                <div class="field">
                    <div class="p-float-label">
                        <Button label="Create user" type="submit" :class="{ 'p-invalid': errors.submit }" />
                    </div>
                    <small class="p-error">{{ errors.submit }}</small>
                </div>
            </form>
        </div>
    </div>
</template>

<style></style>