<script setup lang="ts">
import Button from 'primevue/button';
import { onMounted, ref } from "vue";

import Toast from "primevue/toast";
import TheNavbar from "./components/navbar/TheNavbar.vue";
import { userStore } from '@/store/userStore';

onMounted(() => {
    userStore.refresh();
});

</script>

<template>
    <nav>
        <TheNavbar/>
    </nav>
    <Toast position="top-right"/>
    <Toast position="bottom-right" group="bc">
        <template #message="slotProps">
            <div class="flex flex-column align-items-start" style="flex: 1">
                <div class="flex align-items-center gap-2">
                    <span class="font-bold text-900">{{ slotProps.message.summary }}</span>
                </div>
                <div class="font-medium text-lg my-3 text-900">{{ slotProps.message.detail }}</div>
                <RouterLink to="/passwordchange"><Button severity="warning" class="p-button-sm" label="Change now"></Button></RouterLink>
            </div>
        </template>
    </Toast>
    <Toast position="bottom-center" group="success" />

    <br />

    <RouterView></RouterView></template>

<style scoped></style>