<script setup lang="ts">
import { ref } from 'vue';
import type { AxiosResponse } from 'axios';
import Button from 'primevue/button';
import type { AcLastState } from '@/views/user/ACView.vue';
import Dropdown from 'primevue/dropdown';
import Knob from 'primevue/knob';
import InputNumber from 'primevue/inputnumber';
import ProgressSpinner from 'primevue/progressspinner';
import { v4 as uuidv4 } from 'uuid';
import { AC_Service, ACCommandType, type ACCmdHistoryItemDTO, type ACDTO, type ACConfigItemDTO, type ACConfigDTO } from '@/api/device/ac.api';
import Slider from 'primevue/slider';


interface Props {
    deviceId: number,
    ac: ACDTO | undefined,
    acLastCommandOfEachType: Array<ACCmdHistoryItemDTO>,
    acLastState: AcLastState | undefined,
    loading: boolean
};

const configIndicesEdited = ref<number[]>([]);
const config = ref<ACConfigItemDTO[]>();

const props = defineProps<Props>();

const onNewConfig = (cfgStr: string, uuid: string | undefined) => {
    if (config.value == undefined || uuid != lastCfgCommandId.value) {
        try {
            config.value = JSON.parse(cfgStr);
        } catch {
            config.value = [];
        }
    }
}

const onClickSubmitConfiguration = () => {
    if (config.value != undefined) {
        const dto: ACConfigDTO = {
            id: props.deviceId,
            customMode: config.value,
            uuid: uuidv4()
        };

        AC_Service.setConfig(dto).then((res: AxiosResponse<void>) => {
            waitingForSpinner.value = true;
        }).catch((err) => {
            console.error(err);
        });
    }
}

const onClickAddRow = () => {
    if (config.value != undefined && props.ac != undefined) {
        let newValue: ACConfigItemDTO = {
            startHour: 14,
            endHour: 15,
            mode: props.ac.supportedModes[0],
            temperature: Math.floor((props.ac.minTemperature + props.ac.maxTemperature) / 2)
        };

        if (config.value.length > 0) {
            const last = config.value[config.value.length - 1];
            newValue.startHour = last.endHour;
            newValue.endHour = Math.min(23, newValue.startHour + 1);
            newValue.temperature = last.temperature;
            newValue.mode = last.mode;
        }

        config.value.push(newValue);
        configIndicesEdited.value.push(config.value.length - 1);
    }
}

const onClickRemItem = (item: ACConfigItemDTO) => {
    const index = config.value?.indexOf(item);
    if (index != undefined) {
        config.value?.splice(index, 1);
    }
}


const lastCfgCommandId = ref<string | undefined>(undefined);
const waitingForSpinner = ref<boolean>(false);

const refreshRequestMessage = () => {
    for (let cmd of props.acLastCommandOfEachType) {
        if (cmd.type != ACCommandType.config) {
            continue;
        }

        if (lastCfgCommandId.value != cmd.uuid) {
            lastCfgCommandId.value = cmd.uuid;
            waitingForSpinner.value = false;
        }
    }
}

defineExpose({
    refreshRequestMessage,
    onNewConfig
});

const editConfigItem = (i: number) => {
    configIndicesEdited.value.push(i);
}

const finishEditConfigItem = (i: number) => {
    configIndicesEdited.value = configIndicesEdited.value.filter((n) => n != i);
}

const finishedEditingAllConfigItems = () => {
    return configIndicesEdited.value.length == 0;
}

</script>

<template>
    <div v-if="loading">
        <div style="font-size: 3em; font-weight: 500; text-align: center; margin-top: 3em; padding-bottom: 3em;">Loading the AC configuration...</div>
    </div>
    <div v-else>
        <div v-if="config && config?.length > 0">
            <div v-for="item, i of config" class="box row-item">
                <template v-if="configIndicesEdited.includes(i)">
                    <label for="id-start-hour">Turn on at</label>
                    <InputNumber 
                        id="id-start-hour"
                        style="margin-left: 1em"
                        v-model="item.startHour" 
                        showButtons
                        :min="0"
                        :max="item.endHour"/>
                    <label for="id-end-hour" style="margin-left: 1em"> hours and turn off at</label>
                    <InputNumber    
                        id="id-end-hour"
                        style="margin-left: 1em"
                        v-model="item.endHour" 
                        showButtons
                        :min="item.startHour"
                        :max="23"/>
                    <label style="margin-left: 1em"> hours at </label>
                    <Knob class="inline-knob" ref="inputTemperature" 
                                style="margin-left: 1em"
                                v-model="item.temperature" 
                                valueTemplate="{value}°C"
                                :min="ac?.minTemperature"
                                :max="ac?.maxTemperature" />
                    <label style="margin-left: 1em"> running </label>
                    <Dropdown 
                        style="margin-left: 1em"
                        ref="dropdownMode" 
                        v-model="item.mode"
                        :options="ac?.supportedModes"
                        placeholder="Select mode" />
                        <Button style="margin-left: 1em;" icon="pi pi-check" v-tooltip='"Confirm"' text raised rounded aria-label="Filter" @click="finishEditConfigItem(i);" />
                        <Button style="margin-left: 1em;" icon="pi pi-times" v-tooltip='"Remove"' severity="danger" text raised rounded aria-label="Cancel" @click="onClickRemItem(item); finishEditConfigItem(i);" />
                </template>
                <template v-else>
                    <div>
                        From {{ item.startHour }}:00 to {{ item.endHour }}:00, run at {{ item.temperature }}°C on {{ item.mode }}
                    </div>
                    <Button icon="pi pi-pencil" text raised style="margin-left: 1em;" rounded v-tooltip='"Edit"' @click="editConfigItem(i)" />
                </template>
            </div>

            <br/>
            <br/>
        </div>
        <div v-else>
            <div style="font-size: 2em; font-weight: 400; text-align: center; margin-top: 2em; padding-bottom: 2em;">No configuration (yet)...</div>
        </div>

        <div style=" display: flex; justify-content: center; align-items: center;" >
            <Button
                    icon="pi pi-plus"
                    rounded
                    outlined
                    @click="onClickAddRow" />
        </div>
            <br/>
            <hr/>

            <Button label="Submit new configuration" @click="onClickSubmitConfiguration" :disabled="waitingForSpinner || !finishedEditingAllConfigItems()" />
            <ProgressSpinner v-if="waitingForSpinner" style="width: 40px; height: 40px" strokeWidth="8" />
    </div>

</template>

<style scoped>
.box {
  display: flex;
  align-items: center;
}

.inline-knob {
    display: inline;  
}
</style>