<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { AC_Service, AC_Util } from '@/api/device/ac.api';
import Button from 'primevue/button';
import InputSwitch from 'primevue/inputswitch';
import InputNumber from 'primevue/inputnumber';
import Dropdown from 'primevue/dropdown';
import type { AcLastState } from '@/views/user/ACView.vue';
import { v4 as uuidv4 } from 'uuid';
import Knob from 'primevue/knob';
import ProgressSpinner from 'primevue/progressspinner';
import { type ACDTO, ACCommandType, type ACStartDTO, type ACTemperatureDTO, ACMode, type ACModeDTO, type ACCmdHistoryItemDTO, type ACConfigItemDTO } from '@/api/device/ac.api';
import DeviceLogs from '@/components/device/DeviceLogs.vue';
import ToggleButton from 'primevue/togglebutton';


// BUG:
//      Set custom regime such that one of the config is automatically applied
//      Turn off AC before the config is applied
//      AC will automatically turn on the AC but the UI gets softlocked
// This may become a bigger problem once multiple users start controlling
// the same device at the same time.

interface Props {
    deviceId: number,
    ac: ACDTO | undefined,
    acLastState: AcLastState | undefined,
    acLastCommandOfEachType: Array<ACCmdHistoryItemDTO>,
    acLiveLog: Array<ACCmdHistoryItemDTO> | undefined,
    lastFetchText: string
};
const props = defineProps<Props>();
const emit = defineEmits(["fetchHistoryMeta"]);


const config = ref<ACConfigItemDTO[]>();
const onNewConfig = (cfgStr: string, uuid: string | undefined) => {
    try {
        config.value = JSON.parse(cfgStr);
    } catch {
        config.value = [];
    }
}

const pendingCommandOfEach = ref<Map<ACCommandType, string>>(new Map());
const lastCommandOfEach = ref<Map<ACCommandType, string>>(new Map());

const pushPendingCommand = (type: ACCommandType, uuid: string) => {
    pendingCommandOfEach.value.set(type, uuid);
};

const popPendingCommand = (type: ACCommandType) => {
    pendingCommandOfEach.value.delete(type);
};

const getPendingCommand = (type: ACCommandType): string | undefined => {
    return pendingCommandOfEach.value.get(type);
};

const refreshRequestMessage = () => {
    if (props.acLastCommandOfEachType == undefined || props.acLiveLog == undefined) {
        return;
    }

    // If you find a "failed" command in the live log while the UI is pending
    // for that command, pop it off the pending list.
    //
    // NOTE: If the message goes out of the live log before it gets acknowledged
    // here, the UI won't know and it'll spin forever (until you refresh the page).
    // To fix this, I could keep a queue of all failed commands that gets popped
    // off when acknowledged. 
    if (props.acLiveLog != undefined) {
        for (let cmd of props.acLiveLog) {
            const found = getPendingCommand(cmd.type) == cmd.uuid && cmd.status == false;
            if (found) {
                popPendingCommand(cmd.type);
                revertUI(cmd.type);
            }
        }
    }

    // Given the successful commands of each type, check if its value should be 
    // reflected in the UI. There are 2 cases when that's true.
    //   1) If there is no pending command for that given type. When you refresh
    // the page, you lose pending commands. In that case, as soon as you fetch
    // the newest state, update it inside the UI.
    //   2) If the latest command is the one in the pending map. In that case,
    // the pending command succeeded, so we update the UI accordingly. NOTE: If
    // it could ever happen that 2 commands of the same type are issued at nearly
    // the same time (i.e. if 2 users issue the same type of command in parallel),
    // this won't work for one of the users. As far as I know, there is no easy
    // way to prevent this, because this is essentialy a problem of locking a
    // "thread" across a network connection. Pray it never happens, or add a time
    // limit for all pending commands, so that when the time limit runs out, the
    // command is removed from the pending list.
    //
    // It's worth noting that the commands are all successful, i.e. they are the
    // building blocks of acLastState.
    for (let cmd of props.acLastCommandOfEachType) {
        const uuid_in_mem = pendingCommandOfEach.value.get(cmd.type);
        const uuid_of_this = cmd.uuid;
        let shouldChange = false;

        if (uuid_in_mem != undefined) {
            if (uuid_in_mem == uuid_of_this) {
                popPendingCommand(cmd.type);
                shouldChange = true;
            }
        } else {
            popPendingCommand(cmd.type);
            shouldChange = true;
        }

        // This command was already applied to the UI -> ignore it. That way,
        // the UI won't reset the temperature knob to a value that the AC is
        // running on at the moment.
        if (lastCommandOfEach.value.get(cmd.type) == cmd.uuid) {
            shouldChange = false;
        }
        
        // Perform update.
        if (shouldChange) {
            lastCommandOfEach.value.set(cmd.type, cmd.uuid);

            if (cmd.type == ACCommandType.is_on) {
                onOffChecked.value = cmd.oneOf.isOn!;
            } else if (cmd.type == ACCommandType.temperature) {
                temperature.value = cmd.oneOf.temperature!;
            } else if (cmd.type == ACCommandType.mode) {
                selectedMode.value = cmd.oneOf.mode!;
            } else {
                console.log(cmd);
                const v: ACConfigItemDTO[] = JSON.parse(cmd.oneOf.config!);
            }
        }
    }
};
defineExpose({
    refreshRequestMessage,
    onNewConfig
});

const revertUI = (type: ACCommandType) => {
    if (!props.acLastState) {
        return;
    }

    if (type == ACCommandType.is_on) {
        onOffChecked.value = props.acLastState.is_on;
    } else if (type == ACCommandType.temperature) {
        temperature.value = props.acLastState.temperature;
    } else if (type == ACCommandType.mode) {
        selectedMode.value = props.acLastState.mode;
    }
}

const onOffChecked = ref<boolean>(false);
const onSwitchOnOff = () => {
    if (onOffChecked.value == undefined) {
        return;
    }
    const dto: ACStartDTO = {
        id: props.deviceId,
        start: onOffChecked.value,
        uuid: uuidv4()
    };
    pushPendingCommand(ACCommandType.is_on, dto.uuid);
    AC_Service.setStart(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const temperature = ref<number>(0);
const onClickChangeTemperature = () => {
    if (temperature.value == undefined) {
        return;
    }
    const dto: ACTemperatureDTO = {
        id: props.deviceId,
        temperature: temperature.value,
        uuid: uuidv4()
    };
    pushPendingCommand(ACCommandType.temperature, dto.uuid);
    AC_Service.setTemperature(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const selectedMode = ref<ACMode>(ACMode.cool);
const onClickChangeMode = () => {
    if (selectedMode.value == undefined) {
        return;
    }
    const dto: ACModeDTO = {
        id: props.deviceId,
        mode: selectedMode.value,
        uuid: uuidv4()
    };
    pushPendingCommand(ACCommandType.mode, dto.uuid);
    AC_Service.setMode(dto)
        .then(() => { })
        .catch((err) => {
            console.error(err);
        });
}

const switchOnOff = ref<InstanceType<typeof InputSwitch> | null>();
const inputTemperature = ref<InstanceType<typeof InputNumber> | null>();
const dropdownMode = ref<InstanceType<typeof Dropdown> | null>();

</script>

<template>
    <div style="text-align: center; font-size: 2em; font-weight: 500; margin-bottom:1em; opacity: 50%;">{{ lastFetchText }}</div>
    <div class="flex">
        <div class="flex-1">
            <div class="centered">
                <ToggleButton 
                    ref="switchOnOff" 
                    @change="onSwitchOnOff"
                    v-model="onOffChecked"
                    :disabled="getPendingCommand(ACCommandType.is_on) != undefined" 
                    onLabel="" onIcon="pi pi-power-off" 
                    offLabel="" offIcon="pi pi-power-off"
                    class="ac-toggle-button"
                     />
                <ProgressSpinner 
                    v-if="switchOnOff?.$props.disabled"
                    style="width: 40px; height: 40px" strokeWidth="8" />
            </div>
            <div class="centered" style="margin-top:2em">
                <Knob ref="inputTemperature" 
                    v-model="temperature" 
                    valueTemplate="{value}°C"
                    :size="225"
                    :strokeWidth="10"
                    :min="ac?.minTemperature"
                    :max="ac?.maxTemperature" 
                    :disabled="getPendingCommand(ACCommandType.temperature) != undefined" />
                <Button @click="onClickChangeTemperature" 
                    label="Set temperature"
                    :disabled="getPendingCommand(ACCommandType.temperature) != undefined" />
                <ProgressSpinner 
                    v-if="inputTemperature?.$props.disabled" 
                    style="width: 40px; 
                    height: 40px" 
                    strokeWidth="8" />
            </div>
            <div class="centered">
                <Dropdown 
                    ref="dropdownMode" 
                    v-model="selectedMode" 
                    :options="ac?.supportedModes" 
                    placeholder="Select mode"
                    :disabled="getPendingCommand(ACCommandType.mode) != undefined" />
                <br/>
                <Button 
                    @click="onClickChangeMode"
                    label="Set mode"
                    :disabled="getPendingCommand(ACCommandType.mode) != undefined" />
                <ProgressSpinner 
                    v-if="dropdownMode?.$props.disabled"
                    style="width: 40px; 
                    height: 40px" 
                    strokeWidth="8" />
            </div>
        </div>

        <DeviceLogs :live-log="acLiveLog" :message-func="AC_Util.toHumanText"></DeviceLogs>
    </div>
</template>

<style>
.centered {
    margin-left: auto;
    margin-right: auto;
}

.ac-toggle-button {
    width: 96px;
    height: 96px;
    border-radius: 100%;
}
.ac-toggle-button > .pi {
    font-size: 2.5em;
    font-weight: bolder;
}

.invisible, .invisible * {
    visibility: hidden;
}
</style>