<script setup lang="ts">

import { PropertyDTOProp, PropertyService } from '@/api/property.api';
import PropertySummaryClient from '@/components/property/PropertySummaryClient.vue';
import Button from "primevue/button";
import { onMounted, ref } from 'vue';
import ProgressBar from 'primevue/progressbar';
import ScrollTop from 'primevue/scrolltop';
import ProgressSpinner from 'primevue/progressspinner';

const approvedProperties= ref<Array<PropertyDTOProp>>([]);

const loading = ref(false);
const loadedAll = ref(false);
const pageIndex = ref(0);
const load = () => {
    loading.value = true;
    PropertyService.getDirectlyOwnedApproved(pageIndex.value, 10).then((res) => {
        approvedProperties.value = approvedProperties.value.concat(res.data);
        pageIndex.value += 1;
        loading.value = false;
        if (res.data.length == 0) {
            loadedAll.value = true;
        }
    }).catch((err) => {
        loading.value = false;
    });
}

onMounted(() => {
    load();
})

</script>

<template>
    <ProgressBar mode="indeterminate" style="height: 6px" v-if="loading" />
    <!-- When properties exist. -->

    <div v-if="approvedProperties.length > 0">
        <template v-for="prop in approvedProperties" v-bind:key="prop.id">
            <PropertySummaryClient :property="prop" />
        </template>

        <div class="centered2">
            <div v-if="loadedAll">
                <div style="font-weight: 500;">
                    All of your properties have been loaded.
                </div>
            </div>
            <div v-else>
                <Button @click="load">Load more</Button>
                <ProgressSpinner v-if="loading" style="width: 3em; height: 3em;" strokeWidth="8"/>
            </div>
        </div>
    </div>

    <!-- When no properties. -->

    <div v-else>
        <div class="centered">
            <img src="/img_no_property.png" />
            <div class="big-text-middle">
                You have no properties registered.
            </div>
            <RouterLink to="/property/request">
                <Button label="Request Property" class="mr-1" />
            </RouterLink>
        </div>
    </div>
    <ScrollTop />
</template>

<style>
.centered2 {
    display: flex;
    justify-content: center;
}

.centered2 .p-progress-spinner {
    margin-left: 0;
    margin-right: 0;
}

.centered {
    text-align: center;
}

.centered img {
    margin-top: 2em;
}

.centered Button {
    margin-top: 2em;
    margin-bottom: 4em;
}

.big-text-middle {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
</style>