<script setup lang="ts">
import { onMounted, onUnmounted, ref } from 'vue';
import { AC_Service } from '@/api/device/ac.api';
import { ACCommandType, ACMode, type ACDTO, type ACCmdHistoryItemDTO } from '@/api/device/ac.api';
import type { AxiosResponse } from 'axios';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import { AuthService } from '@/api/auth.api';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import ProgressBar from 'primevue/progressbar';

import ACView_Main from '@/components/device/ACViewComponents/ACView_Main.vue';
import ACView_History from '@/components/device/ACViewComponents/ACView_History.vue';
import ACView_Config from '@/components/device/ACViewComponents/ACView_Config.vue';
import DevicePermission from '@/components/device/DevicePermission.vue';
import DeviceAvailability from '@/components/device/DeviceAvailability.vue';

//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    deviceId: number,
    hasOwnership: boolean,
}

const props = defineProps<Props>();
const loading = ref(false);
const lastFetchString = ref("Fetching the latest data just for you...");

//-----------------------------------------------------------------------------
// Data
//-----------------------------------------------------------------------------

export interface AcLastState {
    is_on: boolean,
    mode: ACMode,
    temperature: number,
    config: string
};



const ac = ref<ACDTO>();
const acLastState = ref<AcLastState>();
const acLastCommandOfEachType = ref<Array<ACCmdHistoryItemDTO>>([]);
const acLiveLog = ref<Array<ACCmdHistoryItemDTO>>([]);
//const acHistoryMeta = ref<ACCommandHistoryMetaDTO>();

onMounted(() => {
    AC_Service.get(props.deviceId).then((res: AxiosResponse<ACDTO>) => {
        const payload = res.data;
        ac.value = payload;
    }).catch((err) => {
        console.error(err);
    })
});

//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "ac_state", props.deviceId, -1, (ev: SockNVTResponse) => {
        loading.value = false;
        lastFetchString.value = `Last fetched on ${new Date().toLocaleString()}`;

        const d = ev.payload as Array<ACCmdHistoryItemDTO>;
        acLastCommandOfEachType.value = d;
        let cfgUuid: string | undefined = undefined;

        if (acLastState.value == undefined) {
            acLastState.value = {
                is_on: false,
                config: "",
                mode: ACMode.auto,
                temperature: 0
            };
        }

        for (let p of d) {
            if (p.type == ACCommandType.is_on) {
                acLastState.value.is_on = p.oneOf.isOn!;
            } else if (p.type == ACCommandType.temperature) {
                acLastState.value.temperature = p.oneOf.temperature!;
            } else if (p.type == ACCommandType.mode) {
                acLastState.value.mode = p.oneOf.mode!;
            } else if (p.type == ACCommandType.config) {
                acLastState.value.config = p.oneOf.config!;
                cfgUuid = p.uuid;
            } else {
                console.error(`Unknown AC device state [${p.type}]`);
            }
        }

        acViewMain.value?.onNewConfig(acLastState.value.config, cfgUuid);
        acViewConfig.value?.onNewConfig(acLastState.value.config, cfgUuid);
    });
    
    ws.subscribe(AuthService.getId(), "ac_livelog", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<ACCmdHistoryItemDTO>;
            acLiveLog.value = d;
            acViewMain.value?.refreshRequestMessage();
            acViewConfig.value?.refreshRequestMessage();
    });
}

onMounted(() => {
    ws.connect();
});


onMounted(() => {
    loading.value = true;
});

onUnmounted(() => {
    ws.close();
});

const acViewMain = ref<InstanceType<typeof ACView_Main> | null>();
const acViewConfig = ref<InstanceType<typeof ACView_Config> | null>();

</script>

<template>
    <ProgressBar v-if="loading" mode="indeterminate" style="height: 6px"></ProgressBar>
    <TabView>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-home"></i>
                    <span class="font-bold white-space-nowrap">Live</span>
                </div>
            </template>
            <ACView_Main 
                ref="acViewMain"
                :device-id="props.deviceId" 
                :ac="ac"
                :ac-last-command-of-each-type="acLastCommandOfEachType" 
                :ac-last-state="acLastState"
                :ac-live-log="acLiveLog"
                :lastFetchText="lastFetchString"></ACView_Main>
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-history"></i>
                    <span class="font-bold white-space-nowrap">History</span>
                </div>
            </template>
            <ACView_History 
                :device-id="props.deviceId" 
                :ac="ac" 
                :ac-last-state="acLastState"></ACView_History>
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-cog"></i>
                    <span class="font-bold white-space-nowrap">Configuration</span>
                </div>
            </template>
            <ACView_Config 
                ref="acViewConfig" 
                :ac-last-command-of-each-type="acLastCommandOfEachType"
                :device-id="props.deviceId" 
                :ac="ac" 
                :ac-last-state="acLastState"
                :loading="loading"></ACView_Config>
        </TabPanel>
        <TabPanel v-if="hasOwnership">
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-users"></i>
                    <span class="font-bold white-space-nowrap">Share</span>
                </div>
            </template>
            <DevicePermission 
                :device-id="props.deviceId" />
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-chart-bar"></i>
                    <span class="font-bold white-space-nowrap">Online stats</span>
                </div>
            </template>
            <DeviceAvailability :device-id="props.deviceId" />
        </TabPanel>
    </TabView>
</template>