<script setup lang="ts">
import { PropertyService, type PropertyDTO } from '@/api/property.api';
import AddDeviceIcon from '@/components/device/AddDeviceIcon.vue';
import Button from 'primevue/button';
import { useRoute, useRouter } from 'vue-router';
import { map } from '@/components/device/AddDeviceMap';
import AddDeviceDefault from '@/components/device/AddDeviceDefault.vue';
import AddAC from '@/components/device/AddAC.vue';
import { onMounted, ref } from 'vue';
import { DeviceType, deviceTypeToHumanText } from '@/api/device.api';
import AddGate from '@/components/device/AddGate.vue';
import AddWashMachine from '@/components/device/AddWashMachine.vue';
import Breadcrumb from 'primevue/breadcrumb';

const route = useRoute();
const router = useRouter();
const type: string = route.params.type as string;

if (Object.values(DeviceType).map((t) => t.toString()).find((t) => t == type) == undefined) {
    router.push("/")
}

const name = map.get(type)?.label;
const propertyId: number = route.params.propertyId as unknown as number;

const accessControlCheck = () => {
    PropertyService.GetApproved(propertyId).catch(() => {
        router.push("/")
    });
}


const property = ref<PropertyDTO>();

const home = ref({
    icon: 'pi pi-home',
    route: '/'
});
const items = ref<object[] | undefined>(undefined);

const breadcrumbsUpdate = () => {
    items.value = [
        { label: 'Properties', route: '/' },
        { label: `${property.value?.type} ${property.value?.id}`, route: `/property/${property.value?.id}` },
        { label: `Add new ${deviceTypeToHumanText(DeviceType[type as keyof typeof DeviceType])}`,  },
    ]   
}

onMounted(() => {
    accessControlCheck();

    PropertyService.Get(propertyId).then((res) => {
        property.value = res.data;
        breadcrumbsUpdate();
    });
})
</script>

<template>
<Breadcrumb :home="home" :model="items">
    <template #item="{ item, props }">
        <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
            <a :href="href" v-bind="props.action" @click="navigate">
                <span :class="[item.icon, 'text-color']" />
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </router-link>
        <a v-else :href="item.url" :target="item.target" v-bind="props.action">
            <span class="text-color">{{ item.label }}</span>
        </a>
    </template>
</Breadcrumb>

<div class="add-device-view-container">
    <div id="AddDeviceRoot_Header">
        <AddDeviceIcon :type="type" :renderOwnBgColor="true" />
    </div>

    <div>
        <AddDeviceDefault v-if="type == 'dht'" />
        <AddAC v-else-if="type == 'ac'" />
        <AddWashMachine v-else-if="type == 'wash'" />

        <AddDeviceDefault v-else-if="type == 'lamp'" />
        <AddGate v-else-if="type == 'gate'" />
        <AddDeviceDefault v-else-if="type == 'sprinkler'" />

        <AddDeviceDefault v-else-if="type == 'battery'" />
        <AddDeviceDefault v-else-if="type == 'solar'" />
        <AddDeviceDefault v-else-if="type == 'charger'" />
        <template v-else />
    </div>
</div>
</template>

<style scoped> 
#AddDeviceRoot_Header {
    width: 100px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}
</style>