<script setup lang="ts">
import { CountryService, type CountryWithCitiesDTO } from '@/api/country.api';
import { PropertyService, PropertyType, type CreatePropertyRequestDTO } from '@/api/property.api';
import { file2Base64 } from '@/util/base64';
import { LMap, LMarker, LTileLayer } from '@vue-leaflet/vue-leaflet';
import "leaflet/dist/leaflet.css";
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import FileUpload from 'primevue/fileupload';
import InputNumber from 'primevue/inputnumber';
import InputText from 'primevue/inputtext';
import { useToast } from 'primevue/usetoast';
import { useForm } from 'vee-validate';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import * as yup from 'yup';
import Breadcrumb from 'primevue/breadcrumb';
import SelectButton from 'primevue/selectbutton';


const toast = useToast();
const router = useRouter();

let imageBase64: string = "";
const formSchema = yup.object({
    type: yup.string().required().label("Type"),
    city: yup.string().required().label("City"),
    address: yup.string().required().label("Address"),
    size: yup.number().required().min(0).label("Size"),
    floors: yup.number().integer().required().min(0).label("Floors"),
    image: yup.object().test("", "Please upload an image.", () => imageBase64 != "")
});

const { defineComponentBinds, handleSubmit, resetForm, errors, setErrors } = useForm({
    validationSchema: formSchema,
    initialErrors: {}
});

const type = defineComponentBinds('type');
const city = defineComponentBinds('city');
const address = defineComponentBinds('address');
const size = defineComponentBinds('size');
const floors = defineComponentBinds('floors');
const image = defineComponentBinds('image');
const imageFname = ref<string | undefined>(undefined);

const citiesGroupedByCountries = ref<CountryWithCitiesDTO[] | undefined>()

onMounted(async () => {
    CountryService.GetAll().then(res => {
        citiesGroupedByCountries.value = res.data;
    });
});

const onUpload = async (e: any) => {
    const f: File = e.files[0];
    if (f.size > 1024 * 1024 * 5) {
        // If we test here instead of the yup schema, we don't have to convert to b64, so it's faster.
        setErrors({ "image": "File too large. Must be less than 5MB." });
        return;
    }
    if (!['image/jpeg', 'image/png'].includes(f.type)) {
        setErrors({ "image": "File must be .jpg or .png." });
        return;
    }
    imageBase64 = await file2Base64(f);
    imageFname.value = URL.createObjectURL(f);
};

const onClickAdd = handleSubmit(values => {
    const data: CreatePropertyRequestDTO = {
        type: values['type'],
        address: values['address'],
        cityId: values['city'],
        size: values['size'],
        floors: values['floors'],
        location: {
            latitude: coordinates.value[0],
            longitude: coordinates.value[1],
        },
        imageB64: imageBase64,
    };
    PropertyService.CreatePropertyRequest(data)
        .then(async () => {
            toast.add({ severity: 'success', summary: 'Success', detail: 'Successfully requested property', life: 2500, group: 'success' });
            router.push({ path: '/' });
        })
        .catch(err => {
            console.error(err);
        });
})

const zoom = ref(11);
const coordinates = ref<[number, number]>([45.2396, 19.8227])

// Type inferred from usage... Thanks VSCode
const updateMarkerCoords = (e: { latlng: { lat: number; lng: number; }; }) => {
    coordinates.value = [e.latlng.lat, e.latlng.lng]
}

const home = ref({
    icon: 'pi pi-home',
    route: '/'
});
const items = ref<object[] | undefined>(undefined);

const breadcrumbsUpdate = () => {
    items.value = [
        { label: 'Request new property', route: '/property/request' },
    ]   
}

onMounted(() => {
    breadcrumbsUpdate();
});

</script>

<template>
    <Breadcrumb :home="home" :model="items">
        <template #item="{ item, props }">
            <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
                <a :href="href" v-bind="props.action" @click="navigate">
                    <span :class="[item.icon, 'text-color']" />
                    <span class="text-primary font-semibold">{{ item.label }}</span>
                </a>
            </router-link>
            <a v-else :href="item.url" :target="item.target" v-bind="props.action">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </template>
    </Breadcrumb>

    <div class="flex gap-5 main-container">
        <!-- Map -->
        <div class="map-container">
            <!-- Have to use use-global-leaflet="false" otherwise the map doesn't work for some reason -->
            <LMap class="map" :center="[45.2396, 19.8227]" :zoom="zoom" :use-global-leaflet="false" @click="updateMarkerCoords">
                <LTileLayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" layer-type="base"
                    name="OpenStreetMap" />
                <LMarker :lat-lng="coordinates" draggable @move="updateMarkerCoords" />
            </LMap>
        </div>
        
        <!-- Form -->
        <form @submit="onClickAdd" class="flex flex-column gap-5">
            <div class="flex flex-row gap-5">
                <div class="flex flex-column gap-5">
                    <div>
                        <div class="p-float-label">
                            <SelectButton 
                                v-bind="type"
                                :options="Object.values(PropertyType)"
                                aria-labelledby="basic"
                                :class="{ 'p-invalid': errors.type }"
                                class="w-full" 
                            />
                        </div>
                        <small class="p-error">{{ errors.type }}</small>
                    </div>
                    <div>
                        <div class="p-float-label">
                            <Dropdown 
                                id="city"
                                v-bind="city"
                                :options="citiesGroupedByCountries"
                                :loading="citiesGroupedByCountries ? false : true"
                                option-label="name"
                                option-value="id"
                                option-group-label="name"
                                option-group-children="cities"
                                :class="{ 'p-invalid': errors.city }"
                                class="w-full">  
                            </Dropdown>
                            <label for="city">City</label>
                        </div>
                        <small class="p-error">{{ errors.city }}</small>
                    </div>
                    <div>
                        <div class="p-float-label">
                            <InputText id="address" v-bind="address" :class="{ 'p-invalid': errors.address }"
                                class="w-full" />
                            <label for="address">Address</label>
                        </div>
                        <small class="p-error">{{ errors.address }}</small>
                    </div>
                    <div class="flex gap-5">
                        <div>
                            <div class="p-float-label">
                                <InputNumber id="size" :min-fraction-digits="0" :max-fraction-digits="2" v-bind="size"
                                    :min="0" :class="{ 'p-invalid': errors.size }" class="w-full" />
                                <label for="size"><span>Size (m<sup>2</sup>)</span></label>
                            </div>
                            <small class="p-error">{{ errors.size }}</small>
                        </div>
                        <div>
                            <div class="p-float-label">
                                <InputNumber id="floors" v-bind="floors" :min="0" :class="{ 'p-invalid': errors.floors }"
                                    class="w-full" />
                                <label for="floors">Floors</label>
                            </div>
                            <small class="p-error">{{ errors.floors }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-center">
                <Button label="Request Property" type="submit" :class="{ 'p-invalid': errors.submit }" />
                <small class="p-error">{{ errors.submit }}</small>
            </div>
        </form>
        <div class="field col-6" style="max-height: 380px; max-width: 400px;">
            <div class="p-float-label">
                <span id="image">Image</span>
                <FileUpload mode="basic" name="demo[]" accept="image/*" :maxFileSize="5_000_000_000" :auto="true"
                    chooseLabel="Browse" :customUpload="true" @uploader="onUpload" />
            </div>
            <small class="p-error">{{ errors.image }}</small>
            <img v-if="imageFname" :src="imageFname" class="image-size" />
            <img v-else src="/noimage.jpg" class="image-size" />
        </div>
    </div>
</template>

<style scoped>

.main-container {
    margin: 32px;
    background: var(--surface-0);
    padding: 32px;
}

.map-container {
    height:600px; 
    width:800px;
    background: var(--surface-100);
    padding: 16px;
}

.map {
    border-radius: 32px;
    z-index: 500;
}

.leaflet-control-attribution {
    display: none;
}
</style>