<script setup lang="ts">
import { DeviceService, type DeviceMetaDTO, deviceTypeToHumanText, DeviceType } from '@/api/device.api';
import type { AxiosResponse } from 'axios';
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import DHTView from '@/views/user/DHTView.vue';
import ACView from '@/views/user/ACView.vue';
import LampView from './LampView.vue';
import GateView from './GateView.vue';
import WashMachineView from './WashMachineView.vue'
import Breadcrumb from 'primevue/breadcrumb';
import { PropertyType } from '@/api/property.api';
import SprinklersView from './SprinklersView.vue';

const route = useRoute();
const router = useRouter();

const id: number = +((route.params.id as unknown) as number); // + is needed.
let propertyId = ref<number>(-1);
let propertyType = ref<PropertyType>();
let hasOwnership = ref<boolean>(false);
let type = ref<DeviceType>();

const home = ref({
    icon: 'pi pi-home',
    route: '/'
});
const items = ref<object[] | undefined>(undefined);

const breadcrumbsUpdate = () => {
    items.value = [
        { label: 'Properties', route: '/' },
        { label: `${propertyType.value} ${propertyId.value}`, route: `/property/${propertyId.value}` },
        { label: `${deviceTypeToHumanText(type.value)} ${id}`, route: `/device/${id}` },
    ]   
}

//-----------------------------------------------------------------------------
// Lifecycle hooks
//-----------------------------------------------------------------------------

onMounted(() => {
    DeviceService.GetDeviceMeta(id)
    .then((res: AxiosResponse<DeviceMetaDTO>) => {
        propertyId.value = res.data.propertyId;
        propertyType.value = (res.data.propertyType);
        type.value = res.data.type;
        hasOwnership.value = res.data.owned;
        
        breadcrumbsUpdate();
    })
    .catch((err) => {
        router.push("/");
    });
});

</script>
<template>


<Breadcrumb :home="home" :model="items">
    <template #item="{ item, props }">
        <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
            <a :href="href" v-bind="props.action" @click="navigate">
                <span :class="[item.icon, 'text-color']" />
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </router-link>
        <a v-else :href="item.url" :target="item.target" v-bind="props.action">
            <span class="text-color">{{ item.label }}</span>
        </a>
    </template>
</Breadcrumb>


<template v-if="type == 'dht'"><DHTView :deviceId="id" :hasOwnership="hasOwnership" /></template>
<template v-else-if="type == 'ac'"><ACView :deviceId="id" :hasOwnership="hasOwnership" /></template>
<template v-else-if="type == 'lamp'"><LampView :deviceId="id" :hasOwnership="hasOwnership" /></template>
<template v-else-if="type == 'gate'"><GateView :deviceId="id" :hasOwnership="hasOwnership" /></template>
<template v-else-if="type == 'wash'"><WashMachineView :deviceId="id" :hasOwnership="hasOwnership" /></template>
<template v-else-if="type == 'sprinkler'"><SprinklersView :deviceId="id" :hasOwnership="hasOwnership" /></template>
<template v-else></template>

</template>