<script setup lang="ts">
import DHTView_Main from '@/components/device/DHTViewComponents/DHTView_Main.vue';
import DHTVIew_HistoryVue from '@/components/device/DHTViewComponents/DHTVIew_History.vue';
import DevicePermission from '@/components/device/DevicePermission.vue';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import DeviceAvailability from '@/components/device/DeviceAvailability.vue';

interface Props {
    deviceId: number,
    hasOwnership: boolean,
}

const props = defineProps<Props>();

</script>

<template>
    <TabView>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-home"></i>
                    <span class="font-bold white-space-nowrap">Live</span>
                </div>
            </template>
            <DHTView_Main :device-id="deviceId" />
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-history"></i>
                    <span class="font-bold white-space-nowrap">History</span>
                </div>
            </template>
            <DHTVIew_HistoryVue :device-id="deviceId" />
        </TabPanel>
        <TabPanel v-if="hasOwnership">
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-users"></i>
                    <span class="font-bold white-space-nowrap">Share</span>
                </div>
            </template>
            <DevicePermission :device-id="props.deviceId" />
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-chart-bar"></i>
                    <span class="font-bold white-space-nowrap">Online stats</span>
                </div>
            </template>
            <DeviceAvailability :device-id="props.deviceId" />  
        </TabPanel>
    </TabView>
</template>