<script setup lang="ts">
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import GateView_Main from '@/components/device/GateViewComponents/GateView_Main.vue';
import GateView_CommandHistory from '@/components/device/GateViewComponents/GateView_CommandHistory.vue';
import { onMounted, onUnmounted, ref } from 'vue';
import type { AxiosResponse } from 'axios';
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import { GateOpen, GateMode, GateOverride, type GateDTO, GateCommandType, GateSensorEvent, type GateCmdHistoryItemDTO, Gate_Service } from '@/api/device/gate.api';
import DevicePermission from '@/components/device/DevicePermission.vue';
import DeviceAvailability from '@/components/device/DeviceAvailability.vue';

interface Props {
    deviceId: number,
    hasOwnership: boolean,
}
const props = defineProps<Props>();

export interface GateLastState {
    open_state: GateOpen,
    mode: GateMode,
    override: GateOverride,
    plates_entry: string,
    plates_exit: string,
}

const gateLiveLog = ref<Array<GateCmdHistoryItemDTO>>();
const gateLastState = ref<GateLastState>();
const gateLastCommandOfEachType = ref<Array<GateCmdHistoryItemDTO>>([]);

const gate = ref<GateDTO>();

onMounted(() => {
    Gate_Service.get(props.deviceId).then((res: AxiosResponse<GateDTO>) => {
        const payload = res.data;
        gate.value = payload;
    }).catch((err) => {
        console.error(err);
    })
});

//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "gate_state", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<GateCmdHistoryItemDTO>;
        gateLastCommandOfEachType.value = d;

        if (gateLastState.value == undefined) {
            gateLastState.value = {
                open_state: GateOpen.CLOSED,
                mode: GateMode.PRIVATE,
                plates_entry: "",
                plates_exit: "",
                override: GateOverride.NO,
            };
        }

        for (let p of d) {
            if (p.type == GateCommandType.open_state) {
                gateLastState.value.open_state = p.oneOf.openState!;
            } else if (p.type == GateCommandType.mode) {
                gateLastState.value.mode = p.oneOf.mode!;
            }
            else if (p.type == GateCommandType.override) {
                gateLastState.value.override = p.oneOf.override!;
            }
            else if (p.type == GateCommandType.sensor_exit) {
                gateLastState.value.plates_exit = p.oneOf.event === GateSensorEvent.ARRIVED ? p.oneOf.plate! : ""
            }
            else if (p.type == GateCommandType.sensor_entry) {
                gateLastState.value.plates_entry = p.oneOf.event === GateSensorEvent.ARRIVED ? p.oneOf.plate! : ""
            } else {
                console.error(`Unknown Gate device state ${p}`);
            }
        }
    });

    ws.subscribe(AuthService.getId(), "gate_livelog", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<GateCmdHistoryItemDTO>;
        gateLiveLog.value = d;
        gateViewMain.value?.refreshRequestMessage();
    });
}

onMounted(() => {
    ws.connect();
});

onUnmounted(() => {
    ws.close();
});

const gateViewMain = ref<InstanceType<typeof GateView_Main> | null>();

</script>

<template>
<TabView>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-home"></i>
                <span class="font-bold white-space-nowrap">Live</span>
            </div>
        </template>
        <GateView_Main
            ref="gateViewMain"
            :gate="gate"
            :device-id="deviceId"
            :gate-last-state="gateLastState"
            :gate-last-command-of-each-type="gateLastCommandOfEachType"
            :gate-live-log="gateLiveLog" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-history"></i>
                <span class="font-bold white-space-nowrap">History</span>
            </div>
        </template>
        <GateView_CommandHistory :device-id="deviceId" />
    </TabPanel>
    <TabPanel v-if="hasOwnership">
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-users"></i>
                <span class="font-bold white-space-nowrap">Share</span>
            </div>
        </template>
        <DevicePermission 
            :device-id="props.deviceId" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-chart-bar"></i>
                <span class="font-bold white-space-nowrap">Online stats</span>
            </div>
        </template>
        <DeviceAvailability :device-id="props.deviceId" />
    </TabPanel>
</TabView>
</template>