<script setup lang="ts">
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import LampView_Main from '@/components/device/LampViewComponents/LampView_Main.vue';
import LampView_CommandHistory from '@/components/device/LampViewComponents/LampView_CommandHistory.vue';
import { DeviceService } from '@/api/device.api';
import { LampCommandType, LampMode, Lamp_Service, Lamp_Util, type LampCmdHistoryItemDTO } from '@/api/device/lamp.api';
import { onMounted, onUnmounted, ref } from 'vue';
import type { AxiosResponse } from 'axios';
import LampView_MeasurementHistory from '@/components/device/LampViewComponents/LampView_MeasurementHistory.vue';
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import DevicePermission from '@/components/device/DevicePermission.vue';
import DeviceAvailability from '@/components/device/DeviceAvailability.vue';

interface Props {
    deviceId: number,
    hasOwnership: boolean,
}
const props = defineProps<Props>();

export interface LampLastState {
    is_on: boolean,
    mode: LampMode,
    threshold: number,
}

const lampLiveLog = ref<Array<LampCmdHistoryItemDTO>>();
const lampLastState = ref<LampLastState>();
const lampLastCommandOfEachType = ref<Array<LampCmdHistoryItemDTO>>([]);

//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "lamp_state", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<LampCmdHistoryItemDTO>;
        lampLastCommandOfEachType.value = d;

        if (lampLastState.value == undefined) {
            lampLastState.value = {
                is_on: false,
                mode: LampMode.MANUAL,
                threshold: 0,
            };
        }

        for (let p of d) {
            if (p.type == LampCommandType.is_on) {
                lampLastState.value.is_on = p.oneOf.isOn!;
            } else if (p.type == LampCommandType.mode) {
                lampLastState.value.mode = p.oneOf.mode!;
                lampLastState.value.threshold = p.oneOf.threshold!
            } else {
                console.error(`Unknown Lamp device state ${p}`);
            }
        }
    });

    ws.subscribe(AuthService.getId(), "lamp_livelog", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<LampCmdHistoryItemDTO>;
        lampLiveLog.value = d;
        lampViewMain.value?.refreshRequestMessage();
    });
}

onMounted(() => {
    ws.connect();
});

onUnmounted(() => {
    ws.close();
});

const lampViewMain = ref<InstanceType<typeof LampView_Main> | null>();

</script>

<template>
<TabView>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-home"></i>
                <span class="font-bold white-space-nowrap">Live</span>
            </div>
        </template>
        <LampView_Main
        ref="lampViewMain"
        :device-id="deviceId"
        :lamp-last-state="lampLastState"
        :lamp-last-command-of-each-type="lampLastCommandOfEachType"
        :lamp-live-log="lampLiveLog" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-sun"></i>
                <span class="font-bold white-space-nowrap">Measurements</span>
            </div>
        </template>
        <LampView_MeasurementHistory :device-id="deviceId" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-history"></i>
                <span class="font-bold white-space-nowrap">History</span>
            </div>
        </template>
        <LampView_CommandHistory :device-id="deviceId" />
    </TabPanel>
    <TabPanel v-if="hasOwnership">
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-users"></i>
                <span class="font-bold white-space-nowrap">Share</span>
            </div>
        </template>
        <DevicePermission 
            :device-id="props.deviceId" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-chart-bar"></i>
                <span class="font-bold white-space-nowrap">Online stats</span>
            </div>
        </template>
        <DeviceAvailability :device-id="props.deviceId" />
    </TabPanel>
</TabView>
</template>