<script setup lang="ts">

import { PropertyDTOProp, PropertyService, State, type PropertyDTO } from '@/api/property.api';
import { onMounted, ref } from 'vue';
import PropertySummaryClient from '@/components/property/PropertySummaryClient.vue';
import MyProperties from '@/components/property/home/MyProperties.vue';
import MyPendingProperties from '@/components/property/home/MyPendingProperties.vue';
import PropertiesSharedWithMe from '@/components/property/home/PropertiesSharedWithMe.vue';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import Breadcrumb from 'primevue/breadcrumb';


const approved = ref<Array<PropertyDTOProp>>([]);
const pending = ref<Array<PropertyDTOProp>>([]);
const denied = ref<Array<PropertyDTOProp>>([]);

const refreshPropertyList = () => {
    PropertyService.getPropertiesIHaveAccessTo().then((res) => {
        const data = res.data;
        data.forEach(p => {
            switch (p.status.state) {
                case State.APPROVED:
                    approved.value.push(new PropertyDTOProp(p));
                    break;
                case State.PENDING:
                    pending.value.push(new PropertyDTOProp(p));
                    break;
                case State.DENIED:
                    denied.value.push(new PropertyDTOProp(p));
                    break;
                default:
                    throw new Error("Unrecognized state")
            }
        })
    });
}

onMounted(() => {
    refreshPropertyList();
});

const home = ref({
    icon: 'pi pi-home',
    route: '/'
});
const items = ref<object[] | undefined>(undefined);

const breadcrumbsUpdate = () => {
    items.value = [
        { label: 'Properties', route: '/' },
    ]   
}

onMounted(() => {
    breadcrumbsUpdate();
})


</script>

<template>
    <Breadcrumb :home="home" :model="items">
        <template #item="{ item, props }">
            <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
                <a :href="href" v-bind="props.action" @click="navigate">
                    <span :class="[item.icon, 'text-color']" />
                    <span class="text-primary font-semibold">{{ item.label }}</span>
                </a>
            </router-link>
            <a v-else :href="item.url" :target="item.target" v-bind="props.action">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </template>
    </Breadcrumb>
    
    <TabView>
        <TabPanel header="My properties">
            <MyProperties /> 
        </TabPanel>
        <TabPanel header="Shared with me">
            <PropertiesSharedWithMe /> 
        </TabPanel>
        <TabPanel header="Pending requests">
            <MyPendingProperties /> 
        </TabPanel>
    </TabView>
</template>