<script setup lang="ts">
import { PropertyService, State, type PropertyDTO } from '@/api/property.api';
import "leaflet/dist/leaflet.css";
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import type { ErrorDTO } from '@/api/common.api';
import type { AxiosError } from 'axios';
import Breadcrumb from 'primevue/breadcrumb';

import PropertyDetailsView_Main from '@/components/property/PropertyDetailsViewComponents/PropertyDetailsView_Main.vue';
import PropertyDetailsView_Permission from '@/components/property/PropertyDetailsViewComponents/PropertyDetailsView_Permission.vue';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import { Permission_Service } from '@/api/permission.api';

let property = ref<PropertyDTO>();
let route = useRoute();
let router = useRouter();
const visible = ref(false);
const propertyId = <number>(route.params.propertyId as unknown);
const coordinates = ref<[number, number]>([50, 50]);
const hasPartialPermission = ref<boolean>(false);

const loadProperty = () => {
    PropertyService.Get(propertyId).then((res) => {
        const data = res.data as PropertyDTO;
        property.value = data;
        coordinates.value = [data.location.latitude, data.location.longitude];
        breadcrumbsUpdate();
        iAmTheOwner.value = property.value.share.isShared == false;
    }).catch((err: AxiosError<ErrorDTO>) => {
        if (err.response?.status == 404) {
            router.push("/404");
        }
    });

    Permission_Service.getIfPropertyPartialPermission(propertyId).then((res) => {
        hasPartialPermission.value = res.data.partialPermission;
    });
};

const home = ref({
    icon: 'pi pi-home',
    route: '/'
});
const items = ref();

const breadcrumbsUpdate = () => {
    items.value = [
        { label: 'Properties', route: '/' },
        { label: `${property.value?.type} ${propertyId}`, route: `/property/${propertyId}` },
    ];
};

onMounted(() => {
    loadProperty();
});

const iAmTheOwner = ref<boolean>(false);

</script>

<template>
    <Breadcrumb :home="home" :model="items">
        <template #item="{ item, props }">
            <router-link v-if="item.route" v-slot="{ href, navigate }" :to="item.route" custom>
                <a :href="href" v-bind="props.action" @click="navigate">
                    <span :class="[item.icon, 'text-color']" />
                    <span class="text-primary font-semibold">{{ item.label }}</span>
                </a>
            </router-link>
            <a v-else :href="item.url" :target="item.target" v-bind="props.action">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </template>
    </Breadcrumb>

    <TabView>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-eye"></i>
                    <span class="font-bold white-space-nowrap">Main</span>
                </div>
            </template>
            <PropertyDetailsView_Main 
                :i-am-the-owner="iAmTheOwner" 
                :i-have-onlypartial-property-ownership="hasPartialPermission" />
        </TabPanel>
        <TabPanel v-if="iAmTheOwner && property?.status.state == State.APPROVED">
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-users"></i>
                    <span class="font-bold white-space-nowrap">Share</span>
                </div>
            </template>
            <PropertyDetailsView_Permission :property="property" />
        </TabPanel>
    </TabView>
</template>