<script setup lang="ts">
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import SprinklersView_Main from '@/components/device/SprinklersViewComponents/SprinklersView_Main.vue';
import SprinklersView_CommandHistory from '@/components/device/SprinklersViewComponents/SprinklersView_CommandHistory.vue';
import { SprinklersCommandType, type SprinklersCmdHistoryItemDTO } from '@/api/device/sprinklers.api';
import { onMounted, onUnmounted, ref } from 'vue';
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import DevicePermission from '@/components/device/DevicePermission.vue';
import SprinklersView_Triggers from '@/components/device/SprinklersViewComponents/SprinklersView_Triggers.vue';
import DeviceAvailability from '@/components/device/DeviceAvailability.vue';

interface Props {
    deviceId: number,
    hasOwnership: boolean,
}
const props = defineProps<Props>();

export interface SprinklersLastState {
    isOn: boolean,
    triggers: string
}

const sprinklersLiveLog = ref<Array<SprinklersCmdHistoryItemDTO>>();
const sprinklersLastState = ref<SprinklersLastState>();
const sprinklersLastCommandOfEachType = ref<Array<SprinklersCmdHistoryItemDTO>>([]);
//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "sprinklers_state", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<SprinklersCmdHistoryItemDTO>;
        sprinklersLastCommandOfEachType.value = d;
        let trgUuid: string | undefined = undefined;

        if (sprinklersLastState.value == undefined) {
            sprinklersLastState.value = {
                isOn: false,
                triggers: "",
            };
        }

        for (let p of d) {
            if (p.type == SprinklersCommandType.isOn) {
                sprinklersLastState.value.isOn = p.oneOf.is_on!;
            }
            else if (p.type == SprinklersCommandType.setTriggers) {
                sprinklersLastState.value.triggers = p.oneOf.triggers!;
                trgUuid = p.uuid;
            } else {
                console.error(`Unknown Sprinklers device state ${p}`);
            }
        }
        // sprinklersViewMain.value?.onNewTrigger(acLastState.value.config, cfgUuid);
        sprinklersViewTriggers.value?.onNewTrigger(sprinklersLastState.value.triggers, trgUuid);
    });

    ws.subscribe(AuthService.getId(), "sprinklers_livelog", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<SprinklersCmdHistoryItemDTO>;
        sprinklersLiveLog.value = d;
        sprinklersViewMain.value?.refreshRequestMessage();
        sprinklersViewTriggers.value?.refreshRequestMessage();
    });
}

onMounted(() => {
    ws.connect();
});

onUnmounted(() => {
    ws.close();
});

const sprinklersViewMain = ref<InstanceType<typeof SprinklersView_Main> | null>();
const sprinklersViewTriggers = ref<InstanceType<typeof SprinklersView_Triggers> | null>();

</script>

<template>
<TabView>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-home"></i>
                <span class="font-bold white-space-nowrap">Live</span>
            </div>
        </template>
        <SprinklersView_Main
        ref="sprinklersViewMain"
        :device-id="deviceId"
        :sprinklers-last-state="sprinklersLastState"
        :sprinklers-last-command-of-each-type="sprinklersLastCommandOfEachType"
        :sprinklers-live-log="sprinklersLiveLog" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-history"></i>
                <span class="font-bold white-space-nowrap">History</span>
            </div>
        </template>
        <SprinklersView_CommandHistory :device-id="deviceId" />
    </TabPanel>
    <TabPanel>
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-cog"></i>
                <span class="font-bold white-space-nowrap">Configuration</span>
            </div>
        </template>
        <SprinklersView_Triggers
        ref="sprinklersViewTriggers" 
        :device-id="deviceId"
        :sprinklers-last-command-of-each-type="sprinklersLastCommandOfEachType"
        :sprinklers-last-state="sprinklersLastState"/>
    </TabPanel>
    <TabPanel v-if="hasOwnership">
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-users"></i>
                <span class="font-bold white-space-nowrap">Share</span>
            </div>
        </template>
        <DevicePermission 
            :device-id="props.deviceId" />
    </TabPanel>
    <TabPanel >
        <template #header>
            <div class="flex align-items-center gap-2">
                <i class="pi pi-chart-bar"></i>
                <span class="font-bold white-space-nowrap">Online stats</span>
            </div>
        </template>
        <DeviceAvailability :device-id="props.deviceId" />
    </TabPanel>
</TabView>
</template>