<script setup lang="ts">
import { onMounted, onUnmounted, ref } from 'vue';
import type { AxiosResponse } from 'axios';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import { AuthService } from '@/api/auth.api';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import { WashMachine_Service, WashMachineMode, type WashMachineDTO, type WashMachineCmdHistoryItemDTO, WashMachineCommandType } from '@/api/device/wash-machine.api';
import ProgressBar from 'primevue/progressbar';

import WashMachineView_Main from '@/components/device/WashMachineViewComponents/WashMachineView_Main.vue';
import WashMachineView_History from '@/components/device/WashMachineViewComponents/WashMachineView_History.vue';
import WashMachineView_Schedule from '@/components/device/WashMachineViewComponents/WashMachineView_Schedule.vue';
import DevicePermission from '@/components/device/DevicePermission.vue';
import DeviceAvailability from '@/components/device/DeviceAvailability.vue';

//-----------------------------------------------------------------------------
// Props
//-----------------------------------------------------------------------------

interface Props {
    deviceId: number,
    hasOwnership: boolean,
}

const props = defineProps<Props>();
const loading = ref(false);
const lastFetchString = ref("Fetching the latest data just for you...");

//-----------------------------------------------------------------------------
// Data
//-----------------------------------------------------------------------------

export interface WashMachineLastState {
    mode: WashMachineMode,
};

const wash = ref<WashMachineDTO>();
const washLastState = ref<WashMachineLastState>();
const washLastCommandOfEachType = ref<Array<WashMachineCmdHistoryItemDTO>>([]);
const washLiveLog = ref<Array<WashMachineCmdHistoryItemDTO>>();

onMounted(() => {
    WashMachine_Service.get(props.deviceId).then((res: AxiosResponse<WashMachineDTO>) => {
        const payload = res.data;
        wash.value = payload;
    }).catch((err) => {
        console.error(err);
    })
});

//-----------------------------------------------------------------------------
// Websocket
//-----------------------------------------------------------------------------


const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "wash_state", props.deviceId, -1, (ev: SockNVTResponse) => {
        loading.value = false;
        lastFetchString.value = `Last fetched on ${new Date().toLocaleString()}`;

        const d = ev.payload as Array<WashMachineCmdHistoryItemDTO>;
        washLastCommandOfEachType.value = d;
        let cfgUuid: string | undefined = undefined;

        if (washLastState.value == undefined) {
            washLastState.value = {
                mode: WashMachineMode.off,
            };
        }

        for (let p of d) {
            if (p.type == WashMachineCommandType.mode) {
                washLastState.value.mode = p.oneOf.mode!;
            } else if (p.type == WashMachineCommandType.schedule) {
                // Do nothing...?
            } else if (p.type == WashMachineCommandType.removeSchedule) {
                 // Do nothing...?
            }  else {
                console.error(`Unknown wash machine device state [${p.type}]`);
            }
        }
    });
    
    ws.subscribe(AuthService.getId(), "wash_livelog", props.deviceId, -1, (ev: SockNVTResponse) => {
        const d = ev.payload as Array<WashMachineCmdHistoryItemDTO>;
        washLiveLog.value = d;
            viewMain.value?.refreshRequestMessage();
            viewScheduled.value?.refreshRequestMessage();
    });
}

onMounted(() => {
    loading.value = true;
    ws.connect();
});

onUnmounted(() => {
    ws.close();
});


const viewMain = ref<InstanceType<typeof WashMachineView_Main> | null>();
const viewScheduled = ref<InstanceType<typeof WashMachineView_Schedule> | null>();

</script>

<template>
    <ProgressBar v-if="loading" mode="indeterminate" style="height: 6px"></ProgressBar>
    <TabView>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-home"></i>
                    <span class="font-bold white-space-nowrap">Live</span>
                </div>
            </template>
            <WashMachineView_Main 
                ref="viewMain"
                :device-id="props.deviceId" 
                :wash-machine="wash"
                :wash-machine-last-command-of-each-type="washLastCommandOfEachType" 
                :wash-machine-last-state="washLastState"
                :wash-machine-live-log="washLiveLog"
                :last-fetch-text="lastFetchString"
                :loading="loading" />
        </TabPanel>
        <TabPanel >
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-history"></i>
                    <span class="font-bold white-space-nowrap">History</span>
                </div>
            </template>
            <WashMachineView_History 
                :device-id="props.deviceId" 
                :wash-machine="wash" 
                :wash-machine-last-state="washLastState"></WashMachineView_History>
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-calendar-plus"></i>
                    <span class="font-bold white-space-nowrap">Schedule</span>
                </div>
            </template>
            <WashMachineView_Schedule
                ref="viewScheduled"
                :device-id="props.deviceId" 
                :wash-machine="wash" 
                :wash-machine-last-command-of-each-type="washLastCommandOfEachType" 
                :wash-machine-last-state="washLastState"></WashMachineView_Schedule>
        </TabPanel>
        <TabPanel v-if="hasOwnership">
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-users"></i>
                    <span class="font-bold white-space-nowrap">Share</span>
                </div>
            </template>
            <DevicePermission 
                :device-id="props.deviceId" />
        </TabPanel>
        <TabPanel>
            <template #header>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-chart-bar"></i>
                    <span class="font-bold white-space-nowrap">Online stats</span>
                </div>
            </template>
            <DeviceAvailability :device-id="props.deviceId" />
        </TabPanel>
    </TabView>
</template>