<script setup lang="ts">
import { PropertyService, State, type PropertyWithDevicesDTO } from '@/api/property.api';
import { LMap, LMarker, LTileLayer } from '@vue-leaflet/vue-leaflet';
import "leaflet/dist/leaflet.css";
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';
import { onBeforeUnmount, onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import AddDeviceSelect from '@/components/device/AddDeviceSelect.vue';
import { AuthService } from '@/api/auth.api';
import { SockNVT, type SockNVTResponse } from '@/util/websocket';
import type { ErrorDTO } from '@/api/common.api';
import type { AxiosError } from 'axios';
import Image from 'primevue/image';
import PropertyDetailsBasicInfo from '../details/PropertyDetailsBasicInfo.vue';
import ProgressBar from 'primevue/progressbar';
import PropertyDetailsDevices from '../details/PropertyDetailsDevices.vue';
import type { DeviceDTO } from '@/api/device.api';
import ScrollTop from 'primevue/scrolltop';
import ProgressSpinner from 'primevue/progressspinner';


interface Props {
    iAmTheOwner: boolean
    iHaveOnlypartialPropertyOwnership: boolean
}
const props = defineProps<Props>();

let property = ref<PropertyWithDevicesDTO>();
let route = useRoute();
let router = useRouter();
const loadedAll = ref(false);
const visible = ref(false);
const propertyId = <number>(route.params.propertyId as unknown);
const zoom = ref(17);
const coordinates = ref<[number, number]>([50, 50]);
const imgSrc = ref("");
const pageCount = ref(0);
const loadingMoreDevices = ref(false);


const getNextBatchOfPropertyWithDevices = () => {
    getPropertyWithDevices(pageCount.value, 10);
    pageCount.value += 1;
}

const getPropertyWithDevices = (pageIndex: number, pageSize: number) => {
    loadingMoreDevices.value = true;
    PropertyService.GetPropertyWithDevices(propertyId, pageIndex, pageSize).then((res) => {
        const data = res.data as PropertyWithDevicesDTO;
        if (property.value == undefined) {
            property.value = data;
        } else {    
            property.value.devices = property.value.devices.concat(data.devices);
 
            // Make unique list
            let uniqued: Array<DeviceDTO> = [];
            let unique_ids: Array<number> = [];

            for (let device of property.value.devices) {
                if (unique_ids.find(d => d == device.id) == undefined) {
                    uniqued.push(device);
                    unique_ids.push(device.id);
                }
            }
            property.value.devices = uniqued;
        }
        
        coordinates.value = [data.property.location.latitude, data.property.location.longitude];
        loadingMoreDevices.value = false;
        if (res.data.devices.length == 0) {
            loadedAll.value = true;
        }
    }).catch((err: AxiosError<ErrorDTO>) => {
        if (err.response?.status == 404) {
            router.push("/404");
        }
        loadingMoreDevices.value = false;
    });
}

const getImg = () => {
    PropertyService.GetPropertyImageBlob(propertyId).then(async res => {
        imgSrc.value = URL.createObjectURL(res.data);
    }).catch(res => {
        console.log(res);
    })
};


getImg();

// ----------------------------

interface PropertyDevicesOnlineStatus {
    property_id: number,
    online_devices: Array<number>
}

const ws = new SockNVT("ws://127.0.0.1:8300/ws");
ws.onConnect = () => {
    ws.subscribe(AuthService.getId(), "ping", propertyId, -1, (ev: SockNVTResponse) => {
        refreshDevicesOnlineStatus(ev.payload);
    });
};

onMounted(() => {
    ws.connect();
});

onBeforeUnmount(() => {
    ws.close();
});

const refreshDevicesOnlineStatus = (newData: PropertyDevicesOnlineStatus) => {
    if (property.value == undefined) {
        return;
    }
    
    // This is kind of hacky, but no single property will have so many devices
    // that this would perform poorly, and making a separate map just for device
    // online status is even uglier.
    for (let v of property.value.devices) {
        v.online = false;
    }

    for (let p of newData.online_devices) {
        const dto = property.value.devices.find((d) => d.id == p);
        if (dto == undefined) {
            continue;
        }

        dto.online = true;
    } 
}

</script>

<template>
    <ScrollTop />
    <ProgressBar mode="indeterminate" style="height: 6px" v-if="!property" />
    <div class="flex h-30rem">
        <Image 
            imageClass="property-image"
            :src="imgSrc" 
            placeholder="Property image"
            :alt="property?.property.type"
            preview
        />
        <div class="map">
            <!-- Have to use use-global-leaflet="false" otherwise the map doesn't work for some reason -->
            <LMap class="map" @ready="getNextBatchOfPropertyWithDevices" :center="coordinates" :zoom="zoom" :use-global-leaflet="false">
                <LTileLayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" layer-type="base"
                    name="OpenStreetMap" />
                <LMarker :lat-lng="coordinates" />
            </LMap>
        </div>
    </div>

    <PropertyDetailsBasicInfo :property="property?.property" />

    <template v-if="property?.property.status.state === State.PENDING">
        <div style="color: var(--indigo-500); margin: 1em; font-size: 2em; text-align: center;">Awaiting approval from the administrators...</div>
    </template>
    <template v-if="property?.property.status.state === State.DENIED">
        <div style="color: red; margin: 1em; font-size: 2em;">Rejected.</div>
        <span>Deny reason: </span><br />
        <div style="color: red; font-size: 1em;">{{ property?.property.status.denyReason }}</div>       
    </template>

    <template v-if="property?.property.status.state == State.APPROVED">
        <h2>Devices</h2>
       
        <Button @click="visible = true" v-if="!iHaveOnlypartialPropertyOwnership" icon="pi pi-plus" label="Add device" />
        <div v-else>
            You do not have sufficient permissions to add new devices to this property.
        </div>
        
        <PropertyDetailsDevices :property="property" />
        <div class="centered-content">
            <div v-if="loadedAll">
                <div style="font-weight: 500;">
                    All devices for this property have been loaded.
                </div>
            </div>
            <div v-else class="centered-content">
                <Button @click="getNextBatchOfPropertyWithDevices">Load more devices</Button>
                <ProgressSpinner v-if="loadingMoreDevices" style="width: 50px; height: 50px" strokeWidth="8"/>
            </div>
        </div>

        <Dialog v-model:visible="visible" modal>
            <AddDeviceSelect />
        </Dialog>
    </template>
</template>

<style scoped>
.property-image {
    height: 480px;
    border-radius: 32px;
    max-height: 480px;
}

.map {
    margin-left: 32px;
    width: 600px;
    border-radius: 32px; 
    z-index: 500;
}

.leaflet-control-attribution {
    display: none;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>